<template>
    <div class="bg-gray-type parallax w-100 d-flex j-center" style="min-height:50vh;">
        <div class="bg-opacitywhite2 w-100 row m-0 p-0" style="min-height:50vh;">
            <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex j-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d585.2978606340057!2d-70.60048805572588!3d9.297870078516134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c1b5b1f52f86965!2sU.E+La+Candelaria!5e0!3m2!1ses!2sve!4v1555575869448!5m2!1ses!2sve" class="w-100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 d-flex j-center p-5">
                <div class="w-100">
                    <h4 class="font-weight-bold">CONTACTO</h4>
                    <p class="font-weight-bold mb-0 text-left"><i class="fas fa-map-marker-alt"></i> Av. 2 de la Urbanización La Beatriz, Edificio La Candelaria. Valera edo. Trujillo. CP 3101 Venezuela</p>
                    <p class="font-weight-bold mb-0 text-left"><i class="fas fa-envelope"></i> ueelacandelaria@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</template>