<template>
    <div v-bind:class="opacityFooter">
        <div class="w-100 row m-0 p-0 container-animations-ow">
            <div class="col-12 col-sm-auto p-3 pl-5percent d-flex j-center wow slideInLeft">
                <img src="/images/logo.png" width="150">
            </div>
            <div class="col-12 col-sm d-flex j-center p-3 wow slideInRight delay-1s">
                <div class="row w-100 m-0 p-0">
                    <div class="col-12 col-sm-6 d-flex j-center pb-5 pb-md-0 px-md-4">
                        <div>
                            <p v-bind:class="titlePost">"Nunca consideres el estudio como una obligación, sino como una oportunidad para penetrar en el bello y maravilloso mundo del saber"</p>
                            <p v-bind:class="autorPost"><i>- Albert Einstein</i></p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-flex j-center">
                        <div>
                            <p v-bind:class="titleIcons">Visitanos</p>
                            <p v-bind:class="iconsText"><i class="fas fa-map-marker-alt mr-2"></i>Av 2 La Beatriz, Edif. La Candelaria, Valera edo Trujillo</p>
                            <p v-bind:class="iconsText"><i class="fas fa-envelope mr-2"></i>ueelacandelaria@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-12 pt-4">
                        <nav v-bind:class="navbarColor">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item active">
                                        <router-link tag="a" to="/" class="nav-link">INICIO <span class="sr-only">(current)</span></router-link>
                                    </li>
                                    <li class="nav-item">
                                        <router-link tag="a" to="/historia" class="nav-link">HISTORIA</router-link>
                                    </li>    
                                    <li class="nav-item">
                                        <router-link tag="a" to="/instalaciones" class="nav-link">INSTALACIONES</router-link>
                                    </li>
                                    <li class="nav-item">
                                        <router-link tag="a" to="/contacto" class="nav-link">CONTACTO</router-link>
                                    </li>
                                    <li class="nav-item">
                                        <router-link tag="a" to="/dashboard" class="nav-link" href="#">ACCESO DOCENTES</router-link>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.pl-5percent{
    padding-left:5% !important;
}
.bg-footer{
    background-image:url('/images/lacandelaria.jpg');
}
</style>
<script>
    export default{
        name:'footer',
        data(){
            return{

            }
        },
        computed:{
            opacityFooter: function () {
                return {
                    'bg-opacity5 w-100 d-flex j-center all-transition': this.$route.name === 'inicio',
                    'bg-opacitywhite w-100 d-flex j-center all-transition': this.$route.name != 'inicio'
                }
            },
            titlePost: function () { 
                return {
                    'text-justify text-white all-transition': this.$route.name === 'inicio',
                    'text-justify font-weight-bold all-transition ': this.$route.name != 'inicio'
                }
            },
            autorPost: function () { 
                return {
                    'text-right font-weight-bold text-white mb-0 all-transition': this.$route.name === 'inicio',
                    'text-right font-weight-bold fs-15 mb-0 all-transition ': this.$route.name != 'inicio'
                }
            },
            titleIcons: function () {
                return {
                    'text-white text-center all-transition': this.$route.name === 'inicio',
                    'text-center fs-15 font-weight-bold all-transition ': this.$route.name != 'inicio'
                }
            },
            iconsText: function () {
                return {
                    'text-left text-white mb-0 all-transition': this.$route.name === 'inicio',
                    'text-left mb-0 all-transition ': this.$route.name != 'inicio'
                }
            },
            navbarColor: function () {
                return {
                    'navbar navbar-expand-lg navbar-dark w-100 mt-auto pl-0 all-transition': this.$route.name === 'inicio',
                    'navbar navbar-expand-lg navbar-light w-100 mt-auto pl-0 font-weight-bold all-transition ': this.$route.name != 'inicio'
                }
            },
        }
    }
</script>