<template>
    <header v-bind:class="opacityBackground">
        <div v-bind:class="separator">
            <div class="row m-0 p-0">
                <div class="col d-flex j-center">
                    <p v-bind:class="textDate">Valera, {{currentDate.day}} de {{currentDate.month}} de {{currentDate.year}}</p>
                </div>
                <div class="col-auto d-flex j-center">
                    <router-link tag="button" to="/dashboard" class="btn btn-dark">INTRANET</router-link>
                </div>
            </div>
        </div>
            <div class="row m-0 p-0 pt-4 pb-2">
                <div class="col-12 col-sm-auto d-flex j-center container-animations-ow">
                    <img src="/images/logo.png" width="150" class="wow slideInLeft">
                 </div>
                <div class="col-12 col-sm d-flex">
                    <div class="w-100 d-flex j-nav-cand">
                        <div class="w-100 container-animations-ow">
                            <div class="w-100 wow slideInRight delay-1s">
                                <h1 v-bind:class="colorTitle">Unidad Educativa Estatal "Nuestra Señora de la Candelaria"</h1>            
                                <h4 v-bind:class="colorTitle2">Siendo calidad Educativa desde 1987</h4>
                            </div>
                        </div>
                        <nav v-bind:class="navbarColor">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <router-link tag="a" to="/" v-bind:class="activeColorN">INICIO <span class="sr-only">(current)</span></router-link>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    INSTITUCIÓN
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <router-link tag="a" to="/historia" class="dropdown-item">Historia</router-link>
                                    <router-link tag="a" to="/instalaciones" class="dropdown-item">Instalaciones</router-link>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <router-link tag="a" to="/contacto" class="nav-link">CONTACTO</router-link>
                                </li>
                                </ul>
                            </div>
                            </nav>
                        </div>
                    </div>
                </div>
        </header>
</template>
<script>
export default{
    name:'header',
    data(){
        return{
            currentDate:{
                year:'',
                day:'',
                month:'',
            }
        }
    },
    computed: {
        opacityBackground: function () {
            return {
                'w-100 bg-opacity5 p-3 all-transition': this.$route.name === 'inicio',
                'w-100 bg-opacitywhite p-3 all-transition': this.$route.name != 'inicio'
            }
        },
        separator: function(){
            return{
                'borderb-white-1 pb-1 mb-2 all-transition': this.$route.name === 'inicio',
                'borderb-black-1 pb-1 mb-2 all-transition': this.$route.name != 'inicio'
            }
        },
        textDate: function(){
            return{
                'text-white mb-0 text-date w-100 text-left all-transition': this.$route.name === 'inicio',
                'mb-0 text-date w-100 text-left all-transition font-weight-bold': this.$route.name != 'inicio'
            }
        },
        colorTitle: function(){
            return{
                'text-white font-r-title1 w-100 pl-1 all-transition': this.$route.name === 'inicio',
                'w-100 pl-1 font-r-title1 all-transition font-weight-bold': this.$route.name != 'inicio'
            }
        },
        colorTitle2: function(){
            return{
                'text-white font-r-title2 w-100 pl-1 all-transition': this.$route.name === 'inicio',
                'w-100 pl-1 font-r-title2 all-transition': this.$route.name != 'inicio'
            }
        },
        navbarColor: function(){
            return{
                'all-transition navbar navbar-expand-lg navbar-dark w-100 mt-auto pl-0': this.$route.name === 'inicio',
                'all-transition navbar navbar-expand-lg navbar-light w-100 mt-auto pl-0 font-weight-bold': this.$route.name != 'inicio'
            }
        },
        activeColorN: function(){
            return{
                'all-transition nav-link bbb-white': this.$route.name === 'inicio',
                'all-transition nav-link bbb-black': this.$route.name != 'inicio'
            }
        },
    },
    mounted(){
        var today = new Date();
        this.currentDate.year = today.getFullYear();
        var month = today.getMonth();
        this.currentDate.day = today.getDate();
        if(month == 0){
            this.currentDate.month = 'Enero';
        }else if(month == 1){
            this.currentDate.month = 'Febrero';
        }else if(month == 2){
            this.currentDate.month = 'Marzo';
        }else if(month == 3){
            this.currentDate.month = 'Abril';
        }else if(month == 4){
            this.currentDate.month = 'Mayo';
        }else if(month == 5){
            this.currentDate.month = 'Junio';
        }else if(month == 6){
            this.currentDate.month = 'Julio';
        }else if(month == 7){
            this.currentDate.month = 'Agosto';
        }else if(month == 8){
            this.currentDate.month = 'Septiembre';
        }else if(month == 9){
            this.currentDate.month = 'Octubre';
        }else if(month == 10){
            this.currentDate.month = 'Noviembre';
        }else if(month == 11){
            this.currentDate.month = 'Diciembre';
        }
    }
}
</script>
<style scoped>

.text-date{
    text-transform: uppercase;
}
.j-nav-cand{
    flex-direction:column;
    flex-wrap:wrap;
    align-items:flex-start;
}
.active a{
    border-bottom:1px solid white;
}
.active .bbb-white{
    border-bottom:1px solid white;
}
.active .bbb-black{
    border-bottom:1px solid black;
}
.p-absolute-lc{
    position:absolute;
}
.bg-opacity-navbar{
    background-color:rgba(52,58,64,.9)
}
.container-animations-ow-x{
    overflow-x:hidden;
}
.all-transition{
    -webkit-transition: all 1s; 
    transition: all 1s; 
}
@media screen and (max-width:575px){
    .font-r-title1{
        text-align:center;
        font-size:30px;
    }
    .font-r-title2{
        text-align:center;
        font-size:25px;
        text-transform:uppercase;
        letter-spacing:3px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .font-r-title1{
        text-align:left;
        font-size:30px;
    }
    .font-r-title2{
        text-align:left;
        font-size:25px;
        text-transform:uppercase;
        letter-spacing:3px;
    }
}
@media screen and (min-width:993px) and (max-width:1200px){
    .font-r-title1{
        text-align:left;
        font-size:40px;
    }
    .font-r-title2{
        text-align:left;
        font-size:30px;
    }
}
@media screen and (min-width:1200px){
    .font-r-title1{
        text-align:left;
    }
    .font-r-title2{
        text-align:left;
    }
}

</style>
