<template>
    <div class="bg-gray-type w-100 mb-1">
        <div class="bg-opacitywhite2 w-100 d-flex j-center">
            <div class="w-100 container-animations-ow" style="max-width:1000px">
                <div class="w-100 row m-0 px-0 pt-4 pb-0  container-animations-ow">
                    <div class="col-12 px-2 wow slideInLeft">
                        <p class="text-center p-3 font-weight-bold fs-15">Impulsando jóvenes con principios y valores</p>
                    </div>
    <!--                <div class="col-12 col-md-6 col-lg-5">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block m-auto h-45vh" src="/images/img.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Loren ipsum</h5>
                                        <p>Aqui va un breve mensaje</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                <img class="d-block m-auto h-45vh" src="/images/img1.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                <img class="d-block m-auto h-45vh" src="/images/img2.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div> -->
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInLeft">
                        <div class="w-100">
                            <p class="text-center w-100 p-3 fs-text-history"><i class="fas fa-quote-left mr-2 fs-2 icon-q-left"></i>La Unidad Educativa Estatal “Nuestra Señora de la Candelaria” comenzó funcionando como una pequeña escuela privada en el año 1975, dirigida en ese entonces por la señorita Filomena Torres</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInRight">
                        <img src="/images/frente.jpeg" class="img-history" />
                    </div>
                </div>
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 ">
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInLeft">
                        <img src="/images/2.jpg" class="img-history" />
                    </div>
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInRight">
                        <p class="text-center w-100 p-3 fs-text-history">En el año 1979 pasa a ser una institución dependiente del ejecutivo nacional, coordinada por la profesora Aizza Ruiz, impartiendo actividades educativas desde preescolar hasta sexto grado.</p>
                    </div>
                </div>
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 ">
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInLeft">
                        <p class="text-center w-100 p-3 fs-text-history">En el año 1983 es trasladada a su nueva sede construida con la finalidad de satisfacer las necesidades educacionales de la inmensa población de niños y adolescentes que habitaban en esa época la urbanización “La Beatriz”. </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInRight">
                        <img src="/images/4.jpg" class="img-history" />
                    </div>
                </div>
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 ">
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInLeft">
                        <img src="/images/5.jpg" class="img-history" />
                    </div>
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInRight">
                        <p class="text-center w-100 p-3 fs-text-history">En el periodo de 1983 a 1984 comenzó como unidad experimental y su director era el Prof. Pedro Mendoza, como subdirector estaba el profesor Adriano Valero y poco después pasa a ser sustituido por el profesor Pedro Perdomo.</p>
                    </div>
                </div> 
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 "> 
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInLeft"> 
                        <p class="text-center w-100 p-3 fs-text-history">En el año 1984 se reemplaza por la profesora Arelis de Palakay, quien permació 3 meses en el cargo para luego ser sustituida por el profesor Arturo Briceño, quien permaneció hasta el año 1985.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInRight">
                        <img src="/images/6.jpg" class="img-history" />
                    </div> 
                </div>
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 ">
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInRight">
                        <img src="/images/3.jpg" class="img-history" />
                    </div>
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInLeft">
                        <p class="text-center w-100 p-3 fs-text-history">En el año 1987 fue nombrada como subdirectora la profesora Alba Albarrán, luego en 1995 se encarga el Lic. Hernán Viloria quien en 1997 egresa la primera promoción de Bachilleres en Ciencias.</p>
                    </div>
                </div>
                <div class="container-animations-ow w-100 row m-0 px-0 pt-0 pb-0 ">
                    <div class="col-12 col-md-6 col-lg d-flex j-center wow slideInRight">
                        <p class="text-center w-100 p-3 fs-text-history">Desde ese año, han sido directores por turnos los licenciados Guillermo Olmos, Hernan Gonzalez, Duilio Barrios, Marlene Flores, Daxy Materan, Lina Vasquez, Gloria Peña y Neira Aldana, Judith Gonzalez y Freddy Graterol. <i class="fas fa-quote-right ml-2 fs-2 icon-q-right"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-auto d-flex j-center p-0 wow slideInLeft">
                        <img src="/images/empleados.jpg" class="img-history" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
@media screen and (max-width:991px){
    .img-history{
    width:100% !important
    }
    .fs-text-history{
        font-size:1.3rem;
    }
}
@media screen and (min-width:992px){
    .img-history{
        width:500px !important
    }
    .fs-text-history{
        font-size:1.5rem;
    }
}

</style>