<template>
    <div class="container-fluid p-0">
        <div class="bg-main-home parallax w-100 mb-1">
            <div class="bg-opacity5 w-100 d-flex j-center">
                <div class="w-100 row m-0 px-2 py-4 pb-5 container-animations-ow">
                    <div class="col-12 wow slideInDown">
                        <p class="text-center text-white pb-3 font-weight-bold fs-15">Impulsando jóvenes con principios y valores</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 pb-5 wow slideInLeft delay-1s">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block m-auto h-45vh" src="/images/img.jpg" alt="First slide">

                                </div>
                                <div class="carousel-item">
                                <img class="d-block m-auto h-45vh" src="/images/img1.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                <img class="d-block m-auto h-45vh" src="/images/img2.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7 d-flex j-center pb-1 pb-sm-5 wow slideInRight delay-1s">
                        <p class="text-center text-white w-100 p-3 fs-15"><i class="fas fa-quote-left mr-2 fs-2 icon-q-left"></i>En nuestra institución nos apasiona ofrecer al alumnado el acceso a una educación gratuita, efectiva y de calidad, mediante determinadas herramientas didacticas y los lineamientos del Gobierno Bolivariano, favoreciendo en el crecimiento integral de los jovenes que forman parte de esta familia.<i class="fas fa-quote-right ml-2 fs-2 icon-q-right"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-line-gray parallax w-100 mb-1">
            <div class="bg-opacity85 w-100 d-flex j-center">
                <div class="w-100 container-animations-ow">
                <p class="p-3 text-white fs-15 wow slideInDown">CONOCE NUESTRAS INSTALACIONES</p>
                <div class="row m-0 p-0">
                    <div class="col-12 col-sm-6 col-md-3 p-0 wow slideInUp delay-1s">
                        <img src="/images/frente.jpeg" class="inst-img" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0 wow slideInUp delay-1s">
                        <img src="/images/kids.jpg" class="inst-img" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0 wow slideInUp delay-1s">
                        <img src="/images/green.jpg" class="inst-img" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 p-0 wow slideInUp delay-1s">
                        <img src="/images/img3.jpg" class="inst-img" />
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name:'inicio',
    }
</script>
<style sceopd>
.h-45vh{
    height:45vh;
}
.icon-q-right{
    position:relative;
    bottom:-15px;
}
.icon-q-left{
    position:relative;
    top:-15px;
}
.inst-img{
    width:100%;
    height:100%;
}
</style>