<template>
    <div class="minh-100vh py-4 container-animations-ow">
        <h3 class="text-center w-100 mb-3 font-weight-bold wow slideInLeft">Nuestras Instalaciones</h3>
        <div class="row m-0 p-0 wow slideInRight delay-1s">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-0 p-0 bg-inst-1 d-flex bg-normal">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <p class="fs-15 font-weight-bold m-0">Edificio Principal</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-0 p-0 bg-inst-2 d-flex bg-normal">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Tarima Central</p>
                        <p class="text-justify">Ideal para eventos y actos académicos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-0 p-0 d-flex bg-normal" style="background-image:url('/images/aulas.jpg')">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Aulas de Clase</p>
                        <p class="text-justify">Adaptadas para el crecimiento integral de tantos jóvenes en su etapa inicial</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-0 p-0 bg-inst-4 d-flex bg-normal">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Areas Verdes</p>
                        <p class="text-justify">Mantenidas como una parte especial del segundo hogar de nuestros estudiantes</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto p-0 d-flex bg-normal" style="background-image:url('/images/laboratorios.jpg');">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Laboratorios de Computación</p>
                        <p class="text-justify">Por que integrar la tecnologia dentro de la institución también es importante</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto p-0 d-flex bg-normal" style="background-image:url('/images/areadept.jpg')">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Parque Central</p>
                        <p class="text-justify">Con actividades deportivas que promueven la recreacion</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto p-0 d-flex bg-normal" style="background-image:url('/images/comedor.jpg')">
                <div class="bg-opacitywhite w-100 d-flex j-center p-3 message-img">
                    <div class="w-100">
                        <p class="fs-15 font-weight-bold m-0">Comedor</p>
                        <p class="text-justify">Por que la alimentacion de nuestros estudiantes tambien es importante</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
.bg-inst-1{
    background-image:url('/images/frente.jpeg');
}
.bg-inst-2{
    background-image:url('/images/img.jpg');
}
.bg-inst-3{
    background-image:url('/images/bolsos.jpg');
}
.bg-inst-4{
    background-image:url('/images/green.jpg');
}
.bg-inst-5{
    background-image:url('/images/empleados.jpg');
}
.bg-inst-6{
    background-image:url('/images/img3.jpg');
}
.bg-inst-7{
    background-image:url('/images/img2.jpg');
}
.bg-normal{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:500px;
}
.message-img{
    transition:height 1s;
    -webkit-transition:height 1s;
    height:0px;
    overflow:hidden;
    visibility:hidden;
}
.bg-normal:hover > .message-img{
    height:500px !important;
    visibility:visible !important;
}
.bg-normal:hover ~ .message-img{
    height:500px !important;
    visibility:visible !important;
}
</style>