<template>
    <div>
        <div class="bg-calificaciones parallax minh-400px w-100">
            <div class="bg-opacitywhite3 w-100 minh-400px d-flex j-center">
                <div class="row w-100 m-0 p-0 container-animations-ow">
                    <div class="col-12 col-md-6 d-flex j-center p-3 wow slideInLeft">
                        <div>
                            <p class="font-weight-bold">Desde tu usuario administrador podrás:</p>
                            <p class="font-weight-bold text-left fs-15 fs-12i"><i class="fas fa-user-graduate mr-2 w-icon-i"></i> Consultar información estudiantil</p>
                            <p class="font-weight-bold text-left fs-15 fs-12i"><i class="fas fa-user-tie mr-2 w-icon-i"></i> Registrar docentes</p>
                            <p class="font-weight-bold text-left fs-15 fs-12i"><i class="fas fa-clipboard-check mr-2 w-icon-i"></i> Procesar y gestionar inscripciones</p>
                            <p class="font-weight-bold text-left fs-15 fs-12i"><i class="fas fa-check mr-2 w-icon-i"></i> Obtener estadisticas educacionales</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex j-center p-3 wow slideInRight delay-1s">
                        <div class="p-4 bg-light minw-300px border-rd-10px shadow mb-5 mb-sm-0">
                            <p class="text-center">INICIAR SESIÓN</p>
                            <form @submit.prevent="tryLogin()">
                                <input required class="w-100 form-control mb-3" placeholder="Ingrese su usuario" type="text" v-model="login.user" />
                                <input required class="w-100 form-control mb-3" minlength="8" title="Debe tener al menos 8 caracteres" placeholder="Ingrese su contraseña" type="password" v-model="login.password" />
                                <button class="w-100 btn btn-info" :disabled="status.loading == true"><span v-bind:class="{ 'd-none': status.loading}">ENTRAR</span><span style="display:none;" v-bind:class="{ 'd-block': status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Swal from 'sweetalert2'
    export default{
        name:'login',
        data(){
            return{
                login:{
                    user:'',
                    password:'',
                },
                status:{
                    loading:false,
                    error:'',
                    ajax:false,
                },
                userData:[],
            }
        },
        methods:{
            tryLogin(){
                var self=this;
                this.status.loading = true;
                $.ajax({
                    url:"/registros/leerUsuarios",
                    type:"POST",
                    async:true,
                    data:{
                        DocenteEmail: self.login.user
                    },
                    timeout:10000,
                    beforeSend:function(object){
                        localStorage.removeItem('login_sisacademico');
                        self.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.status.loading = false;
                                self.status.ajax = false;
                                if(response.values.length == 0){
                                    Swal.fire({
                                        type: 'error',
                                        title: 'ERROR',
                                        text: 'No hay usuarios registrados con ese e-mail',
                                    })
                                }else{
                                    self.userData = response.values;
                                    if(self.userData[0].DocenteAutorizacion == false){
                                        Swal.fire({
                                            type: 'error',
                                            title: 'NO AUTORIZADO',
                                            text: 'Usted no tiene privilegios para acceder al sistema',
                                        })
                                    }else if(self.userData[0].DocentePassword == self.login.password){
                                        localStorage.setItem('login_sisacademico', JSON.stringify(self.userData[0]));
                                        self.$router.push('/dashboard');
                                    }else{
                                        Swal.fire({
                                            type: 'error',
                                            title: 'ERROR',
                                            text: 'Su contraseña es incorrecta',
                                        })
                                    }
                                }
                                }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);
                                Swal.fire({
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Verifique su conexión a internet',
                                });
                                                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response);
                            Swal.fire({
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Verifique su conexión a internet',
                                });
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.status.loading = false;
                            if(self.status.ajax == true){
                                Swal.fire({
                                    type: 'error',
                                    title: 'ERROR',
                                    text: 'Verifique su conexión a internet',
                                });
                            }
                        },$);
                    }
                })
            }
        }
    }
</script>
<style scoped>
.w-icon-i{
    width:1em !important;
}
.minw-300px{
    min-width:300px;
    position:relative;
}
.border-rd-10px{
    border-radius:10px;
}
.error-message{
    position:relative;
    top:-1.5rem;
    left:-1.5rem;
    width:calc(100% + 3rem);
    border-radius:10px;
}
.icon-alert{
    position:absolute;
    border-radius:100%;
    top:-0.7em;
    left:40%;
    width:1em !important;
    height:1em !important;
}
.bg-opacitywhite3{
    background-color:rgba(255,255,255,.9);
}
@media screen and (max-width:950px){
    .fs-12i{
        font-size:1.2rem !important;
    }
}

</style>