<style>
html{
    height:100%;
    box-sizing:border-box;
}
*{
    font-size:20px;
}
*,
*:before,
*:after{
    box-sizing:inherit;
}
body{
    font-family: "Segoe UI Light";
    position:relative;
    margin:0;
    min-height:100%;
    padding:0 !important;    
}
footer{
    position:absolute;
    text-align:center;
}
.fade-enter-active{
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.fade-leave-active{
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity:0;
}
    /* PARALLAX CSS */

.parallax{ 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-opacity5{
    background-color:rgba(1,1,1,.7);
}
.bg-opacity85{
    background-color:rgba(1,1,1,.85);
}
.minh-100vh{
    min-height:100vh;
}
.fs-white{
    color:white;
}
.j-center{
    justify-content:center;
    align-items:center;
    text-align:center;
}
.bg-line-gray{
    background-image:url('/images/abstract.jpg');
}
.bg-edificio{
    background-image:url('/images/img3.jpg');
}
.bg-calificaciones{
    background-image:url('/images/calificaciones.png');
}
.bg-main-home{
    background-image:url('/images/lineas.jpg');
}
.title-page{
    border-left:4px solid #17a2b8;
}
.container-animations-ow{
    overflow:hidden;
}

.scale-transform-1:hover{
  transform: scale(1.1);
}

.pulse-animation-hover:hover {
    -webkit-animation: pulse .6s infinite alternate;
    -moz-animation: pulse .6s infinite alternate;
    -ms-animation: pulse .6s infinite alternate;
    -o-animation: pulse .6s infinite alternate;
    animation: pulse .6s infinite alternate;
}
.cursor-pointer{
    cursor:pointer;
}
@-webkit-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-moz-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-ms-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-o-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}

@media screen and (min-width:500px){
    .icon-buttons-lc:hover ~ .icon-buttons-text{
        flex:0 0 75% !important;
    }
    .icon-buttons-lc:hover > .icon-buttons-text{
        flex:0 0 75% !important;
    }
    .icon-buttons-lc:hover ~ .icon-buttons-text1{
        width:160px;
    }
    .icon-buttons-lc:hover > .icon-buttons-text1{
        width:160px;
    }
    .icon-buttons-lc:hover ~ .icon-buttons-text2{
        width:85px;
    }
    .icon-buttons-lc:hover > .icon-buttons-text2{
        width:85px;
    }
    .icon-buttons-text{
        width:0;
        overflow:hidden;
        -webkit-transition: width 2s;
        transition: width 2s;
        flex:none !important;
    }
}
.fs-3{
    font-size:3rem;
}
.fs-2{
    font-size:2rem;
}
.fs-15{
    font-size:1.5rem;
}
.bg-gray-type{
    background-image:url('/images/gray.jpg');
    background-size:800px 800px;
    background-repeat:repeat;
}
.bg-opacitywhite2{
    background-color:rgba(255,255,255,.8);
}
.form-submitted-validate .form-control:invalid{
    background-color:rgba(220,53,69,.1);
} 
.form-invalid-bg{
    background-color:rgba(220,53,69,.1) !important;
}
@media screen and (max-width: 1100px) {
  .tabla-responsive{
    border: 1px solid #ccc;
  }
  .tabla-responsive thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
  .tabla-responsive tr {
      border-bottom: 3px solid #ddd;
      display: block;
      background: linear-gradient(to left, #f8f8f8 60%, #17a2b8 40%);
      overflow-x:auto;
  }
  .tabla-doble{
    min-height:90px;
  }
  .tabla-responsive td {
      display: block;
      text-align: right;
      padding-left:42% !important;
  }
  .tabla-responsive td::before {
      content: attr(data-label);
      float: left;
      width:35%;
      position:absolute;
      left:5%;
      color:white;
      text-align:left;
      text-transform:uppercase;
  }
}

</style>
<template>
    <body class="p-0">
        <div class="parallax bg-edificio mb-1" v-if="['dashboard','home','routerView','alumnos','nuevoalumno','docentes','inscripcion','secciones','seccion','periodos','modificaralumno'].indexOf($route.name) < 0">
            <vHeader></vHeader>
        </div>
        <router-view></router-view>
        <div class="parallax bg-footer w-100 mt-1" v-if="['dashboard','home','routerView','alumnos','nuevoalumno','docentes','inscripcion','secciones','seccion','periodos','login','modificaralumno'].indexOf($route.name) < 0">
            <vFooter></vFooter>
        </div>
    </body>
</template>
<script>
    import WOW from 'wow.js';
    import vHeader from './templates/inicio/header.vue';
    import vFooter from './templates/inicio/footer.vue'
    export default{
        name:'index',
        components:{
            vHeader,
            vFooter
        },
        mounted(){
            new WOW().init();
        }
    }
</script>
<style>
.minh-400px{
    min-height:calc(100vh - 300px);
}
.bg-opacitywhite{
    background-color:rgba(255,255,255,.75)
}
.borderb-white-1{
    border-bottom:1px solid white;
}
.borderb-black-1{
    border-bottom:1px solid black;
}
</style>