<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="row m-0 p-0 w-100 container-animations-ow">
            <div class="col-12 col-lg p-1 mb-3 d-flex wow slideInLeft">
                <div class="w-100 card title-page p-3 d-flex j-center">
                    <h4 class="m-0 p-0 w-100 text-left">Alumnos registrados</h4>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-9 col-lg-auto p-1 mb-3 d-flex wow slideInDown">
                <div class="w-100 card p-3 d-flex j-center">
                    <form class="w-100">
                        <span class="m-0 p-0 d-inline-block">Buscar:</span>
                        <input class="form-control d-inline-block w-auto" v-model="search" v-on:input="BuscarAlumnos()" />
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 col-lg-auto p-1 mb-3 d-flex wow slideInRight">
                <router-link tag="button" to="/dashboard/alumnos/nuevo" class="w-100 btn btn-success p-3"><i class="fas fa-user-plus mr-2"></i>Nuevo</router-link>
            </div>
        </div>
        <transition name="fade">
            <div class="w-100 p-1 container-animations-ow" v-if="alumnos.length>0">
                <div class="p-0 p-sm-3 card">
                    <table class="table table-hover tabla-responsive">
                        <thead>
                            <tr class="mb-3 animated slideInLeft">
                                <th class="border-top-0 pt-1">Cedula</th>
                                <th class="border-top-0 pt-1">Nombres</th>
                                <th class="border-top-0 pt-1">Apellidos</th>
                                <th class="border-top-0 pt-1">Dirección</th>
                                <th class="border-top-0 pt-1">Representante</th>
                                <th class="border-top-0 pt-1">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr v-for="alumno in alumnos" :key="alumno.AlumnoID" class="wow slideInLeft">
                                <td data-label="Cédula">{{alumno.AlumnoCedula}}</td>
                                <td data-label="Nombres">{{alumno.AlumnoFname}} {{alumno.AlumnoMname}}</td>
                                <td data-label="Apellidos">{{alumno.AlumnoLname}} {{alumno.AlumnoLLname}}</td>
                                <td data-label="Direccion">{{alumno.AlumnoDireccion}}</td>
                                <td data-label="Representante" class="tabla-doble"><span v-if="alumno.AlumnoRepresentanteStatus == 'true'">{{alumno.AlumnoRepresentanteNombre}}</span><span v-if="alumno.AlumnoRepresentanteStatus != 'true' && alumno.AlumnoPadreStatus == 'true'">{{alumno.AlumnoPadreNombre}}</span><span v-if="alumno.AlumnoRepresentanteStatus != 'true' && alumno.AlumnoPadreStatus != 'true' && alumno.AlumnoROtroStatus == 'true'">{{alumno.AlumnoROtroNombre}}</span></td>
                                <td data-label="Opciones">
                                    <div class="w-100">
<!--                                        <a class="btn btn-sm btn-info p-2 text-white" data-toggle="modal" data-target="#editarAlumno" v-on:click="sendCurrentModify(alumno)"> -->
                                        <a class="btn btn-sm btn-info p-2 text-white"  v-on:click="$router.push('/dashboard/alumnos/modificar/'+alumno.AlumnoID)">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-sync"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ACTUALIZAR</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="w-100 mt-2">
                                        <a class="btn btn-sm btn-success p-2 text-white" data-toggle="modal" data-target="#verAlumno" v-on:click="sendCurrent(alumno)">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-search-plus"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text2">
                                                    <p class=" mb-0">VER</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==true && 
            alumnos.length==0">
                <i class="fas fa-circle-notch fa-spin fa-2x"></i>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==false&&
            alumnos.length==0">
                <i class="far fa-frown fa-spin fa-2x"></i>
                <h4 class="text-muted mt-2">No hay estudiantes registrados</h4>
            </div>
        </transition>
        <div class="modal fade" id="verAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{current.AlumnoFname}} {{current.AlumnoMname}} {{current.AlumnoLname}} {{current.AlumnoLLname}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row m-0 p-0">
                        <div class="col-12 col-sm-6 col-lg-4">
                            <span>Cédula</span>
                            <p class="font-weight-bold">{{current.AlumnoCedula}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <span>Nacimiento</span>
                            <p class="font-weight-bold">{{current.AlumnoFNacimiento}} en {{current.AlumnoNacimiento}}</p>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-4">
                            <span>Genero</span>
                            <p class="font-weight-bold">{{current.AlumnoGenero}}</p>
                        </div>
                        <div class="col-12 col-sm-8 col-lg-12">
                            <span>Dirección</span>
                            <p class="font-weight-bold">{{current.AlumnoDireccion}}</p>
                        </div>
                        <div class="col-12">
                            <span>Tallas</span>
                            <p class="font-weight-bold">Camisa: {{current.AlumnoTallaCamisa}}, Pantalon: {{current.AlumnoTallaPantalon}}, Zapatos: {{current.AlumnoTallaZapatos}}, Estatura: {{current.AlumnoEstatura}} y Peso: {{current.AlumnoPeso}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Alergias</span>
                            <p class="font-weight-bold">{{current.AlumnoAlergias}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Enfermedades</span>
                            <p class="font-weight-bold">{{current.AlumnoEnfermedades}}</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <span>Plantel de Procedencia</span>
                            <p class="font-weight-bold">{{current.AlumnoPlantelProcedencia}} - {{current.AlumnoPlantelCodigo}} - {{current.AlumnoPlantelLocalidad}}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <span>Canaima:</span>
                            <p class="font-weight-bold"><span v-if="current.AlumnoCanaima == 'true'">Si tiene</span><span v-if="current.AlumnoCanaima != 'true'">No tiene</span>. Operatividad: {{current.AlumnoCanaimaOperatividad}}. Observaciones: {{current.AlumnoCanaimaObservaciones}}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <span>Beca</span>
                            <p class="font-weight-bold"><span v-if="current.AlumnoBeca == 'true'">Si tiene</span><span v-if="current.AlumnoBeca != 'true'">No tiene</span>. Nivel: {{current.AlumnoBecaNivel}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Vivienda</span>
                            <p class="font-weight-bold">{{current.AlumnoTipoVivienda}} {{current.AlumnoCondicionVivienda}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Carga Familiar</span>
                            <p class="font-weight-bold">{{current.AlumnoCargaFamiliar}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Necesidades Especiales</span>
                            <p class="font-weight-bold">{{current.AlumnoNecesidades}}</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <span>Lateralidad</span>
                            <p class="font-weight-bold">{{current.AlumnoLateralidad}}</p>
                        </div>
                        <div class="row m-0 p-0 w-100" v-if="current.AlumnoRepresentanteStatus == 'true'">
                            <div class="col-12 col-lg-9">
                                <span>Datos de la Madre</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteNombre}} {{current.AlumnoRepresentanteCedula}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <span>Estado Civil</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteCivil}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nacimiento</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteFnacimiento}} en {{current.AlumnoRepresentanteNacimiento}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nivel de Instrucción</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteInstruccion}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Ocupación</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteOcupacion}}</p>
                            </div>
                            <div class="col-12 col-lg-5 col-lg-12 col-xl-6">
                                <span>Teléfonos</span>
                                <p class="font-weight-bold">{{current.AlumnoTelefono}} {{current.AlumnoRepresentanteCel}} {{current.AlumnoRepresentanteTelOtro}}</p>
                            </div>
                            <div class="col-12 col-lg-7 col-lg-12 col-xl-6">
                                <span>Dirección</span>
                                <p class="font-weight-bold">{{current.AlumnoRepresentanteDireccion}}</p>
                            </div>
                        </div>
                        <div class="row m-0 p-0 w-100" v-if="current.AlumnoPadreStatus == 'true'">
                            <div class="col-12 col-lg-9">
                                <span>Datos del Padre</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreNombre}} {{current.AlumnoPadreCedula}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <span>Estado Civil</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreCivil}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nacimiento</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreFnacimiento}} en {{current.AlumnoPadreNacimiento}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nivel de Instrucción</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreInstruccion}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Ocupación</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreOcupacion}}</p>
                            </div>
                            <div class="col-12 col-lg-5 col-lg-12 col-xl-6">
                                <span>Teléfonos</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreTel}} {{current.AlumnoPadreCel}} {{current.AlumnoPadreTelOtro}}</p>
                            </div>
                            <div class="col-12 col-lg-7 col-lg-12 col-xl-6">
                                <span>Dirección</span>
                                <p class="font-weight-bold">{{current.AlumnoPadreDireccion}}</p>
                            </div>
                        </div>
                        <div class="row m-0 p-0 w-100" v-if="current.AlumnoROtroStatus == 'true'">
                            <div class="col-12 col-lg-9">
                                <span>Representante</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroNombre}} {{current.AlumnoROtroCedula}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <span>Estado Civil</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroCivil}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nacimiento</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroFnacimiento}} en {{current.AlumnoROtroNacimiento}}</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Nivel de Instrucción</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroInstruccion}}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <span>Ocupación</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroOcupacion}}</p>
                            </div>
                            <div class="col-12 col-lg-5 col-lg-12 col-xl-6">
                                <span>Teléfonos</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroTel}} {{current.AlumnoROtroCel}} {{current.AlumnoROtroTelOtro}}</p>
                            </div>
                            <div class="col-12 col-lg-7 col-lg-12 col-xl-6">
                                <span>Dirección</span>
                                <p class="font-weight-bold">{{current.AlumnoROtroDireccion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-info" v-on:click="$router.push('/dashboard/alumnos/modificar/'+current.AlumnoID)" data-dismiss="modal">Modificar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
td{
    vertical-align:middle !important;
} 
</style>
<script>
    import Swal from 'sweetalert2';
    export default{
        name:'nuevoalumno',
        data(){
            return{
                alumnos:'',
                ajax:'',
                loading:'',
                search:'',
                current:{
                    AlumnoFname:'', 
                    AlumnoMname:'',
                    AlumnoLname:'',
                    AlumnoLLname:'',
                    AlumnoCedula:'',                            
                    AlumnoDireccion:'',
                    AlumnoGenero:'',
                    AlumnoFNacimiento:'',
                    AlumnoRepresentanteNombre:'',
                    AlumnoRepresentanteCedula:'',
                    AlumnoTelefono:'',
                    AlumnoNacimiento:'',
                    AlumnoTallaCamisa:'',
                    AlumnoTallaPantalon:'',
                    AlumnoTallaZapatos:'',
                    AlumnoEstatura:'',
                    AlumnoPeso:'',
                    AlumnoAlergias:'',
                    AlumnoEnfermedades:'',
                    AlumnoPlantelProcedencia:'',
                    AlumnoPlantelCodigo:'',
                    AlumnoPlantelLocalidad:'',
                    AlumnoCanaima:'',
                    AlumnoCanaimaSerial:'',
                    AlumnoCanaimaOperatividad:'',
                    AlumnoCanaimaObservaciones:'',
                    AlumnoLateralidad:'',
                    AlumnoHermanosEstudiantes:'',
                    AlumnoHermanosObservaciones:'',
                    AlumnoBeca:'',
                    AlumnoBecaNivel:'',
                    AlumnoTipoVivienda:'',
                    AlumnoCondicionVivienda:'',
                    AlumnoCargaFamiliar:'',
                    AlumnoNecesidades:'',
                    AlumnoRepresentanteCivil:'',
                    AlumnoRepresentanteNacimiento:'',
                    AlumnoRepresentanteFnacimiento:'',
                    AlumnoRepresentanteInstruccion:'',
                    AlumnoRepresentanteOcupacion:'',
                    AlumnoRepresentanteCel:'',
                    AlumnoRepresentanteTelOtro:'',
                    AlumnoRepresentanteDireccion:'',
                    AlumnoPadreNombre:'',
                    AlumnoPadreCedula:'',
                    AlumnoPadreCivil:'',
                    AlumnoPadreFnacimiento:'',
                    AlumnoPadreNacimiento:'',
                    AlumnoPadreDireccion:'',
                    AlumnoPadreInstruccion:'',
                    AlumnoPadreOcupacion:'',
                    AlumnoPadreTel:'',
                    AlumnoPadreCel:'',
                    AlumnoPadreTelOtro:'',
                    AlumnoROtroCedula:'',
                    AlumnoROtroNombre:'',                            
                    AlumnoROtroParentesco:'',
                    AlumnoROtroCivil:'',
                    AlumnoROtroFnacimiento:'',
                    AlumnoROtroNacimiento:'',
                    AlumnoROtroDireccion:'',
                    AlumnoROtroInstruccion:'',
                    AlumnoROtroOcupacion:'',
                    AlumnoROtroTel:'',
                    AlumnoROtroCel:'',
                    AlumnoROtroTelOtro:'',
                },
                currentModify:{
                    AlumnoID:'',
                    AlumnoFname:'', 
                    AlumnoMname:'',
                    AlumnoLname:'',
                    AlumnoLLname:'',
                    AlumnoCedula:'',                            
                    AlumnoDireccion:'',
                    AlumnoGenero:'',
                    AlumnoFNacimiento:'',
                    AlumnoRepresentanteNombre:'',
                    AlumnoRepresentanteCedula:'',
                    AlumnoTelefono:'',
                    AlumnoNacimiento:'',
                    AlumnoTallaCamisa:'',
                    AlumnoTallaPantalon:'',
                    AlumnoTallaZapatos:'',
                    AlumnoEstatura:'',
                    AlumnoPeso:'',
                    AlumnoAlergias:'',
                    AlumnoEnfermedades:'',
                    AlumnoPlantelProcedencia:'',
                    AlumnoPlantelCodigo:'',
                    AlumnoPlantelLocalidad:'',
                    AlumnoCanaima:'',
                    AlumnoCanaimaSerial:'',
                    AlumnoCanaimaOperatividad:'',
                    AlumnoCanaimaObservaciones:'',
                    AlumnoLateralidad:'',
                    AlumnoHermanosEstudiantes:'',
                    AlumnoHermanosObservaciones:'',
                    AlumnoBeca:'',
                    AlumnoBecaNivel:'',
                    AlumnoTipoVivienda:'',
                    AlumnoCondicionVivienda:'',
                    AlumnoCargaFamiliar:'',
                    AlumnoNecesidades:'',
                    AlumnoRepresentanteCivil:'',
                    AlumnoRepresentanteNacimiento:'',
                    AlumnoRepresentanteFnacimiento:'',
                    AlumnoRepresentanteInstruccion:'',
                    AlumnoRepresentanteOcupacion:'',
                    AlumnoRepresentanteCel:'',
                    AlumnoRepresentanteTelOtro:'',
                    AlumnoRepresentanteDireccion:'',
                    AlumnoPadreNombre:'',
                    AlumnoPadreCedula:'',
                    AlumnoPadreCivil:'',
                    AlumnoPadreFnacimiento:'',
                    AlumnoPadreNacimiento:'',
                    AlumnoPadreDireccion:'',
                    AlumnoPadreInstruccion:'',
                    AlumnoPadreOcupacion:'',
                    AlumnoPadreTel:'',
                    AlumnoPadreCel:'',
                    AlumnoPadreTelOtro:'',
                    AlumnoROtroCedula:'',
                    AlumnoROtroNombre:'',                            
                    AlumnoROtroParentesco:'',
                    AlumnoROtroCivil:'',
                    AlumnoROtroFnacimiento:'',
                    AlumnoROtroNacimiento:'',
                    AlumnoROtroDireccion:'',
                    AlumnoROtroInstruccion:'',
                    AlumnoROtroOcupacion:'',
                    AlumnoROtroTel:'',
                    AlumnoROtroCel:'',
                    AlumnoROtroTelOtro:'',
                },
                oldModify:{
                    AlumnoID:'',
                    AlumnoFname:'', 
                    AlumnoMname:'',
                    AlumnoLname:'',
                    AlumnoLLname:'',
                    AlumnoCedula:'',                            
                    AlumnoDireccion:'',
                    AlumnoGenero:'',
                    AlumnoFNacimiento:'',
                    AlumnoRepresentanteNombre:'',
                    AlumnoRepresentanteCedula:'',
                    AlumnoTelefono:'',
                    AlumnoNacimiento:'',
                    AlumnoTallaCamisa:'',
                    AlumnoTallaPantalon:'',
                    AlumnoTallaZapatos:'',
                    AlumnoEstatura:'',
                    AlumnoPeso:'',
                    AlumnoAlergias:'',
                    AlumnoEnfermedades:'',
                    AlumnoPlantelProcedencia:'',
                    AlumnoPlantelCodigo:'',
                    AlumnoPlantelLocalidad:'',
                    AlumnoCanaima:'',
                    AlumnoCanaimaSerial:'',
                    AlumnoCanaimaOperatividad:'',
                    AlumnoCanaimaObservaciones:'',
                    AlumnoLateralidad:'',
                    AlumnoHermanosEstudiantes:'',
                    AlumnoHermanosObservaciones:'',
                    AlumnoBeca:'',
                    AlumnoBecaNivel:'',
                    AlumnoTipoVivienda:'',
                    AlumnoCondicionVivienda:'',
                    AlumnoCargaFamiliar:'',
                    AlumnoNecesidades:'',
                    AlumnoRepresentanteCivil:'',
                    AlumnoRepresentanteNacimiento:'',
                    AlumnoRepresentanteFnacimiento:'',
                    AlumnoRepresentanteInstruccion:'',
                    AlumnoRepresentanteOcupacion:'',
                    AlumnoRepresentanteCel:'',
                    AlumnoRepresentanteTelOtro:'',
                    AlumnoRepresentanteDireccion:'',
                    AlumnoPadreNombre:'',
                    AlumnoPadreCedula:'',
                    AlumnoPadreCivil:'',
                    AlumnoPadreFnacimiento:'',
                    AlumnoPadreNacimiento:'',
                    AlumnoPadreDireccion:'',
                    AlumnoPadreInstruccion:'',
                    AlumnoPadreOcupacion:'',
                    AlumnoPadreTel:'',
                    AlumnoPadreCel:'',
                    AlumnoPadreTelOtro:'',
                    AlumnoROtroCedula:'',
                    AlumnoROtroNombre:'',                            
                    AlumnoROtroParentesco:'',
                    AlumnoROtroCivil:'',
                    AlumnoROtroFnacimiento:'',
                    AlumnoROtroNacimiento:'',
                    AlumnoROtroDireccion:'',
                    AlumnoROtroInstruccion:'',
                    AlumnoROtroOcupacion:'',
                    AlumnoROtroTel:'',
                    AlumnoROtroCel:'',
                    AlumnoROtroTelOtro:'',
                },
                modify:{
                    status:{
                        loading:false,
                        ajax:false,
                    },
                    alreadyExist:false,
                },
                patterns:{
                    cedula:'([EV]{1}-[0-9]{6,8})',
                    telefono:'(0[1-9]{3}-[0-9]{7})',
                }
            }
        },
        mounted(){
            this.LeerAlumnos();
            if(this.$route.params.addSuccess === '1'){
                Swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Se añadió al estudiante exitosamente',
                    showConfirmButton: false,
                    timer: 1500
                });
            };
            if(this.$route.params.addModify === '1'){
                Swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Se modificó al estudiante exitosamente',
                    showConfirmButton: false,
                    timer: 1500
                });
            };
            document.getElementById("sendModificacionAlumno").addEventListener("click", function(){
                document.getElementById("modalModificacionDeAlumno").className="form-submitted-validate modal-content";
            }); 
        },
        computed:{
            classVerifyModifyCedula: function(){
                return{
                    'form-control form-invalid-bg font-weight-bold': this.modify.alreadyExist === true,
                    'form-control font-weight-bold': this.modify.alreadyExist != true
                }
            }
        },
        methods:{
            VerifyAlumnos(){
                var self = this;
                this.modify.alreadyExist = false;
                var upper = self.currentModify.AlumnoCedula.toUpperCase();
                self.currentModify.AlumnoCedula = upper;
                this.alumnos.forEach( function(alumno){
                    if(alumno.AlumnoCedula === self.oldModify.AlumnoCedula){
                        console.log('no changes');
                    }else if(alumno.AlumnoCedula == self.currentModify.AlumnoCedula){
                        self.modify.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                        })
                    }
                });
            },
            LeerAlumnos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                                self.loading=false;
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                                console.log("LeerAlumnos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);
                            console.log("LeerAlumnos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                        },$);
                    }
                })
            },
            BuscarAlumnos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos/"+self.search,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                                self.loading=false;
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                                console.log("LeerAlumnos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);
                            console.log("LeerAlumnos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                        },$);
                    }
                })
            },
            sendCurrent(alumno){
                this.current = JSON.parse(JSON.stringify(alumno));
            },
            sendCurrentModify(alumno){
                this.currentModify = JSON.parse(JSON.stringify(alumno));
                this.oldModify = JSON.parse(JSON.stringify(alumno));
            },
            modifyFromModal(){
                this.currentModify = JSON.parse(JSON.stringify(this.current));
                $('#verAlumno').modal('hide');
                $('#editarAlumno').modal('show');                
            },
            sendModification(){
                var self=this;
                if(self.modify.alreadyExist == false){
                    $.ajax({
                        url:"/registros/modificar/"+self.currentModify.AlumnoID,
                        type:"POST",
                        data:{
                            AlumnoFname: self.currentModify.AlumnoFname,
                            AlumnoMname: self.currentModify.AlumnoMname,
                            AlumnoLname: self.currentModify.AlumnoLname,
                            AlumnoLLname: self.currentModify.AlumnoLLname,
                            AlumnoCedula: self.currentModify.AlumnoCedula,                            
                            AlumnoDireccion: self.currentModify.AlumnoDireccion,
                            AlumnoGenero: self.currentModify.AlumnoGenero,
                            AlumnoFnacimiento: self.currentModify.AlumnoFNacimiento,
                            AlumnoRepresentanteNombre: self.currentModify.AlumnoRepresentanteNombre,
                            AlumnoRepresentanteCedula: self.currentModify.AlumnoRepresentanteCedula,
                            AlumnoTelefono: self.currentModify.AlumnoTelefono,
                            AlumnoNacimiento: self.currentModify.AlumnoNacimiento,
                            AlumnoTallaCamisa: self.currentModify.AlumnoTallaCamisa,
                            AlumnoTallaPantalon: self.currentModify.AlumnoTallaPantalon,
                            AlumnoTallaZapatos: self.currentModify.AlumnoTallaZapatos,
                            AlumnoEstatura: self.currentModify.AlumnoEstatura,
                            AlumnoPeso: self.currentModify.AlumnoPeso,
                            AlumnoAlergias: self.currentModify.AlumnoAlergias,
                            AlumnoEnfermedades: self.currentModify.AlumnoEnfermedades,
                            AlumnoPlantelProcedencia: self.currentModify.AlumnoPlantelProcedencia,
                            AlumnoPlantelCodigo: self.currentModify.AlumnoPlantelCodigo,
                            AlumnoPlantelLocalidad: self.currentModify.AlumnoPlantelLocalidad,
                            AlumnoCanaima: self.currentModify.AlumnoCanaima,
                            AlumnoCanaimaSerial: self.currentModify.AlumnoCanaimaSerial,
                            AlumnoCanaimaOperatividad: self.currentModify.AlumnoCanaimaOperatividad,
                            AlumnoCanaimaObservaciones: self.currentModify.AlumnoCanaimaObservaciones,
                            AlumnoLateralidad: self.currentModify.AlumnoLateralidad,
                            AlumnoHermanosEstudiantes: self.currentModify.AlumnoHermanosEstudiantes,
                            AlumnoHermanosObservaciones: self.currentModify.AlumnoHermanosObservaciones,
                            AlumnoBeca: self.currentModify.AlumnoBeca,
                            AlumnoBecaNivel: self.currentModify.AlumnoBecaNivel,
                            AlumnoTipoVivienda: self.currentModify.AlumnoTipoVivienda,
                            AlumnoCondicionVivienda: self.currentModify.AlumnoCondicionVivienda,
                            AlumnoCargaFamiliar: self.currentModify.AlumnoCargaFamiliar,
                            AlumnoNecesidades: self.currentModify.AlumnoNecesidades,
                            AlumnoRepresentanteCivil: self.currentModify.AlumnoRepresentanteCivil,
                            AlumnoRepresentanteNacimiento: self.currentModify.AlumnoRepresentanteNacimiento,
                            AlumnoRepresentanteFnacimiento: self.currentModify.AlumnoRepresentanteFnacimiento,
                            AlumnoRepresentanteInstruccion: self.currentModify.AlumnoRepresentanteInstruccion,
                            AlumnoRepresentanteOcupacion: self.currentModify.AlumnoRepresentanteOcupacion,
                            AlumnoRepresentanteCel: self.currentModify.AlumnoRepresentanteCel,
                            AlumnoRepresentanteTelOtro: self.currentModify.AlumnoRepresentanteTelOtro,
                            AlumnoRepresentanteDireccion: self.currentModify.AlumnoRepresentanteDireccion,
                            AlumnoPadreNombre: self.currentModify.AlumnoPadreNombre,
                            AlumnoPadreCedula: self.currentModify.AlumnoPadreCedula,
                            AlumnoPadreCivil: self.currentModify.AlumnoPadreCivil,
                            AlumnoPadreFnacimiento: self.currentModify.AlumnoPadreFnacimiento,
                            AlumnoPadreNacimiento: self.currentModify.AlumnoPadreNacimiento,
                            AlumnoPadreDireccion: self.currentModify.AlumnoPadreDireccion,
                            AlumnoPadreInstruccion: self.currentModify.AlumnoPadreInstruccion,
                            AlumnoPadreOcupacion: self.currentModify.AlumnoPadreOcupacion,
                            AlumnoPadreTel: self.currentModify.AlumnoPadreTel,
                            AlumnoPadreCel: self.currentModify.AlumnoPadreCel,
                            AlumnoPadreTelOtro: self.currentModify.AlumnoPadreTelOtro,
                            AlumnoROtroCedula: self.currentModify.AlumnoROtroCedula,
                            AlumnoROtroNombre: self.currentModify.AlumnoROtroNombre,                            
                            AlumnoROtroParentesco: self.currentModify.AlumnoROtroParentesco,
                            AlumnoROtroCivil:self.currentModify.AlumnoROtroCivil,
                            AlumnoROtroFnacimiento:self.currentModify.AlumnoROtroFnacimiento,
                            AlumnoROtroNacimiento:self.currentModify.AlumnoROtroNacimiento,
                            AlumnoROtroDireccion: self.currentModify.AlumnoROtroDireccion,
                            AlumnoROtroInstruccion:self.currentModify.AlumnoROtroInstruccion,
                            AlumnoROtroOcupacion:self.currentModify.AlumnoROtroOcupacion,
                            AlumnoROtroTel:self.currentModify.AlumnoROtroTel,
                            AlumnoROtroCel:self.currentModify.AlumnoROtroCel,
                            AlumnoROtroTelOtro:self.currentModify.AlumnoROtroTelOtro
                        },
                        async:true,
                        timeout:10000,
                        beforeSend:function(){
                            self.modify.status.loading = true;
                            self.modify.status.ajax = true;
                        },
                        success:function(response){
                            try{
                                if(response.status){
                                    self.modify.status.loading = false;
                                    self.modify.status.ajax = false;
                                    $("#editarAlumno").modal("hide");
                                    Swal.fire({
                                        position: 'top-end',
                                        type: 'success',
                                        title: 'Se modificó al estudiante exitosamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    self.LeerAlumnos();
                                    document.getElementById("modalModificacionDeAlumno").className="modal-content";
                                }else{
                                    self.modify.status.loading = false;
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Lo sentimos',
                                        text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    })
                                    console.log("ModificarAlumnos obtuvo un error: "+response.message);
                                    console.log("ModificarAlumnos recibió: "+response);                            }
                            } catch (error){
                                console.log("ModificarAlumnos obtuvo un error: "+error);
                                self.modify.status.loading = false;
                                Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    })
                                console.log("ModificarAlumnos recibió: "+response)
                            }
                        },
                        complete:function(){
                            setTimeout(function(){
                                self.modify.status.loading = false;
                                if(self.modify.status.ajax === true){
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    })
                                }
                            },$);
                        }
                    })
                }else{
                    Swal.fire({
                        type: 'error',
                        title: 'ERROR',
                        text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                    })
                }
            },
        }
    }
</script>
