<template>
    <div class="bg-light minh-100vh">
        <vNavigation></vNavigation>
        <div class="row m-0 p-0">
            <div class="flex-width-sidebar col-lg-1 d-none d-lg-flex bg-info m-0 p-0 h-sidebarr">
                <vSidebar></vSidebar>
            </div>
            <div class="col-12 col-lg m-0 p-0">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    import vNavigation from './navigation.vue';
    import vSidebar from './sidebar.vue';
    export default{
        name:'index',
        components:{
            vNavigation,
            vSidebar
        },
    }
</script>
<style scoped>
    .h-sidebarr{
        min-height:calc(100vh - 80px);
    }
    .flex-width-sidebar{
        flex:0 0 100px !important;
        max-width:100px !important;
    }
</style>
