<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="row m-0 p-0 w-100 container-animations-ow">
            <div class="col-12 col-sm-6 col-md-9 col-lg-10 p-1 mb-3 d-flex wow slideInLeft">
                <div class="w-100 card title-page p-3 d-flex j-center">
                    <h4 class="m-0 p-0 w-100 text-left">Funcionarios</h4> <span v-if="$route.params.addSuccess === '1'">SUCCESS</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 p-1 mb-3 d-flex ml-auto wow slideInRight">
                <button class="w-100 btn btn-success p-3" data-toggle="modal" data-target="#crearDocente"><i class="fas fa-user-plus mr-2"></i>Nuevo</button>
            </div>
        </div>
        <transition name="fade">
            <div class="w-100 p-1 container-animations-ow" v-if="docentes.length>1 && ajax==false">
                <div class="p-0 p-sm-3 card">
                    <table class="table table-hover tabla-responsive">
                        <thead class="wow slideInLeft">
                            <tr class="mb-3">
                                <th class="border-top-0 pt-1">Cédula</th>
                                <th class="border-top-0 pt-1">Nombre</th>
                                <th class="border-top-0 pt-1">Cargo</th>
                                <th class="border-top-0 pt-1 text-right">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr v-for="funcionario in docentes" class="wow slideInLeft" :key="funcionario.DocenteID" v-if="funcionario.DocenteID != 24">
                                <td data-label="Cedula">{{funcionario.DocenteCedula}}</td>
                                <td data-label="Nombre">{{funcionario.DocenteFname}} {{funcionario.DocenteMname}} {{funcionario.DocenteLname}} {{funcionario.DocenteLLname}}</td>
                                <td data-label="Cargo">{{funcionario.DocenteCargo}}</td>
                                <td data-label="Opciones">
                                    <div class="w-100 text-right">
                                        <a class="btn btn-sm btn-info p-2 text-white" data-toggle="modal" data-target="#modificarDocente" @click="modifyDocente = JSON.parse(JSON.stringify(funcionario)) ; oldDocente = JSON.parse(JSON.stringify(funcionario))">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-sync"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ACTUALIZAR</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="btn btn-sm btn-primary p-2 text-white" data-toggle="modal" data-target="#gestionarPrivilegios" @click="modifyDocente = JSON.parse(JSON.stringify(funcionario)) ; oldDocente = JSON.parse(JSON.stringify(funcionario))">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">PRIVILEGIOS</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="btn btn-sm btn-danger p-2 text-white" data-toggle="modal" data-target="#eliminarDocentes" @click="modifyDocente = JSON.parse(JSON.stringify(funcionario)) ; oldDocente = JSON.parse(JSON.stringify(funcionario))">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-trash-alt"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ELIMINAR</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==true && 
            docentes.length==1">
                <i class="fas fa-circle-notch fa-spin fa-2x"></i>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==false&&
            docentes.length==1">
                <i class="far fa-frown fa-spin fa-2x"></i>
                <h4 class="text-muted mt-2">No hay docentes registrados</h4>
            </div>
        </transition>
        <div class="modal fade" id="modificarDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="sendModificacionDocente()" id="modalModifyDocente" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Docente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Primer Nombre</span>
                                <input v-model="modifyDocente.DocenteFname" minlength="3" title="Debe tener al menos 3 caracteres" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Segundo Nombre</span>
                                <input v-model="modifyDocente.DocenteMname" minlength="3" title="Debe tener al menos 3 caracteres" type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Primer Apellido</span>
                                <input v-model="modifyDocente.DocenteLname" minlength="3" title="Debe tener al menos 3 caracteres" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Segundo Apellido</span>
                                <input v-model="modifyDocente.DocenteLLname" minlength="3" title="Debe tener al menos 3 caracteres" type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Cédula</span>
                                <input v-model="modifyDocente.DocenteCedula" v-bind:class="verifyCedulaModify" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" placeholder="V-XX.XXX.XXX" @input="teacherExists = false ; var upper = modifyDocente.DocenteCedula.toUpperCase(); modifyDocente.DocenteCedula = upper; SearchDocentesModify()" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Cargo</span>
                                <select class="form-control" required v-model="modifyDocente.DocenteCargo">
                                    <option value="Docente">Docente</option>
                                    <option value="Directivo">Directivo</option>
                                    <option value="Administrativo">Administrativo</option>
                                </select>
                            </div>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnModifyDocente" class="btn btn-primary" :disabled="modifystatus.loading == true"><span v-bind:class="{ 'd-none': modifystatus.loading}">MODIFICAR</span><span style="display:none;" v-bind:class="{ 'd-block': modifystatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="gestionarPrivilegios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="sendModificacionDocente()" id="modalModifyKeys" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Privilegios</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Privilegios de Administrador</span>
                                <select class="form-control" required v-model="modifyDocente.DocenteAutorizacion">
                                    <option :value="'false'" selected>Desactivados</option>
                                    <option :value="'true'">Activados</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6" v-if="modifyDocente.DocenteAutorizacion == 'true'">
                                <span>Correo Electrónico</span>
                                <input v-model="modifyDocente.DocenteEmail" :disabled="modifyDocente.DocenteAutorizacion === false" :required="modifyDocente.DocenteAutorizacion == true" @input="teacherExists = false ; teacherEmailExists = false ; SearchDocentesModify()" type="email" v-bind:class="modifyEmailDocente" />
                            </div>
                            <div class="col-12 col-sm-6" v-if="modifyDocente.DocenteAutorizacion == 'true'">
                                <span>Contraseña</span>
                                <input v-model="modifyDocente.DocentePassword" :disabled="modifyDocente.DocenteAutorizacion === false" :required="modifyDocente.DocenteAutorizacion == true" type="password" minlength="8" title="Debe tener al menos 8 caracteres" class="form-control" />
                            </div>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnModifyKeys" class="btn btn-primary" :disabled="modifystatus.loading == true"><span v-bind:class="{ 'd-none': modifystatus.loading}">Enviar</span><span style="display:none;" v-bind:class="{ 'd-block': modifystatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="eliminarDocentes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="deleteUser()"  class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="userData.DocenteEmail != modifyDocente.DocenteEmail">¿Desea eliminar a {{modifyDocente.DocenteFname}} {{modifyDocente.DocenteLname}} del sistema?</p>
                        <p v-else class="font-weight-bold">¿Desea eliminar su usuario del sistema? Una vez eliminado su sesión será cerrada y no podrá acceder mas utilizando el mismo usuario</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" :disabled="deletestatus.loading == true"><span v-bind:class="{ 'd-none': deletestatus.loading}">Eliminar</span><span style="display:none;" v-bind:class="{ 'd-block': deletestatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="crearDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="sendDocente()" id="modalCrearDocente" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Añadir Docente</h5>{{errorMessage}}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Primer Nombre</span>
                                <input v-model="newDocente.DocenteFname" minlength="3" title="Debe tener al menos 3 caracteres" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Segundo Nombre</span>
                                <input v-model="newDocente.DocenteMname" minlength="3" title="Debe tener al menos 3 caracteres" type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Primer Apellido</span>
                                <input v-model="newDocente.DocenteLname" minlength="3" title="Debe tener al menos 3 caracteres" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Segundo Apellido</span>
                                <input v-model="newDocente.DocenteLLname" minlength="3" title="Debe tener al menos 3 caracteres" type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Cédula</span>
                                <input v-model="newDocente.DocenteCedula" v-bind:class="verifyCedulaDocente" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" placeholder="V-XX.XXX.XXX" @input="teacherExist = false ; var upper = newDocente.DocenteCedula.toUpperCase(); newDocente.DocenteCedula = upper; SearchDocentes()" required type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Cargo</span>
                                <select class="form-control" required v-model="newDocente.DocenteCargo">
                                    <option value="Docente">Docente</option>
                                    <option value="Directivo">Directivo</option>
                                    <option value="Administrativo">Administrativo</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>¿Otorgar privilegios de administrador?</span>
                                <select class="form-control" required v-model="newDocente.DocenteAutorizacion">
                                    <option :value="'false'" selected>No</option>
                                    <option :value="'true'">Si</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6" v-if="newDocente.DocenteAutorizacion == 'true'">
                                <span>Correo Electrónico</span>
                                <input v-model="newDocente.DocenteEmail" :required="newDocente.DocenteAutorizacion == true" @input="teacherExist = false ; teacherEmailExist = false" type="email" v-bind:class="verifyEmailDocente" />
                            </div>
                            <div class="col-12 col-sm-6" v-if="newDocente.DocenteAutorizacion == 'true'">
                                <span>Contraseña</span>
                                <input v-model="newDocente.DocentePassword" :required="newDocente.DocenteAutorizacion == true" type="password" minlength="8" title="Debe tener al menos 8 caracteres" class="form-control" />
                            </div>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnCrearDocente" class="btn btn-primary" :disabled="addstatus.loading == true"><span v-bind:class="{ 'd-none': addstatus.loading}">Crear</span><span style="display:none;" v-bind:class="{ 'd-block': addstatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import Swal from 'sweetalert2';
    export default{
        name:'docentes',
        data(){
            return{
                docentes:[],
                ajax:'',
                loading:'',
                modifyDocente:{},
                oldDocente:{},
                userData:'',
                newDocente:{
                    DocenteFname:'',
                    DocenteMname:'',
                    DocenteLname:'',
                    DocenteLLname:'',
                    DocenteCedula:'',
                    DocenteCargo:'',
                    DocenteAutorizacion:'',
                    DocenteEmail:'',
                    DocentePassword:'',
                },
                errorMessage:'',
                teacherExist:false,
                teacherExists:false,
                teacherEmailExist:false,
                teacherEmailExists:false,
                addstatus:{
                    loading:false,
                    ajax:false,
                },
                modifystatus:{
                    loading:false,
                    ajax:false,
                },
                keystatus:{
                    loading:false,
                    ajax:false,
                },
                deletestatus:{
                    loading:false,
                    ajax:false,
                },
                patterns:{
                    cedula:'([EV]{1}-[0-9]{6,8})',
                    telefono:'(0[1-9]{3}-[0-9]{7})',
                }
            }
        },
        computed:{
            verifyCedulaDocente: function(){
                return{
                    'form-control form-invalid-bg': this.teacherExist === true,
                    'form-control': this.teacherExist != true
                }
            },
            verifyEmailDocente: function(){
                return{
                    'form-control form-invalid-bg': this.teacherEmailExist === true,
                    'form-control': this.teacherEmailExist != true
                }
            },
            verifyCedulaModify: function(){
                return{
                    'form-control form-invalid-bg': this.teacherExists === true,
                    'form-control': this.teacherExists != true
                }
            },
            modifyEmailDocente: function(){
                return{
                    'form-control form-invalid-bg': this.teacherEmailExists === true,
                    'form-control': this.teacherEmailExists != true
                }
            },
        }, // modifyDocente.DocenteCedula
        mounted(){
            this.LeerDocentes();
            this.userData = JSON.parse(localStorage.getItem('login_sisacademico'));
            document.getElementById("btnCrearDocente").addEventListener("click", function(){
                document.getElementById("modalCrearDocente").className="form-submitted-validate modal-content";
            });
            document.getElementById("btnModifyDocente").addEventListener("click", function(){
                document.getElementById("modalModifyDocente").className="form-submitted-validate modal-content";
            });
            document.getElementById("btnModifyKeys").addEventListener("click", function(){
                document.getElementById("modalModifyKeys").className="form-submitted-validate modal-content";
            });
        },
        methods:{
            deleteUser(){
                var self=this;
                $.ajax({
                    url:"/registros/eliminarUsuarios/"+self.modifyDocente.DocenteID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.deletestatus.loading = true;
                        self.deletestatus.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.deletestatus.loading = false;
                                self.deletestatus.ajax = false;
                                $('#eliminarDocentes').modal('hide');
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se eliminó al funcionario exitosamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                if(self.userData.DocenteEmail == self.modifyDocente.DocenteEmail){
                                    localStorage.removeItem('login_sisacademico');
                                    self.$router.push('/login');
                                }
                                self.LeerDocentes();
                            }else{
                                console.log("EliminarUsuarios obtuvo un error: "+response.message);
                                                                self.deletestatus.loading = false;
                                                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                console.log("EliminarUsuarios recibió: "+response);                            }
                        } catch (error){
                            console.log("EliminarUsuarios obtuvo un error: "+error);
                                                            self.deletestatus.loading = false;
                                                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("EliminarUsuarios recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                                  self.deletestatus.loading = false;
                                  if(self.deletestatus.ajax === true){
                                      Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                  }
                        },$);
                    }
                })                
            },
            sendDocente(){
                var self=this;
                function successDocente() {
                    if(self.newDocente.DocenteAutorizacion == false){
                        $.ajax({
                            url:"/registros/AgregarDocente",
                            type:"POST",
                            data:{
                                DocenteFname: self.newDocente.DocenteFname,
                                DocenteMname: self.newDocente.DocenteMname,
                                DocenteLname: self.newDocente.DocenteLname,
                                DocenteLLname: self.newDocente.DocenteLLname,
                                DocenteCedula: self.newDocente.DocenteCedula,
                                DocenteCargo: self.newDocente.DocenteCargo,
                                DocenteAutorizacion: self.newDocente.DocenteAutorizacion,
                                DocenteEmail: '',
                                DocentePassword: '',
                            },
                            async:true,
                            timeout:10000,
                            beforeSend:function(){
                                self.newDocente.DocenteEmail = '';
                                self.newDocente.DocentePassword = '';
                                self.addstatus.loading = true;
                                self.addstatus.ajax = true;
                            },
                            success:function(response){
                                try{
                                    if(response.status){
                                        $('#crearDocente').modal('hide');
                                        Swal.fire({
                                            position: 'top-end',
                                            type: 'success',
                                            title: 'Se añadio al funcionario exitosamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        document.getElementById("modalCrearDocente").className="modal-content";
                                        self.LeerDocentes();
                                        self.addstatus.loading = false;
                                        self.addstatus.ajax = false;
                                        self.newDocente.DocenteFname = '';
                                        self.newDocente.DocenteMname ='';
                                        self.newDocente.DocenteLname ='';
                                        self.newDocente.DocenteLLname = '';
                                        self.newDocente.DocenteCedula = '';
                                        self.newDocente.DocenteCargo = '';
                                        self.newDocente.DocenteAutorizacion = '';
                                        self.newDocente.DocenteEmail = '';
                                        self.newDocente.DocentePassword = '';
                                    }else{
                                        console.log("AgregarDocente obtuvo un error: "+response.message);
                                        console.log("AgregarDocente recibió: "+response); 
                                        Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                                                                self.addstatus.loading = false;                           }
                                } catch (error){
                                    console.log("AgregarDocente obtuvo un error: "+error);
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                                                            self.addstatus.loading = false;
                                    console.log("AgregarDocente recibió: "+response)
                                }
                            },
                            complete:function(){
                                setTimeout(function(){
                                        self.addstatus.loading = false;
                                        if(self.addstatus.ajax === true){
                                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                        }
                                },$);
                            }
                        })
                    }else{
                        $.ajax({
                            url:"/registros/AgregarDocente",
                            type:"POST",
                            data:{
                                DocenteFname: self.newDocente.DocenteFname,
                                DocenteMname: self.newDocente.DocenteMname,
                                DocenteLname: self.newDocente.DocenteLname,
                                DocenteLLname: self.newDocente.DocenteLLname,
                                DocenteCedula: self.newDocente.DocenteCedula,
                                DocenteCargo: self.newDocente.DocenteCargo,
                                DocenteAutorizacion: self.newDocente.DocenteAutorizacion,
                                DocenteEmail: self.newDocente.DocenteEmail,
                                DocentePassword: self.newDocente.DocentePassword,
                            },
                            async:true,
                            timeout:10000,
                            beforeSend:function(){
                                self.addstatus.loading = true;
                                self.addstatus.ajax = true;
                            },
                            success:function(response){
                                try{
                                    if(response.status){
                                        $('#crearDocente').modal('hide');
                                        Swal.fire({
                                            position: 'top-end',
                                            type: 'success',
                                            title: 'Se añadió al funcionario exitosamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        self.LeerDocentes();
                                        self.addstatus.loading = false;
                                        self.addstatus.ajax = false;
                                        self.newDocente.DocenteFname = '';
                                        self.newDocente.DocenteMname ='';
                                        self.newDocente.DocenteLname ='';
                                        self.newDocente.DocenteLLname = '';
                                        self.newDocente.DocenteCedula = '';
                                        self.newDocente.DocenteCargo = '';
                                        self.newDocente.DocenteAutorizacion = '';
                                        self.newDocente.DocenteEmail = '';
                                        self.newDocente.DocentePassword = '';
                                    }else{
                                        console.log("AgregarDocente obtuvo un error: "+response.message);
                                        console.log("AgregarDocente recibió: "+response);
                                        Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });      
                                                                                self.addstatus.loading = false;                      }
                                } catch (error){
                                    console.log("AgregarDocente obtuvo un error: "+error);
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                                                                            self.addstatus.loading = false;
                                    console.log("AgregarDocente recibió: "+response)
                                }
                            },
                            complete:function(){
                                setTimeout(function(){
                                        self.addstatus.loading = false;
                                        if(self.addstatus.ajax === true){
                                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                                        }
                                },$);
                            }
                        })
                    }
                };
                var i = 0;
                self.teacherExist = false;
                while(i < self.docentes.length && self.teacherExist == false){
                    if(self.docentes[i].DocenteCedula == self.newDocente.DocenteCedula){
                        console.log('tiene la misma cedula');
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese número de cedula. Verifique nuevamente.',
                        });
                        self.teacherExist = true;
                    }else if(self.docentes[i].DocenteEmail == self.newDocente.DocenteEmail && self.newDocente.DocenteAutorizacion == true){
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese email. Verifique nuevamente.',
                        });
                        self.teacherExist = true;
                        self.teacherEmailExist = true; 
                    }else if(i == (self.docentes.length - 1) && self.teacherExist == false){
                        successDocente();
                    }
                    i++;                
                }                
            },
            SearchDocentes(){
                var self = this;
                this.teacherExist = false;
                this.docentes.forEach( function(teacher){
                    if(teacher.DocenteCedula == self.newDocente.DocenteCedula){
                        self.teacherExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese número de cedula. Verifique nuevamente.',
                        })
                    }
                });
            },
            SearchDocentesModify(){
                var self = this;
                this.teacherExists = false;
                this.docentes.forEach( function(teacher){
                    if(teacher.DocenteCedula == self.modifyDocente.DocenteCedula && teacher.DocenteCedula != self.oldDocente.DocenteCedula){
                        self.teacherExists = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese número de cedula. Verifique nuevamente.',
                        })
                    }
                });
            },
            sendModificacionDocente(){
                var self=this;
                function successModifyDocente() {
                    if(self.modifyDocente.DocenteAutorizacion == false){
                        $.ajax({
                            url:"/registros/modificarDocentes/"+self.modifyDocente.DocenteID,
                            type:"POST",
                            data:{
                                DocenteFname: self.modifyDocente.DocenteFname,
                                DocenteMname: self.modifyDocente.DocenteMname,
                                DocenteLname: self.modifyDocente.DocenteLname,
                                DocenteLLname: self.modifyDocente.DocenteLLname,
                                DocenteCedula: self.modifyDocente.DocenteCedula,
                                DocenteCargo: self.modifyDocente.DocenteCargo,
                                DocenteAutorizacion: self.modifyDocente.DocenteAutorizacion,
                                DocenteEmail: '',
                                DocentePassword: '',
                            },
                            async:true,
                            timeout:10000,
                            beforeSend:function(){
                                            self.modifystatus.loading = true;
                                            self.modifystatus.ajax = true;
                            },
                            success:function(response){
                                try{
                                    if(response.status){
                                        $("#modificarDocente").modal("hide");
                                        $("#gestionarPrivilegios").modal("hide");
                                        Swal.fire({
                                            position: 'top-end',
                                            type: 'success',
                                            title: 'Se modificó al funcionario exitosamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        self.modifystatus.loading = false;
                                        self.modifystatus.ajax = false;
                                        self.LeerDocentes();
                                    }else{
                                        console.log("ModificarDocentes obtuvo un error: "+response.message);
                                        console.log("ModificarDocentes recibió: "+response);   
                                        Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    }); 
                                                                                self.modifystatus.loading = false;                        }
                                } catch (error){
                                    console.log("ModificarDocentes obtuvo un error: "+error);
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                                                                            self.modifystatus.loading = false;
                                    console.log("ModificarDocentes recibió: "+response)
                                }
                            },
                            complete:function(){
                                setTimeout(function(){
                                            self.modifystatus.loading = false;
                                            if(self.modifystatus.ajax === true){
                                                Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                                            }
                                },$);
                            }
                        })
                    }else{
                    $.ajax({
                        url:"/registros/modificarDocentes/"+self.modifyDocente.DocenteID,
                        type:"POST",
                        data:{
                            DocenteFname: self.modifyDocente.DocenteFname,
                            DocenteMname: self.modifyDocente.DocenteMname,
                            DocenteLname: self.modifyDocente.DocenteLname,
                            DocenteLLname: self.modifyDocente.DocenteLLname,
                            DocenteCedula: self.modifyDocente.DocenteCedula,
                            DocenteCargo: self.modifyDocente.DocenteCargo,
                            DocenteAutorizacion: self.modifyDocente.DocenteAutorizacion,
                            DocenteEmail: self.modifyDocente.DocenteEmail,
                            DocentePassword: self.modifyDocente.DocentePassword,
                        },
                        async:true,
                        timeout:10000,
                        beforeSend:function(){
                                            self.modifystatus.loading = true;
                                            self.modifystatus.ajax = true;
                        },
                        success:function(response){
                            try{
                                if(response.status){
                                    $("#modificarDocente").modal("hide");
                                    $("#gestionarPrivilegios").modal("hide");
                                    Swal.fire({
                                            position: 'top-end',
                                            type: 'success',
                                            title: 'Se modificó al funcionario exitosamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        self.modifystatus.ajax = false;
                                                                            self.modifystatus.loading = false;
                                    self.LeerDocentes();
                                }else{
                                    console.log("ModificarDocentes obtuvo un error: "+response.message);
                                                                            self.modifystatus.loading = false;
                                    console.log("ModificarDocentes recibió: "+response);  
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });                          }
                            } catch (error){
                                console.log("ModificarDocentes obtuvo un error: "+error);
                                                                        self.modifystatus.loading = false;
                                console.log("ModificarDocentes recibió: "+response);
                                Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                            }
                        },
                        complete:function(){
                            setTimeout(function(){
                                            self.modifystatus.loading = false;
                                            if(self.modifystatus.ajax === true){
                                                Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                                            }
                            },$);
                        }
                    })}
                };
                var i = 0;
                self.teacherExists = false;
                self.teacherEmailExists = false; 
                while(i < self.docentes.length && self.teacherExists == false){
                    if(self.docentes[i].DocenteCedula == self.modifyDocente.DocenteCedula && self.docentes[i].DocenteCedula != self.oldDocente.DocenteCedula){
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese número de cedula. Verifique nuevamente.',
                        });
                        self.teacherExists = true;
                    }else if(self.docentes[i].DocenteEmail == self.modifyDocente.DocenteEmail && self.modifyDocente.DocenteAutorizacion == true && self.docentes[i].DocenteEmail != self.oldDocente.DocenteEmail){
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un funcionario con ese email. Verifique nuevamente.',
                        });
                        self.teacherExists = true;
                        self.teacherEmailExists = true; 
                    }else if(i == (self.docentes.length - 1) && self.teacherExists == false){
                        successModifyDocente();
                    }
                    i++;                
                } 
            },
            LeerDocentes(){
                var self=this;
                $.ajax({
                    url:"/registros/leerDocentes",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.docentes=response.values;
                                self.loading=false;
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                                console.log("LeerAlumnos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);
                            console.log("LeerAlumnos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                        },$);
                    }
                })
            },
        }
    }
</script>