<template>
    <div class="p-2 p-sm-4">
        <div class="row m-0 p-0 container-animations-ow">
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInLeft delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Alumnos registrados</h4>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center fs-3 cursor cursor-pointer" v-if="alumnos.length == 1 && status.loading == false"><i class="fas fa-user-graduate fs-3 pulse-animation-hover"></i><br>{{alumnos.length}} alumno</router-link>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center fs-3 cursor cursor-pointer" v-if="alumnos.length != 1 && status.loading == false"><i class="fas fa-user-graduate fs-3 pulse-animation-hover"></i><br>{{alumnos.length}} alumnos</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInRight delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Año Escolar en Curso</h4>
                    <router-link tag="p" to="/dashboard/periodos" class="cursor-pointer text-center fs-3 mb-0"><i class="fas fa-calendar-check fs-3 pulse-animation-hover"></i><br>{{date}} - {{date2}}</router-link>
                    <router-link tag="p" to="/dashboard/periodos" class="text-center cursor-pointer" v-if="periodoRegistrado === '' && status.loading == false">No registrado en Sistema</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInLeft delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Secciones Abiertas</h4>
                    <router-link tag="p" to="/dashboard/secciones" class="cursor cursor-pointer text-center fs-3" v-if="seccionesAbiertas.length == 1 && status.loading == false"><i class="fas fa-chalkboard-teacher pulse-animation-hover fs-3"></i><br>{{seccionesAbiertas.length}} seccion</router-link>
                    <router-link tag="p" to="/dashboard/secciones" class="cursor cursor-pointer text-center fs-3" v-if="seccionesAbiertas.length != 1 && status.loading == false"><i class="fas fa-chalkboard-teacher pulse-animation-hover fs-3"></i><br>{{seccionesAbiertas.length}} secciones</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInRight delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Inscripciones procesadas</h4>
                    <router-link tag="p" to="/dashboard/inscripcion" class="text-center cursor cursor-pointer fs-3" v-if="inscripciones.length == 1 && status.loading == false"><i class="fas fa-clipboard-check pulse-animation-hover fs-3"></i><br>{{inscripciones.length}} inscripcion</router-link>
                    <router-link tag="p" to="/dashboard/inscripcion" class="text-center cursor cursor-pointer fs-3" v-if="inscripciones.length != 1 && status.loading == false"><i class="fas fa-clipboard-check pulse-animation-hover fs-3"></i><br>{{inscripciones.length}} inscripciones</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInLeft delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Alumnos con Canaima</h4>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center cursor cursor-pointer fs-3" v-if="alumnosCanaima.length == 1 && status.loading == false"><i class="fas fa-laptop pulse-animation-hover fs-3"></i><br>{{alumnosCanaima.length}} alumno</router-link>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center cursor cursor-pointer fs-3" v-if="alumnosCanaima.length != 1 && status.loading == false"><i class="fas fa-laptop pulse-animation-hover fs-3"></i><br>{{alumnosCanaima.length}} alumnos</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 d-flex wow slideInRight delay-1s">
                <div class="w-100 card mb-3 pb-2">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Alumnos con Beca</h4>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center cursor cursor-pointer fs-3" v-if="alumnosBeca.length == 1 && status.loading == false"><i class="fas fa-user-check pulse-animation-hover fs-3"></i><br>{{alumnosBeca.length}} alumno</router-link>
                    <router-link tag="p" to="/dashboard/alumnos" class="text-center cursor cursor-pointer fs-3" v-if="alumnosBeca.length != 1 && status.loading == false"><i class="fas fa-user-check pulse-animation-hover fs-3"></i><br>{{alumnosBeca.length}} alumnos</router-link>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="status.loading==true">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import WOW from 'wow.js'
    export default{
        name:'home',
        data(){
            return{
                alumnos:[],
                status:{
                    loading:false,
                },
                alumnos:[],
                periodos:[],
                inscripciones:[],
                alumnosCanaima:[],
                alumnosBeca:[],
                secciones:[],
                seccionesAbiertas:[],
                date:'',
                date2:'',
                periodoRegistrado:'',             
            }
        },
        mounted(){
            this.LeerPeriodos();
            const fullDate = new Date();
            const month = fullDate.getMonth();
            console.log(month);
            if(month > 6){
                this.date = fullDate.getFullYear();
                this.date2 = (this.date + 1);
            }else if(month < 7){
                this.date2 = fullDate.getFullYear();
                this.date = (this.date2 - 1);
            };
            new WOW().init();
        },
        methods:{
            LeerPeriodos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerPeriodos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
    //                    self.ajax=true;
                        self.status.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.periodos=response.values;
                                self.LeerSecciones();
        //                        self.loading=false;
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
          //                  self.ajax=false;
                        },$);
                    }
                })
            },
            LeerSecciones(){
                var self=this;
                $.ajax({
                    url:"/registros/leerSecciones",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
    //                    self.ajax=true;
      //                  self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.secciones=response.values;
                                self.LeerInscripciones();
        //                        self.loading=false;
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
          //                  self.ajax=false;
                        },$);
                    }
                })
            },
            LeerInscripciones(){
                var self=this;
                $.ajax({
                    url:"/registros/leerInscripciones",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
    //                    self.ajax=true;
      //                  self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.inscripciones=response.values;
                                self.LeerAlumnos();
        //                        self.loading=false;
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
          //                  self.ajax=false;
                        },$);
                    }
                })
            },
            LeerAlumnos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
    //                    self.ajax=true;
      //                  self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                                self.secciones.forEach(function(seccion){
                                    const seccionProcesada = self.inscripciones.filter((b)=>{
                                        return b.InscripcionSeccionID == seccion.SeccionID;
                                    })
                                    if(seccionProcesada.length > 0){
                                        self.seccionesAbiertas.push(seccion)
                                    }
                                });
                                let alumnoCanaima = self.alumnos.filter((b)=>{
                                    return b.AlumnoCanaima == 'true';
                                });
                                if(alumnoCanaima.length > 0){
                                    alumnoCanaima.forEach(function(alu){
                                        self.alumnosCanaima.push(alu);
                                    });
                                };
                                let alumnoBeca = self.alumnos.filter((b)=>{
                                    return b.AlumnoBeca == 'true';
                                });
                                if(alumnoBeca.length > 0){
                                    alumnoBeca.forEach(function(alu){
                                        self.alumnosBeca.push(alu);
                                    });
                                };
                                const FirstYear = self.date.toString();
                                const FirstYear2 = self.date2.toString();
                                self.periodos.forEach(function(periodo){
                                    if(periodo.PeriodoAnoInicial === FirstYear && periodo.PeriodoAnoFinal === FirstYear2){
                                        self.periodoRegistrado = '1';
                                    }
                                })
                                self.status.loading=false;
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.status.loading = false;
                        },$);
                    }
                })
            },
        },
    }
</script>
