<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="w-100 card title-page p-3 d-flex j-center mb-2 wow slideInLeft">
            <h4 class="m-0 p-0 w-100 text-left">Inscripción</h4>
        </div>
        <div class="w-100 wow slideInRight delay-1s">
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="validacionLoading == '1'">
                    <i class="far fa-frown fa-spin fa-2x"></i>
                    <h4 class="text-muted mt-2">Validando módulos de inscripción...</h4>
                </div>
            </transition>
            <transition name="fade">
                <div class="w-100 mb-2" v-if="validacion == ''">
                    <div class="p-0 p-sm-3 card">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <p class="mb-0">Introduzca la cédula del estudiante a Inscribir:</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input v-model="search" placeholder="V-XX.XXX.XXX" type="text" class="form-control" @input="LeerEstudiante()" />
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="searching == true">
                    <i class="far fa-frown fa-spin fa-2x"></i>
                    <h4 class="text-muted mt-2">Buscando estudiante...</h4>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3 animated slideInRight" v-if="searching==false && estudiante.length == 0 && search != ''">
                    <i class="far fa-frown fa-spin fa-2x"></i>
                    <h4 class="text-muted mt-2">No hay estudiantes registrados con ese número de cédula.</h4> 
                    <h5 class="text-muted" @click="$router.push({name: 'nuevoalumno', params:{comeFromInscripcion: search}})">Si desea inscribir un estudiante nuevo ingreso previamente debe hacer su registro escolar haciendo click aqui</h5>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="loading.periodos==false&&periodos.length==0 && loadPeriodos==true">
                    <i class="far fa-frown fa-spin fa-2x"></i>
                    <h4 class="text-muted mt-2">No hay años escolares registrados para inscribir</h4>
                    <h5 class="text-muted" @click="$router.push({name: 'periodos', params:{comeFromInscripcionPeriodo: true}})">Si desea aperturar un año escolar haga click aqui</h5>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="loading.secciones==false&&
                secciones.length==0">
                    <i class="far fa-frown fa-spin fa-2x"></i>
                    <h4 class="text-muted mt-2">No hay secciones registradas para matriculación</h4>
                    <h5 class="text-muted" @click="$router.push({name: 'secciones', params:{comeFromInscripcionSeccion: true}})">Si desea crear una sección nueva, haga click aqui</h5> 
                </div>
            </transition>
        </div>
        <transition name="fade">
            <div class="w-100 m-0 p-0 animated slideInLeft" v-for="person in estudiante" :key="person.AlumnoID" v-if="periodos.length>0 && secciones.length>0 && ajax==false && estudiante.length>0 && search != ''">
                <div class="w-100 card mb-3 pb-2"> 
                    <div class="m-0 p-0 w-100">
                        <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Datos Personales</h4>
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Nombre del Estudiante</span>
                                <p class="w-100 font-weight-bold">{{person.AlumnoFname}} {{person.AlumnoMname}} {{person.AlumnoLname}} {{person.AlumnoLLname}}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Cédula de Identidad</span>
                                <p class="w-100 font-weight-bold">{{person.AlumnoCedula}}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Genero</span>
                                <p class="w-100 font-weight-bold">{{person.AlumnoGenero}}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Fecha de Nacimiento</span>
                                <p class="w-100 font-weight-bold">{{person.AlumnoFNacimiento}}</p>
                            </div>
                            <div class="col-12">
                                <span>Dirección</span>
                                <p class="w-100 font-weight-bold">{{person.AlumnoDireccion}}</p>
                            </div>
                            <div class="col-12 col-sm-4">
                                <span>Datos de los <span class="font-weight-bold">Representantes</span></span>
                                
                            </div>
                            <div class="col-12 col-sm-4 d-none d-sm-block">
                                <span>Cédula del <span class="font-weight-bold">Representante</span></span>
                                
                            </div>
                            <div class="col-12 col-sm-4 d-none d-sm-block">
                                <span>Teléfono</span>

                            </div>
                            <div class="col-12">
                                <div class="row m-0 p-0 w-100">
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoRepresentanteNombre}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoRepresentanteCedula}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoTelefono}}</p>
                                    </div>
                                </div>
                                <div class="row m-0 p-0 w-100">
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoPadreNombre}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoPadreCedula}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoPadreTel}}</p>
                                    </div>
                                </div> 
                                <div class="row m-0 p-0 w-100"> 
                                    <div class="col-12 col-sm-4"> 
                                        <p class="w-100 font-weight-bold">{{person.AlumnoROtroNombre}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoROtroCedula}}</p>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <p class="w-100 font-weight-bold">{{person.AlumnoROtroTel}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 card mb-3 animated fadeInRightBig">
                    <div class="w-100 m-0 p-0">
                        <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Historial Académico</h4>
                        <div class="p-0 p-sm-3 m-0 p-0" v-if="currentInscripciones.length >0">
                            <table class="table table-hover tabla-responsive">
                                <thead>
                                    <tr class="mb-3">
                                        <th class="border-top-0 pt-1">Año Escolar</th>
                                        <th class="border-top-0 pt-1">Sección</th>
                                        <th class="border-top-0 pt-1 text-right">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped">
                                    <tr v-for="oldInscripcion in currentInscripciones" :key="oldInscripcion.id">
                                        <td data-label="Año Escolar" class="tabla-doble">{{oldInscripcion.periodo.PeriodoAnoInicial}} - {{oldInscripcion.periodo.PeriodoAnoFinal}}</td>
                                        <td data-label="Sección">{{oldInscripcion.seccion.SeccionNivel}} {{oldInscripcion.seccion.SeccionTipo}} Sección "{{oldInscripcion.seccion.SeccionNombre}}"</td>
                                        <td data-label="Opciones">
                                            <div class="w-100 text-right">
                                                <a class="btn btn-sm btn-success p-2 text-white" v-on:click="imprimirInsc(oldInscripcion)">
                                                    <div class="row m-0 p-1 icon-buttons-lc">
                                                        <div class="col-3 p-0">
                                                            <i class="fas fa-file-export"></i>
                                                        </div>
                                                        <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                            <p class=" mb-0">DESCARGAR</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="btn btn-sm btn-danger p-2 text-white" data-toggle="modal" data-target="#confirmarEliminarInscripcion" v-on:click="deleteInscripcion = JSON.parse(JSON.stringify(oldInscripcion))">
                                                    <div class="row m-0 p-1 icon-buttons-lc">
                                                        <div class="col-3 p-0">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </div>
                                                        <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                            <p class=" mb-0">ELIMINAR</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                        <div class="p-0 p-sm-3" v-else>
                            <p class="card-title">El estudiante no tiene inscripciones previas en la institución. (Nuevo ingreso)</p>
                        </div>
                    </div>
                </div>
                <form v-on:submit.prevent="validarInscripcion(person)" class="w-100 card mb-3 animated slideInLeft">
                    <div class="w-100 m-0 p-0">
                        <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Matriculación</h4>
                        <div class="w-100 m-0 p-0">
                            <div class="p-0 p-sm-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-sm-6">
                                        <span>Periodo académico a cursar</span>
                                        <select v-model="newInscripcion.periodo" class="form-control" required>
                                            <option v-for="periodo in periodos" :key="periodo.PeriodoID" :value="periodo.PeriodoID">Año Escolar {{periodo.PeriodoAnoInicial}} - {{periodo.PeriodoAnoFinal}}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <span>Sección a matricular</span>
                                        <select v-model="newInscripcion.seccion" class="form-control" required>
                                            <option v-for="seccion in secciones" :key="seccion.SeccionID" :value="seccion.SeccionID">{{seccion.SeccionNivel}} {{seccion.SeccionTipo}} Sección "{{seccion.SeccionNombre}}"</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-100 my-3 d-flex j-center">                         
                                    <button type="submit" class="btn btn-success" :disabled="validarInsc.status.loading == true"><span v-bind:class="{ 'd-none': validarInsc.status.loading}">INSCRIBIR</span><span style="display:none;" v-bind:class="{ 'd-block': validarInsc.status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
                <div class="modal fade" id="confirmarEliminarInscripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <form v-on:submit.prevent="sendDeleteInscripcion()"  class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirmar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">¿Desea eliminar la inscripción de {{estudiante[0].AlumnoFname}} {{estudiante[0].AlumnoLname}} en {{deleteInscripcion.seccion.SeccionNivel}} {{deleteInscripcion.seccion.SeccionTipo}} {{deleteInscripcion.seccion.SeccionNombre}} del año escolar {{deleteInscripcion.periodo.PeriodoAnoInicial}} - {{deleteInscripcion.periodo.PeriodoAnoFinal}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-danger" :disabled="statusDelete.loading == true"><span v-bind:class="{ 'd-none': statusDelete.loading}">Eliminar</span><span style="display:none;" v-bind:class="{ 'd-block': statusDelete.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    import Swal from 'sweetalert2';
    import jsPDF from 'jspdf';
    export default{
        name:'inscripcion',
        data(){
            return{
                search:'',
                searching:'',
                ajax:'',
                imprimirInscripcion:{
                    id:'',
                    periodo:{

                    },
                    seccion:{

                    },
                },
                validarInsc:{
                    status:{
                        loading:false,
                        ajax:false,
                    }
                },
                validacion:'1',
                loading:{
                    periodos:'',
                    secciones:'',
                },
                inscribir:{
                    status:{
                        loading:false,
                        ajax:false,
                    }
                },
                loadPeriodos:false,
                periodos:'',
                secciones:'',
                estudiante:'',
                validacionLoading:'',
                newInscripcion:{
                    periodo:'',
                    seccion:'',
                },
                alreadyInscripcion:{
                    periodo:'',
                    seccion:'',
                },
                studentInscripciones:[],
                currentInscripciones:[],
                statusDelete:{
                    ajax:false,
                    loading:false,
                },
                deleteInscripcion:{
                    id:'',
                    periodo:{

                    },
                    seccion:{

                    },
                },
                confirmation:{
                    periodo:{
                        PeriodoID:'',
                        PeriodoAnoInicial:'',
                        PeriodoAnoFinal:'',
                    },
                    seccion:{
                        SeccionID:'',
                        SeccionNivel:'',
                        SeccionTipo:'',
                        SeccionNombre:'',
                    }
                }
            }
        },
        mounted(){
            this.LeerValoresIniciales();
            if(this.$route.params.newStudentRegistered){
                Swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Se registró al estudiante exitosamente',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        },
        methods:{
            LeerValoresIniciales(){
                this.LeerSecciones();
            },
            imprimirInsc(dataInscripcion){
                var self = this;
                console.log(dataInscripcion);
                Swal.fire({
                title: 'Planilla de Inscripción',
                text: "¿Desea descargar la planilla de inscripción de "+self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoLname+" en el año escolar "+dataInscripcion.periodo.PeriodoAnoInicial+' - '+dataInscripcion.periodo.PeriodoAnoFinal+"?",
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Descargar',
                cancelButtonText: 'Continuar',
                }).then((result) => {
                if (result.value) {
                    
                    const doc = new jsPDF();
                    var img = new Image();
                    img.src = "/images/logo.png";
                    var gobLogo = new Image();
                    gobLogo.src = "/images/gobierno.jpg";
                    var zonaLogo = new Image();
                    zonaLogo.src = "/images/mppe.jpg";
                    var zonaTLogo = new Image();
                    zonaTLogo.src = "/images/zona.jpg";
                    var juventud = new Image();
                    juventud.src = "/images/juventud.jpg";
                    doc.addImage(gobLogo, 'JPG', 20, 10, 39, 20);
                    doc.addImage(zonaLogo, 'JPG', 61, 10, 35, 20);
                    doc.addImage(zonaTLogo, 'JPG', 96, 10, 35, 20);
                    doc.addImage(img, 'PNG', 136, 10, 16, 20);
                    doc.addImage(juventud, 'JPG', 158, 10, 35, 20);
                    doc.setFontSize(10);
                    doc.setFontStyle("bold");                     
                    doc.text('PLANILLA DE INSCRIPCION AÑO ESCOLAR '+dataInscripcion.periodo.PeriodoAnoInicial+' - '+dataInscripcion.periodo.PeriodoAnoFinal+' '+dataInscripcion.seccion.SeccionNivel+' '+dataInscripcion.seccion.SeccionTipo+' Sección '+dataInscripcion.seccion.SeccionNombre, 50, 40);
                    doc.setFontSize(10);
                    doc.setFontStyle("bold");
                    doc.text('Datos del Estudiante:', 20, 45);
                    doc.setFontSize(10);
                    doc.setFontStyle("courier");
                    doc.text('Nombres y Apellidos del Estudiante:', 20, 50);
                    doc.text(self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoMname+' '+self.estudiante[0].AlumnoLname+' '+self.estudiante[0].AlumnoLLname, 85, 50);
                    doc.text('Fecha de Nacimiento:', 20, 55);
                    doc.text(self.estudiante[0].AlumnoFNacimiento, 56, 55);
                    doc.text('Cedula:', 75, 55);
                    doc.text(self.estudiante[0].AlumnoCedula, 90, 55);
                    doc.text('Lugar de Nacimiento:', 112, 55);
                    doc.text(self.estudiante[0].AlumnoNacimiento, 152, 55);
                    doc.text('Dirección:', 20, 60);
                    doc.text(self.estudiante[0].AlumnoDireccion, 40, 60);
                    doc.text('Tallas:', 20, 65);
                    doc.text('Camisa: '+self.estudiante[0].AlumnoTallaCamisa+', Pantalon: '+self.estudiante[0].AlumnoTallaPantalon+', Zapatos: '+self.estudiante[0].AlumnoTallaZapatos+', Estatura: '+self.estudiante[0].AlumnoEstatura+', Peso: '+self.estudiante[0].AlumnoPeso, 35, 65);
                    doc.text('Alergico a: ', 20, 70);
                    doc.text(self.estudiante[0].AlumnoAlergias, 40, 70);
                    doc.text('Enfermedades padecidas: ', 90, 70);
                    doc.text(self.estudiante[0].AlumnoEnfermedades, 135, 70);
                    doc.text('Plantel de procedencia: ', 20, 75);
                    doc.text(self.estudiante[0].AlumnoPlantelProcedencia, 63, 75);
                    doc.text('Codigo del Plantel: ', 20, 80);
                    doc.text(self.estudiante[0].AlumnoPlantelCodigo, 57, 80);
                    doc.text('Localidad: ', 90, 80);
                    doc.text(self.estudiante[0].AlumnoPlantelLocalidad, 115, 80);
                    doc.text('Posee equipo canaima: ', 20, 85);
                    if(self.estudiante[0].AlumnoCanaima == 'true'){
                    doc.text('Si tiene', 62, 85);
                    }else{
                        doc.text('No tiene', 62, 85);
                    }
                    doc.text('Serial del Equipo:', 82, 85);
                    doc.text(self.estudiante[0].AlumnoCanaimaSerial, 120, 85);
                    doc.text('Operatividad del equipo: ', 20, 90);
                    doc.text(self.estudiante[0].AlumnoCanaimaOperatividad, 63, 90);
                    doc.text('Observacion: ', 95, 90);
                    doc.text(self.estudiante[0].AlumnoCanaimaObservaciones, 120, 90);
                    doc.text('Lateralidad: ', 20, 95);
                    doc.text(self.estudiante[0].AlumnoLateralidad, 45, 95);
                    doc.text('Hermanos en el plantel: ', 70, 95);
                    doc.text(self.estudiante[0].AlumnoHermanosEstudiantes, 115, 95);
                    doc.text('Observación: ', 140, 95);
                    doc.text(self.estudiante[0].AlumnoHermanosObservaciones, 165, 95);
                    doc.text('Beca escolar: ', 20, 100);
                    if(self.estudiante[0].AlumnoBeca == 'true'){
                    doc.text('Si tiene', 45, 100);
                    }else{
                        doc.text('No tiene', 45, 100);
                    }
                    doc.text('Nivel: ', 63, 100);
                    doc.text(self.estudiante[0].AlumnoBecaNivel, 75, 100);
                    doc.text('Tipo de Vivienda: ', 20, 105);
                    doc.text(self.estudiante[0].AlumnoTipoVivienda, 55, 105);
                doc.text('Condición de la Vivienda: ', 80, 105);
                    doc.text(self.estudiante[0].AlumnoCondicionVivienda, 128, 105);
                doc.text('Carga Familiar: ', 138, 105);
                    doc.text(self.estudiante[0].AlumnoCargaFamiliar, 170, 105);
                    doc.text('Necesidades Educativas Especiales: ', 20, 110);
                    doc.text(self.estudiante[0].AlumnoNecesidades, 84, 110);
                    if(self.estudiante[0].AlumnoRepresentanteStatus == 'true'){
                    doc.text('DATOS DEL REPRESENTANTE: MADRE ', 20, 120);
                    doc.text('Nombres y Apellidos: ', 20, 125);
                    doc.text(self.estudiante[0].AlumnoRepresentanteNombre, 60, 125);
                    doc.text('Cedula: ', 20, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteCedula, 40, 130);
                    doc.text('Edo. Civil: ', 65, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteCivil, 85, 130);
                    doc.text('F.Nacimiento: ', 105, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteFnacimiento, 133, 130);
                    doc.text('Lugar de Nacimiento: ', 20, 135);
                    doc.text(self.estudiante[0].AlumnoRepresentanteNacimiento, 65, 135);
                    doc.text('Dirección: ', 20, 140);
                    doc.text(self.estudiante[0].AlumnoRepresentanteDireccion, 40, 140);
                    doc.text('Ocupación: ', 20, 145);
                    doc.text(self.estudiante[0].AlumnoRepresentanteOcupacion, 42, 145);
                    doc.text('Nivel de Instrucción: ', 90, 145);
                    doc.text(self.estudiante[0].AlumnoRepresentanteInstruccion, 130, 145);
                    doc.text('Teléfonos: ', 20, 150);
                    doc.text(self.estudiante[0].AlumnoTelefono+'   '+self.estudiante[0].AlumnoRepresentanteCel+'   '+self.estudiante[0].AlumnoRepresentanteTelOtro, 43, 150);
                    }
                    if(self.estudiante[0].AlumnoPadreStatus == 'true'){
                    doc.text('DATOS DEL PADRE: ', 20, 160);
                    doc.text('Nombres y Apellidos: ', 20, 165);
                    doc.text(self.estudiante[0].AlumnoPadreNombre, 60, 165);
                    doc.text('Cedula: ', 20, 170);
                    doc.text(self.estudiante[0].AlumnoPadreCedula, 40, 170);
                    doc.text('Edo. Civil: ', 65, 170);
                    doc.text(self.estudiante[0].AlumnoPadreCivil, 85, 170);
                    doc.text('F.Nacimiento: ', 105, 170);
                    doc.text(self.estudiante[0].AlumnoPadreFnacimiento, 133, 170);
                    doc.text('Lugar de Nacimiento: ', 20, 175);
                    doc.text(self.estudiante[0].AlumnoPadreNacimiento, 65, 175);
                    doc.text('Dirección: ', 20, 180);
                    doc.text(self.estudiante[0].AlumnoPadreDireccion, 40, 180);
                    doc.text('Ocupación: ', 20, 185);
                    doc.text(self.estudiante[0].AlumnoPadreOcupacion, 42, 185);
                    doc.text('Nivel de Instrucción: ', 90, 185);
                    doc.text(self.estudiante[0].AlumnoPadreInstruccion, 130, 185);
                    doc.text('Teléfonos: ', 20, 190);
                    doc.text(self.estudiante[0].AlumnoPadreTel+'   '+self.estudiante[0].AlumnoPadreCel+'   '+self.estudiante[0].AlumnoPadreTelOtro, 43, 190);
                    }
                    if(self.estudiante[0].AlumnoROtroStatus == 'true'){
                    doc.text('DATOS DEL REPRESENTANTE: NO PADRE O MADRE ', 20, 200);
                    doc.text('Nombres y Apellidos: ', 20, 205);
                    doc.text(self.estudiante[0].AlumnoROtroNombre, 60, 205);
                    doc.text('Cedula: ', 20, 210);
                    doc.text(self.estudiante[0].AlumnoROtroCedula, 40, 210);
                    doc.text('Edo. Civil: ', 65, 210);
                    doc.text(self.estudiante[0].AlumnoROtroCivil, 85, 210);
                    doc.text('F.Nacimiento: ', 105, 210);
                    doc.text(self.estudiante[0].AlumnoROtroFnacimiento, 133, 210);
                    doc.text('Lugar de Nacimiento: ', 20, 215);
                    doc.text(self.estudiante[0].AlumnoROtroNacimiento, 65, 215);
                    doc.text('Dirección: ', 20, 220);
                    doc.text(self.estudiante[0].AlumnoROtroDireccion, 40, 220);
                    doc.text('Ocupación: ', 20, 225);
                    doc.text(self.estudiante[0].AlumnoROtroOcupacion, 42, 225);
                    doc.text('Nivel de Instrucción: ', 90, 225);
                    doc.text(self.estudiante[0].AlumnoROtroInstruccion, 130, 225);
                    doc.text('Teléfonos: ', 20, 230);
                    doc.text(self.estudiante[0].AlumnoROtroTel+'   '+self.estudiante[0].AlumnoROtroCel+'   '+self.estudiante[0].AlumnoROtroTelOtro, 43, 230);
                    }

                    doc.text('FIRMA AUTORIZADA: _______________________', 20, 240);
                    doc.save(dataInscripcion.periodo.PeriodoAnoInicial+'_'+dataInscripcion.periodo.PeriodoAnoFinal+'_'+self.estudiante[0].AlumnoCedula+'_'+self.estudiante[0].AlumnoFname+'_'+self.estudiante[0].AlumnoLname+".pdf"); 
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Se descargó correctamente la planilla de '+self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoLname+' exitosamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                })
            },
            sendDeleteInscripcion(){
                var self=this;
                $.ajax({
                    url:"/registros/eliminarInscripcion/"+self.estudiante[0].AlumnoID+"/"+self.deleteInscripcion.periodo.PeriodoID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.statusDelete.ajax = true;
                        self.statusDelete.loading = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                $('#confirmarEliminarInscripcion').modal('hide');
                                self.statusDelete.ajax = false;
                                self.statusDelete.loading = false;
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se eliminó el registro académico exitosamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                const inscripcionEliminada = self.currentInscripciones.filter((b)=>{
                                    return b.id != self.deleteInscripcion.id;
                                })
                                self.currentInscripciones = [].concat(inscripcionEliminada);
                            }else{
                                console.log("EliminarInscripcion obtuvo un error: "+response.message);
                                console.log("EliminarInscripcion recibió: "+response);
                                                                    Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });                            }
                        } catch (error){
                            console.log("EliminarInscripcion obtuvo un error: "+error);
                                                                Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                            console.log("EliminarInscripcion recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                                self.statusDelete.loading = false;
                                if(self.statusDelete.ajax === true){
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Lo sentimos',
                                    text: 'Ocurrió un error. Verifique su conexión a internet.',
                                    });
                                }
                        },$);
                    }
                })
            },
            validarInscripcion(personn){
                var self=this;
                $.ajax({
                    url:"/registros/leerInscripciones/"+self.estudiante[0].AlumnoID+"/"+self.newInscripcion.periodo,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.validarInsc.status.loading = true;
                        self.validarInsc.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.validarInsc.status.loading = false;
                                self.validarInsc.status.ajax = false;
                                if(response.values.length > 0){
                                    const periodoElegido = self.periodos.filter((b)=>{
                                        return b.PeriodoID == response.values[0].InscripcionPeriodoID;
                                    })
                                    self.alreadyInscripcion.periodo = JSON.parse(JSON.stringify(periodoElegido[0]));
                                    const seccionElegida = self.secciones.filter((b)=>{
                                        return b.SeccionID == response.values[0].InscripcionSeccionID;
                                    })
                                    self.alreadyInscripcion.seccion = JSON.parse(JSON.stringify(seccionElegida[0]));
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Lo sentimos',
                                        text: 'El estudiante ya se encuentra inscrito en'+self.alreadyInscripcion.seccion.SeccionNivel+' '+self.alreadyInscripcion.seccion.SeccionTipo+' '+self.alreadyInscripcion.seccion.SeccionNombre+' en el año escolar seleccionado.',
                                    });
                                    }else{
                                        const periodoElegido = self.periodos.filter((b)=>{
                                            return b.PeriodoID == self.newInscripcion.periodo;
                                        })
                                        self.confirmation.periodo = periodoElegido[0];
                                        const seccionElegida = self.secciones.filter((b)=>{
                                            return b.SeccionID == self.newInscripcion.seccion;
                                        })
                                        self.confirmation.seccion = seccionElegida[0];
                                        Swal.fire({
                                            title: 'CONFIRMACIÓN',
                                            text: "¿Desea inscribir a "+personn.AlumnoFname+' '+personn.AlumnoMname+' '+personn.AlumnoLname+' '+personn.AlumnoLLname+' en '+self.confirmation.seccion.SeccionNivel+' '+self.confirmation.seccion.SeccionTipo+' '+self.confirmation.seccion.SeccionNombre+' del año escolar '+self.confirmation.periodo.PeriodoAnoInicial+' '+self.confirmation.periodo.PeriodoAnoFinal+"?",
                                            type: 'info',
                                            showCancelButton: true,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Inscribir',
                                            cancelButtonText: 'Cancelar',
                                        }).then((result) => {
                                            if (result.value) {
                                                self.sendInscripcion();
                                            }
                                        })
                                }
                            }else{
                                console.log("LeerInscripciones obtuvo un error: "+response.message);
                                console.log("LeerInscripciones recibió: "+response);      
Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });                                                     }
                        } catch (error){
                            console.log("LeerInscripciones obtuvo un error: "+error);
                            self.validarInsc.status.loading = false;
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                            console.log("LeerInscripciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.validarInsc.status.loading = false;
                            if(self.validarInsc.status.ajax === true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                            }
                        },$);
                    }
                })
            },
            sendInscripcion(){
                var self=this;
                $.ajax({
                    url:"/registros/inscribir",
                    type:"POST",
                    data:{
                        InscripcionPeriodoID: self.confirmation.periodo.PeriodoID,
                        InscripcionEstudianteID: self.estudiante[0].AlumnoID,
                        InscripcionSeccionID: self.confirmation.seccion.SeccionID,
                    },
                    async:true,
                    timeout:10000,
                    beforeSend:function(){
                        self.validarInsc.status.loading = true;
                        self.validarInsc.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.validarInsc.status.loading = false;
                                self.validarInsc.status.ajax = false;
                                $('#confirmarInscripcion').modal('hide');
                                Swal.fire({
                                    title: 'Inscripción procesada exitosamente',
                                    text: "¿Desea descargar la planilla de inscripción de "+self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoLname+" ?",
                                    type: 'success',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Descargar',
                                    cancelButtonText: 'Continuar',
                                    }).then((result) => {
                                    if (result.value) {
                                        const periodoSeleccionadoInsc = self.periodos.filter((b)=>{
                                            return b.PeriodoID == self.confirmation.periodo.PeriodoID;
                                        });
                                        const seccionSeleccionadaIns = self.secciones.filter((b)=>{
                                            return b.SeccionID == self.confirmation.seccion.SeccionID;
                                        });
                                        console.log(periodoSeleccionadoInsc);
                                        console.log(seccionSeleccionadaIns);
                                        const doc = new jsPDF();
                                        var img = new Image();
                                        img.src = "/images/logo.png";
                                        var gobLogo = new Image();
                                        gobLogo.src = "/images/gobierno.jpg";
                                        var zonaLogo = new Image();
                                        zonaLogo.src = "/images/mppe.jpg";
                                        var zonaTLogo = new Image();
                                        zonaTLogo.src = "/images/zona.jpg";
                                        var juventud = new Image();
                                        juventud.src = "/images/juventud.jpg";
                                        doc.addImage(gobLogo, 'JPG', 20, 10, 39, 20);
                                        doc.addImage(zonaLogo, 'JPG', 61, 10, 35, 20);
                                        doc.addImage(zonaTLogo, 'JPG', 96, 10, 35, 20);
                                        doc.addImage(img, 'PNG', 136, 10, 16, 20);
                                        doc.addImage(juventud, 'JPG', 158, 10, 35, 20);
                                        doc.setFontSize(10);
                                        doc.setFontStyle("bold");
                                        doc.text('PLANILLA DE INSCRIPCION AÑO ESCOLAR '+periodoSeleccionadoInsc[0].PeriodoAnoInicial+' - '+periodoSeleccionadoInsc[0].PeriodoAnoFinal+' '+seccionSeleccionadaIns[0].SeccionNivel+' '+seccionSeleccionadaIns[0].SeccionTipo+' Sección '+seccionSeleccionadaIns[0].SeccionNombre, 50, 40);
                                        doc.setFontSize(10);
                                        doc.setFontStyle("bold");
                                        doc.text('Datos del Estudiante:', 20, 45);
                                        doc.setFontSize(10);
                                        doc.setFontStyle("courier");
                                        doc.text('Nombres y Apellidos del Estudiante:', 20, 50);
                                        doc.text(self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoMname+' '+self.estudiante[0].AlumnoLname+' '+self.estudiante[0].AlumnoLLname, 85, 50);
                                        doc.text('Fecha de Nacimiento:', 20, 55);
                                        doc.text(self.estudiante[0].AlumnoFNacimiento, 56, 55);
                                        doc.text('Cedula:', 75, 55);
                                        doc.text(self.estudiante[0].AlumnoCedula, 90, 55);
                                        doc.text('Lugar de Nacimiento:', 112, 55);
                                        doc.text(self.estudiante[0].AlumnoNacimiento, 152, 55);
                                        doc.text('Dirección:', 20, 60);
                                        doc.text(self.estudiante[0].AlumnoDireccion, 40, 60);
                                        doc.text('Tallas:', 20, 65);
                                        doc.text('Camisa: '+self.estudiante[0].AlumnoTallaCamisa+', Pantalon: '+self.estudiante[0].AlumnoTallaPantalon+', Zapatos: '+self.estudiante[0].AlumnoTallaZapatos+', Estatura: '+self.estudiante[0].AlumnoEstatura+', Peso: '+self.estudiante[0].AlumnoPeso, 35, 65);
                                        doc.text('Alergico a: ', 20, 70);
                                        doc.text(self.estudiante[0].AlumnoAlergias, 40, 70);
                                        doc.text('Enfermedades padecidas: ', 90, 70);
                                        doc.text(self.estudiante[0].AlumnoEnfermedades, 135, 70);
                                        doc.text('Plantel de procedencia: ', 20, 75);
                                        doc.text(self.estudiante[0].AlumnoPlantelProcedencia, 63, 75);
                                        doc.text('Codigo del Plantel: ', 20, 80);
                                        doc.text(self.estudiante[0].AlumnoPlantelCodigo, 57, 80);
                                        doc.text('Localidad: ', 90, 80);
                                        doc.text(self.estudiante[0].AlumnoPlantelLocalidad, 115, 80);
                                        doc.text('Posee equipo canaima: ', 20, 85);
                                        if(self.estudiante[0].AlumnoCanaima == 'true'){
                                        doc.text('Si tiene', 62, 85);
                                        }else{
                                            doc.text('No tiene', 62, 85);
                                        }
                                        doc.text('Serial del Equipo:', 82, 85);
                                        doc.text(self.estudiante[0].AlumnoCanaimaSerial, 120, 85);
                                        doc.text('Operatividad del equipo: ', 20, 90);
                                        doc.text(self.estudiante[0].AlumnoCanaimaOperatividad, 63, 90);
                                        doc.text('Observacion: ', 95, 90);
                                        doc.text(self.estudiante[0].AlumnoCanaimaObservaciones, 120, 90);
                                        doc.text('Lateralidad: ', 20, 95);
                                        doc.text(self.estudiante[0].AlumnoLateralidad, 45, 95);
                                        doc.text('Hermanos en el plantel: ', 70, 95);
                                        doc.text(self.estudiante[0].AlumnoHermanosEstudiantes, 115, 95);
                                        doc.text('Observación: ', 140, 95);
                                        doc.text(self.estudiante[0].AlumnoHermanosObservaciones, 165, 95);
                                        doc.text('Beca escolar: ', 20, 100);
                                        if(self.estudiante[0].AlumnoBeca == 'true'){
                                        doc.text('Si tiene', 45, 100);
                                        }else{
                                            doc.text('No tiene', 45, 100);
                                        }
                                        doc.text('Nivel: ', 63, 100);
                                        doc.text(self.estudiante[0].AlumnoBecaNivel, 75, 100);
                                        doc.text('Tipo de Vivienda: ', 20, 105);
                                        doc.text(self.estudiante[0].AlumnoTipoVivienda, 55, 105);
                                    doc.text('Condición de la Vivienda: ', 80, 105);
                                        doc.text(self.estudiante[0].AlumnoCondicionVivienda, 128, 105);
                                    doc.text('Carga Familiar: ', 138, 105);
                                        doc.text(self.estudiante[0].AlumnoCargaFamiliar, 170, 105);
                                        doc.text('Necesidades Educativas Especiales: ', 20, 110);
                                        doc.text(self.estudiante[0].AlumnoNecesidades, 84, 110);
                                                            if(self.estudiante[0].AlumnoRepresentanteStatus == 'true'){
                    doc.text('DATOS DEL REPRESENTANTE: MADRE ', 20, 120);
                    doc.text('Nombres y Apellidos: ', 20, 125);
                    doc.text(self.estudiante[0].AlumnoRepresentanteNombre, 60, 125);
                    doc.text('Cedula: ', 20, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteCedula, 40, 130);
                    doc.text('Edo. Civil: ', 65, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteCivil, 85, 130);
                    doc.text('F.Nacimiento: ', 105, 130);
                    doc.text(self.estudiante[0].AlumnoRepresentanteFnacimiento, 133, 130);
                    doc.text('Lugar de Nacimiento: ', 20, 135);
                    doc.text(self.estudiante[0].AlumnoRepresentanteNacimiento, 65, 135);
                    doc.text('Dirección: ', 20, 140);
                    doc.text(self.estudiante[0].AlumnoRepresentanteDireccion, 40, 140);
                    doc.text('Ocupación: ', 20, 145);
                    doc.text(self.estudiante[0].AlumnoRepresentanteOcupacion, 42, 145);
                    doc.text('Nivel de Instrucción: ', 90, 145);
                    doc.text(self.estudiante[0].AlumnoRepresentanteInstruccion, 130, 145);
                    doc.text('Teléfonos: ', 20, 150);
                    doc.text(self.estudiante[0].AlumnoTelefono+'   '+self.estudiante[0].AlumnoRepresentanteCel+'   '+self.estudiante[0].AlumnoRepresentanteTelOtro, 43, 150);
                    }
                    if(self.estudiante[0].AlumnoPadreStatus == 'true'){
                    doc.text('DATOS DEL PADRE: ', 20, 160);
                    doc.text('Nombres y Apellidos: ', 20, 165);
                    doc.text(self.estudiante[0].AlumnoPadreNombre, 60, 165);
                    doc.text('Cedula: ', 20, 170);
                    doc.text(self.estudiante[0].AlumnoPadreCedula, 40, 170);
                    doc.text('Edo. Civil: ', 65, 170);
                    doc.text(self.estudiante[0].AlumnoPadreCivil, 85, 170);
                    doc.text('F.Nacimiento: ', 105, 170);
                    doc.text(self.estudiante[0].AlumnoPadreFnacimiento, 133, 170);
                    doc.text('Lugar de Nacimiento: ', 20, 175);
                    doc.text(self.estudiante[0].AlumnoPadreNacimiento, 65, 175);
                    doc.text('Dirección: ', 20, 180);
                    doc.text(self.estudiante[0].AlumnoPadreDireccion, 40, 180);
                    doc.text('Ocupación: ', 20, 185);
                    doc.text(self.estudiante[0].AlumnoPadreOcupacion, 42, 185);
                    doc.text('Nivel de Instrucción: ', 90, 185);
                    doc.text(self.estudiante[0].AlumnoPadreInstruccion, 130, 185);
                    doc.text('Teléfonos: ', 20, 190);
                    doc.text(self.estudiante[0].AlumnoPadreTel+'   '+self.estudiante[0].AlumnoPadreCel+'   '+self.estudiante[0].AlumnoPadreTelOtro, 43, 190);
                    }
                    if(self.estudiante[0].AlumnoROtroStatus == 'true'){
                    doc.text('DATOS DEL REPRESENTANTE: NO PADRE O MADRE ', 20, 200);
                    doc.text('Nombres y Apellidos: ', 20, 205);
                    doc.text(self.estudiante[0].AlumnoROtroNombre, 60, 205);
                    doc.text('Cedula: ', 20, 210);
                    doc.text(self.estudiante[0].AlumnoROtroCedula, 40, 210);
                    doc.text('Edo. Civil: ', 65, 210);
                    doc.text(self.estudiante[0].AlumnoROtroCivil, 85, 210);
                    doc.text('F.Nacimiento: ', 105, 210);
                    doc.text(self.estudiante[0].AlumnoROtroFnacimiento, 133, 210);
                    doc.text('Lugar de Nacimiento: ', 20, 215);
                    doc.text(self.estudiante[0].AlumnoROtroNacimiento, 65, 215);
                    doc.text('Dirección: ', 20, 220);
                    doc.text(self.estudiante[0].AlumnoROtroDireccion, 40, 220);
                    doc.text('Ocupación: ', 20, 225);
                    doc.text(self.estudiante[0].AlumnoROtroOcupacion, 42, 225);
                    doc.text('Nivel de Instrucción: ', 90, 225);
                    doc.text(self.estudiante[0].AlumnoROtroInstruccion, 130, 225);
                    doc.text('Teléfonos: ', 20, 230);
                    doc.text(self.estudiante[0].AlumnoROtroTel+'   '+self.estudiante[0].AlumnoROtroCel+'   '+self.estudiante[0].AlumnoROtroTelOtro, 43, 230);
                    }
                    doc.text('FIRMA AUTORIZADA: _______________________', 20, 240);
                    doc.save(periodoSeleccionadoInsc[0].PeriodoAnoInicial+'_'+periodoSeleccionadoInsc[0].PeriodoAnoFinal+'_'+self.estudiante[0].AlumnoCedula+'_'+self.estudiante[0].AlumnoFname+'_'+self.estudiante[0].AlumnoLname+".pdf"); 
                                        Swal.fire({
                                            position: 'top-end',
                                            type: 'success',
                                            title: 'Se descargó correctamente la planilla de '+self.estudiante[0].AlumnoFname+' '+self.estudiante[0].AlumnoLname+' exitosamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    }
                                })
                                self.newInscripcion.seccion = '';
                                self.newInscripcion.periodo = '';
                                self.search = '';
                            }else{
                                self.validarInsc.status.loading = false;
                                console.log("Inscribir obtuvo un error: "+response.message);
                                console.log("Inscribir recibió: "+response);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });                            }
                        } catch (error){
                            self.validarInsc.status.loading = false;
                            console.log("Inscribir obtuvo un error: "+error);
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                            console.log("Inscribir recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                        self.validarInsc.status.loading = false;
                        if(self.validarInsc.status.ajax === true){
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                        }
                    },$);
                    }
                });
            },
            LeerEstudiante(){
                var self=this;
                if(self.search != ''){
                $.ajax({
                    url:"/registros/buscarAlumnos/"+self.search,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                        self.searching=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.estudiante=response.values;
                                self.LeerInscripciones();
                                self.loading=false;
                                self.searching=false;
                            }else{
                                console.log("LeerSecciones obtuvo un error: "+response.message);
                                console.log("LeerSecciones recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerSecciones obtuvo un error: "+error);
                            console.log("LeerSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                            self.searching=false;
                        },$);
                    }
                })
                }
            },
            LeerInscripciones(){
                var self=this;
                $.ajax({
                    url:"/registros/buscarInscripciones/"+self.estudiante[0].AlumnoID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.currentInscripciones = [];
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.studentInscripciones = response.values;
                                self.studentInscripciones.forEach( function(insc){
                                    const oldPeriodo = self.periodos.filter((b)=>{
                                        return b.PeriodoID == insc.InscripcionPeriodoID;
                                    })
                                    const oldSeccion = self.secciones.filter((b)=>{
                                        return b.SeccionID == insc.InscripcionSeccionID;
                                    })
                                    self.currentInscripciones.push({
                                        id: JSON.parse(JSON.stringify(insc.InscripcionID)),
                                        periodo: JSON.parse(JSON.stringify(oldPeriodo[0])),
                                        seccion: JSON.parse(JSON.stringify(oldSeccion[0])),
                                    });
                                });
                            }else{
                                console.log("LeerInscripciones obtuvo un error: "+response.message);
                                console.log("LeerInscripciones recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerInscripciones obtuvo un error: "+error);
                            console.log("LeerInscripciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
//
                        },$);
                    }
                })
            },
            LeerSecciones(){
                var self=this;
                $.ajax({
                    url:"/registros/leerSecciones",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading.secciones=true;
                        this.validacionLoading = '1';
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.secciones=response.values;
                                if(self.secciones.length > 0){
                                    self.LeerPeriodos();
                                }else{
                                    self.loading.secciones=false;
                                    this.validacionLoading = '';
                                }
                            }else{
                                console.log("LeerSecciones obtuvo un error: "+response.message);
                                console.log("LeerSecciones recibió: "+response);                            
                            }
                        } catch (error){
                            console.log("LeerSecciones obtuvo un error: "+error);
                            console.log("LeerSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                            self.loading.secciones=false;
                        },$);
                    }
                })
            },
            LeerPeriodos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerPeriodos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading.periodos=true;
                        self.loadPeriodos=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.periodos=response.values;
                                if(self.periodos.length > 0){
                                    self.loading.periodos=false;
                                    self.validacion = '';
                                    this.validacionLoading = '';
                                    if(self.$route.params.newStudentRegistered){
                                        self.search = self.$route.params.newStudentRegistered;
                                        self.LeerEstudiante();
                                    }
                                }else{
                                    self.loading.periodos=false;
                                }
                            }else{
                                console.log("LeerSecciones obtuvo un error: "+response.message);
                                console.log("LeerSecciones recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerSecciones obtuvo un error: "+error);
                            console.log("LeerSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                            self.loading.periodos=false;
                        },$);
                    }
                })
            },
        }
    }
</script>