<template>
    <form v-on:submit.prevent="sendAlumno()" id="addWrongClasses" class="p-2 p-sm-4">
        <div class="w-100 card title-page p-3 d-flex j-center mb-3">
            <h4 class="m-0 p-0 w-100 text-left">Modificar Alumno</h4>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Datos del Alumno</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                    <span>Cédula de Identidad </span>
                    <input v-bind:class="classVerifyCedula" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" placeholder="V-XX.XXX.XXX" required type="text" v-model="currentModify.AlumnoCedula" @input="SearchAlumnos()" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-md-4 col-lg-3 mb-3">
                    <span>Primer Nombre</span>
                    <input class="form-control" type="text" minlength="3" maxlength="99" title="Debe tener al menos 3 caracteres" required v-model="currentModify.AlumnoFname" :autofocus="$route.params.comeFromInscripcion != undefined" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Segundo Nombre</span>
                    <input class="form-control" type="text" minlength="3" maxlength="299" title="Debe tener al menos 3 caracteres" v-model="currentModify.AlumnoMname" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Primer Apellido</span>
                    <input class="form-control" type="text" minlength="3" maxlength="99" title="Debe tener al menos 3 caracteres" required v-model="currentModify.AlumnoLname" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Segundo Apellido</span>
                    <input class="form-control" v-model="currentModify.AlumnoLLname" maxlength="299" minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Fecha de Nacimiento</span>
                    <input class="form-control" v-model="currentModify.AlumnoFNacimiento" type="date" required/>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Lugar de Nacimiento</span>
                    <input class="form-control" v-model="currentModify.AlumnoNacimiento" maxlength="49" minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <span>Genero</span>
                    <select class="form-control" v-model="currentModify.AlumnoGenero" required>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Alumno</h4>
            <div class="row m-0 p-0">
                <div class="col-12 mb-3">
                    <span>Dirección</span>
                    <input class="form-control" minlength="3" maxlength="300" title="Debe contener al menos 3 caracteres" v-model="currentModify.AlumnoDireccion" type="text" required/>
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Tallas</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Camisa</span>
                    <input class="form-control" v-model="currentModify.AlumnoTallaCamisa"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Pantalon</span>
                    <input class="form-control" v-model="currentModify.AlumnoTallaPantalon"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Zapatos</span>
                    <input class="form-control" v-model="currentModify.AlumnoTallaZapatos"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                    <span>Estatura</span>
                    <input class="form-control" v-model="currentModify.AlumnoEstatura"  minlength="1" maxlength="50" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-3">
                    <span>Peso</span>
                    <input class="form-control" v-model="currentModify.AlumnoPeso"  minlength="1" maxlength="50" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Perfil Médico</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 mb-3">
                    <span>Alergias</span>
                    <input class="form-control" v-model="currentModify.AlumnoAlergias"  minlength="3" maxlength="299" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <span>Enfermedades</span>
                    <input class="form-control" v-model="currentModify.AlumnoEnfermedades"  minlength="3" maxlength="399" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Historial Académico</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-lg-4 mb-3">
                    <span>Plantel de Procedencia</span>
                    <input class="form-control" v-model="currentModify.AlumnoPlantelProcedencia"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                    <span>Codigo de Plantel</span>
                    <input class="form-control" v-model="currentModify.AlumnoPlantelCodigo"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                    <span>Localidad del Plantel</span>
                    <input class="form-control" v-model="currentModify.AlumnoPlantelLocalidad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Equipo CANAIMA</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Equipo Canaima</span>
                    <select class="form-control" v-model="currentModify.AlumnoCanaima" required>
                        <option value="true">SI</option>
                        <option value="false">NO</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Serial del Equipo</span>
                    <input class="form-control" v-model="currentModify.AlumnoCanaimaSerial"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Operatividad del Equipo</span>
                    <input class="form-control" v-model="currentModify.AlumnoCanaimaOperatividad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-12 col-xl-3 mb-3">
                    <span>Observacion</span>
                    <input class="form-control" v-model="currentModify.AlumnoCanaimaObservaciones"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>

            </div>
        </div>
        <div class="row m-0 p-0 w-100 d-flex">
            <div class="col-12 col-md-6 p-0 pr-md-2">
                <div class="w-100 card mb-3">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Beca Escolar</h4>
                    <div class="row m-0 p-0">
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Beca Escolar</span>
                            <select class="form-control" v-model="currentModify.AlumnoBeca" required>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Nivel de la Beca</span>
                            <input class="form-control" v-model="currentModify.AlumnoBecaNivel"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 pl-md-2 d-flex">
                <div class="w-100 card mb-3">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Vivienda del Alumno</h4>
                    <div class="row m-0 p-0">
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Tipo de Vivienda</span>
                            <select class="form-control" v-model="currentModify.AlumnoTipoVivienda" required>
                                <option value="Apartamento">Apartamento</option>
                                <option value="Casa">Casa</option>
                                <option value="Residencia">Residencia</option>
                                <option value="Quinta">Quinta</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Condicion de la Vivienda</span>
                            <select class="form-control" v-model="currentModify.AlumnoCondicionVivienda" required>
                                <option value="P">P</option>
                                <option value="A">A</option>
                                <option value="AC">AC</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Datos Adicionales</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Carga Familiar</span>
                    <input class="form-control" v-model="currentModify.AlumnoCargaFamiliar"  minlength="1" title="Debe tener al menos 1 caracter" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Hermanos en el Plantel</span>
                    <input class="form-control" v-model="currentModify.AlumnoHermanosEstudiantes"  minlength="1" title="Debe tener al menos 1 caracter" type="text" />
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <span>Observaciones</span>
                    <input class="form-control" v-model="currentModify.AlumnoHermanosObservaciones"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <span>Necesidades Educativas Especiales</span>
                    <input class="form-control" v-model="currentModify.AlumnoNecesidades"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <span>Lateralidad</span>
                    <input class="form-control" v-model="currentModify.AlumnoLateralidad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 v-bind:class="titleMother" @click="changeValue('mother')">Datos de la Madre</h4>
            <div class="w-100 m-0 p-0" v-if="currentModify.AlumnoRepresentanteStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text" :required="currentModify.AlumnoRepresentanteStatus == 'true'" v-model="currentModify.AlumnoRepresentanteCedula" @input="mayusYa = currentModify.AlumnoRepresentanteCedula.toUpperCase(); currentModify.AlumnoRepresentanteCedula = mayusYa; SearchPadres(currentModify.AlumnoRepresentanteCedula)"  />
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 col-xl-9 mb-3">
                        <span>Nombre</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" :required="currentModify.AlumnoRepresentanteStatus == 'true'" v-model="currentModify.AlumnoRepresentanteNombre" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date" :required="currentModify.AlumnoRepresentanteStatus == 'true'" v-model="currentModify.AlumnoRepresentanteFnacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoRepresentanteNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" v-model="currentModify.AlumnoRepresentanteCivil" :required="currentModify.AlumnoRepresentanteStatus == 'true'">
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoRepresentanteInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoRepresentanteOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" type="text" :required="currentModify.AlumnoRepresentanteStatus == 'true'" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoRepresentanteCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoRepresentantePhone" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoRepresentanteTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección de la Madre</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 mb-3">
                        <span>Dirección</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="currentModify.AlumnoRepresentanteDireccion" type="text" :required="currentModify.AlumnoRepresentanteStatus == 'true'"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 v-bind:class="titleFather" @click="changeValue('father')">Datos del Padre</h4>
            <div class="w-100 m-0 p-0" v-if="currentModify.AlumnoPadreStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :required="currentModify.AlumnoPadreStatus == 'true'" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text"  v-model="currentModify.AlumnoPadreCedula" @input="mayusYa = currentModify.AlumnoPadreCedula.toUpperCase(); currentModify.AlumnoPadreCedula = mayusYa; SearchPadres(currentModify.AlumnoPadreCedula)"  />
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 col-xl-9 mb-3">
                        <span>Nombre</span>
                        <input class="form-control" :required="currentModify.AlumnoPadreStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="currentModify.AlumnoPadreNombre" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date"  v-model="currentModify.AlumnoPadreFnacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoPadreNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" :required="currentModify.AlumnoPadreStatus == 'true'" v-model="currentModify.AlumnoPadreCivil" >
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoPadreInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoPadreOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" :required="currentModify.AlumnoPadreStatus == 'true'" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoPadreCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoPadreTel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoPadreTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Padre</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 mb-3">
                        <span>Direccion</span>
                        <input class="form-control" :required="currentModify.AlumnoPadreStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="currentModify.AlumnoPadreDireccion" type="text" />
                    </div>
                </div>
            </div>
        </div>
         <div class="w-100 card mb-3">
            <h4 v-bind:class="titleOther" @click="changeValue('other')">Datos de otro Representante</h4>
            <div class="w-100 m-0 p-0" v-if="currentModify.AlumnoROtroStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :required="currentModify.AlumnoROtroStatus == 'true'" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text"  v-model="currentModify.AlumnoROtroCedula" @input="mayusYa = currentModify.AlumnoROtroCedula.toUpperCase(); currentModify.AlumnoROtroCedula = mayusYa; SearchPadres(currentModify.AlumnoROtroCedula)"  />
                    </div>
                    <div class="col-12 col-md-6 col-lg-9 col-xl-9 mb-3">
                        <span>Nombre</span>
                        <input class="form-control" :required="currentModify.AlumnoROtroStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="currentModify.AlumnoROtroNombre" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date"  v-model="currentModify.AlumnoROtroFnacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoROtroNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" :required="currentModify.AlumnoROtroStatus == 'true'" v-model="currentModify.AlumnoROtroCivil" >
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoROtroInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="currentModify.AlumnoROtroOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" :required="currentModify.AlumnoROtroStatus == 'true'" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoROtroCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoROtroTel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="currentModify.AlumnoROtroTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Representante</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 mb-3">
                        <span>Direccion</span>
                        <input class="form-control" :required="currentModify.AlumnoROtroStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="currentModify.AlumnoROtroDireccion" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 p-3 d-flex j-center mb-3">
            <button class="btn btn-success" id="verifyClasses" type="submit" :disabled="status.loading == true"><span v-bind:class="{ 'd-none': status.loading}">REGISTRAR</span><span style="display:none;" v-bind:class="{ 'd-block': status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
        </div>
    </form>
</template>
<script>
    import Swal from 'sweetalert2';
    export default{
        name:'modificaralumno',
        props:['AlumnoID'],
        data(){
            return{
                currentModify:{
                    AlumnoCedula:'',
                    AlumnoFname:'',
                    AlumnoMname:'',
                    AlumnoLname:'',
                    AlumnoLLname:'',
                    AlumnoFNacimiento:'',
                    AlumnoGenero:'',
                    AlumnoDireccion:'',
                    AlumnoRepresentanteCedula:'',
                    AlumnoRepresentanteFname:'',
                    AlumnoRepresentanteMname:'',
                    AlumnoRepresentanteLname:'',
                    AlumnoRepresentanteLLname:'',
                    AlumnoRepresentanteFnacimiento:'',
                    AlumnoRepresentanteNacimiento:'',
                    AlumnoRepresentanteCivil:'',
                    AlumnoRepresentanteInstruccion:'',
                    AlumnoRepresentanteAddress1:'',
                    AlumnoRepresentanteAddress2:'',
                    AlumnoRepresentanteCity:'',
                    AlumnoRepresentanteState:'',
                    AlumnoRepresentanteZIP:'',
                    AlumnoRepresentanteOcupacion:'',
                    AlumnoRepresentanteCel:'',
                    AlumnoRepresentanteTelOtro:'',
                    AlumnoRepresentantePhone:'',
                    AlumnoNacimiento:'',
                    AlumnoTallaCamisa:'',
                    AlumnoTallaPantalon:'',
                    AlumnoTallaZapatos:'',
                    AlumnoEstatura:'',
                    AlumnoPeso:'',
                    AlumnoAlergias:'',
                    AlumnoEnfermedades:'',
                    AlumnoPlantelProcedencia:'',
                    AlumnoPlantelCodigo:'',
                    AlumnoPlantelLocalidad:'',
                    AlumnoCanaima:'',
                    AlumnoCanaimaSerial:'',
                    AlumnoCanaimaObservaciones:'',
                    AlumnoLateralidad:'',
                    AlumnoHermanosEstudiantes:'',
                    AlumnoHermanosObservaciones:'',
                    AlumnoBeca:'',
                    AlumnoBecaNivel:'',
                    AlumnoTipoVivienda:'',
                    AlumnoCondicionVivienda:'',
                    AlumnoCargaFamiliar:'',
                    AlumnoNecesidades:'',
                    AlumnoPadreFname:'',
                    AlumnoPadreLname:'',
                    AlumnoPadreLLname:'',
                    AlumnoPadreMname:'',
                    AlumnoPadreCedula:'',
                    AlumnoPadreCivil:'',
                    AlumnoPadreFnacimiento:'',
                    AlumnoPadreNacimiento:'',
                    AlumnoPadreAddress1:'',
                    AlumnoPadreAddress2:'',
                    AlumnoPadreCity:'',
                    AlumnoPadreState:'',
                    AlumnoPadreZIP:'',
                    AlumnoCanaimaOperatividad:'',
                    AlumnoPadreInstruccion:'',
                    AlumnoPadreOcupacion:'',
                    AlumnoPadreTel:'',
                    AlumnoPadreCel:'',
                    AlumnoPadreTelOtro:'',
                    AlumnoROtroCedula:'',
                    AlumnoROtroFname:'',
                    AlumnoROtroMname:'',
                    AlumnoROtroLname:'',
                    AlumnoROtroLLname:'',
                    AlumnoROtroParentesco:'',
                    AlumnoROtroCivil:'',
                    AlumnoROtroFnacimiento:'',
                    AlumnoROtroNacimiento:'',
                    AlumnoROtroAddress1:'',
                    AlumnoROtroAddress2:'',
                    AlumnoROtroCity:'',
                    AlumnoROtroState:'',
                    AlumnoROtroZIP:'',
                    AlumnoROtroInstruccion:'',
                    AlumnoROtroOcupacion:'',
                    AlumnoROtroTel:'',
                    AlumnoROtroCel:'',
                    AlumnoROtroTelOtro:'',
                    AlumnoRepresentanteStatus:'false',
                    AlumnoROtroStatus:'false',
                    AlumnoPadreStatus:'false',
                },
                alumnos:[],
                alreadyExist:false,
                status:{
                    loading:'',
                    ajax:'',
                },
                patterns:{
                    cedula:'([EV]{1}-[0-9]{6,9})',
                    telefono:'(0[1-9]{3}-[0-9]{7})',
                },
                mayusYa:'',
                searchModify:{
                    alreadyExist:false,
                },
                oldModify:'',
            }
        },
        computed:{
            classVerifyCedula: function(){
                return{
                    'form-control form-invalid-bg': this.searchModify.alreadyExist === true,
                    'form-control': this.searchModify.alreadyExist != true
                }
            },
            titleMother: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.currentModify.AlumnoRepresentanteStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.currentModify.AlumnoRepresentanteStatus == 'false'
                }
            },
            titleFather: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.currentModify.AlumnoPadreStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.currentModify.AlumnoPadreStatus == 'false'
                }
            },
            titleOther: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.currentModify.AlumnoROtroStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.currentModify.AlumnoROtroStatus == 'false'
                }
            }
        },
        mounted(){
            this.LeerAlumnos(); 
            document.getElementById("verifyClasses").addEventListener("click", function(){
                document.getElementById("addWrongClasses").className="form-submitted-validate p-2 p-sm-4";
            });  

        },
        methods:{
            changeValue(typeValue){
                if(typeValue == 'mother'){
                    if(this.currentModify.AlumnoRepresentanteStatus == 'false'){
                        this.currentModify.AlumnoRepresentanteStatus = 'true'
                    }else if(this.currentModify.AlumnoRepresentanteStatus == 'true'){
                        this.currentModify.AlumnoRepresentanteStatus = 'false'
                    }
                }else if(typeValue == 'father'){
                    if(this.currentModify.AlumnoPadreStatus == 'false'){
                        this.currentModify.AlumnoPadreStatus = 'true'
                    }else if(this.currentModify.AlumnoPadreStatus == 'true'){
                        this.currentModify.AlumnoPadreStatus = 'false'
                    }
                }else if(typeValue == 'other'){
                    if(this.currentModify.AlumnoROtroStatus == 'false'){
                        this.currentModify.AlumnoROtroStatus = 'true'
                    }else if(this.currentModify.AlumnoROtroStatus == 'true'){
                        this.currentModify.AlumnoROtroStatus = 'false'
                    }
                }
            },
                        SearchPadres(valueEnter){
                let hijos = [];
                let padreInfo = {
                    "nombre":"",
                };
                var self = this;
                var i = 0;
                do {
                    if(self.alumnos[i].AlumnoRepresentanteCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoRepresentanteNombre};
                    }else if(self.alumnos[i].AlumnoPadreCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoPadreNombre};
                    }else if(self.alumnos[i].AlumnoROtroCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoROtroNombre};
                    }
                    if(hijos.length > 0 && self.alumnos.length == (i + 1)){
                        Swal.fire({
                            type: 'info',
                            title: 'ALERTA',
                            text: 'La cedula introducida pertenece al representante: '+padreInfo.nombre+' quien es representante de '+hijos.length+' estudiantes. Verifique y prosiga con su inscripción.',
                        })                        
                    }
                    i = i + 1;
                } while (i < (self.alumnos.length + 1));
            },
            SearchAlumnos(){
                var self = this;
                this.searchModify.alreadyExist = false;
                var upper = self.currentModify.AlumnoCedula.toUpperCase();
                self.currentModify.AlumnoCedula = upper;
                this.alumnos.forEach( function(alumno){
                    console.log('cu:'+self.currentModify.AlumnoCedula+' al:'+alumno.AlumnoCedula)
                    if(alumno.AlumnoCedula === self.oldModify){
                        console.log('no changes');
                    }else if(alumno.AlumnoCedula == self.currentModify.AlumnoCedula){
                        self.searchModify.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                        })
                    }
                });
            },
            LeerAlumnos(){
            var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
               //         self.ajax=true;
                 //       self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                                self.alumnos.forEach(function(student){
                                    if(student.AlumnoID == self.AlumnoID){
                                        self.currentModify = JSON.parse(JSON.stringify(student));
                                        console.log(student);
                                        self.oldModify = JSON.parse(JSON.stringify(student.AlumnoCedula));    
                                        self.SearchAlumnos();
                                    }
                                    
                                })
                      //          self.loading=false;
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                         }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);

                        }
                    },
                    complete:function(){
                        setTimeout(function(){
               //             self.ajax=false;
                        },$);
                    }
                })
            },
            sendAlumno(){
                var self = this;
                if(self.searchModify.alreadyExist == false){
                    if(this.currentModify.AlumnoRepresentanteStatus == 'false' && this.currentModify.AlumnoPadreStatus == 'false' && this.currentModify.AlumnoROtroStatus == 'false'){
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Inserte al menos un representante.',
                        })    
                    }else{
                    $.ajax({
                        url:"/registros/modificar/"+self.currentModify.AlumnoID,
                        type:"POST",
                        data:{
                            AlumnoFname: self.currentModify.AlumnoFname,
                            AlumnoMname: self.currentModify.AlumnoMname,
                            AlumnoLname: self.currentModify.AlumnoLname,
                            AlumnoLLname: self.currentModify.AlumnoLLname,
                            AlumnoCedula: self.currentModify.AlumnoCedula,                            
                            AlumnoDireccion: self.currentModify.AlumnoDireccion,
                            AlumnoGenero: self.currentModify.AlumnoGenero,
                            AlumnoFnacimiento: self.currentModify.AlumnoFNacimiento,
                            AlumnoRepresentanteNombre: self.currentModify.AlumnoRepresentanteNombre,
                            AlumnoRepresentanteCedula: self.currentModify.AlumnoRepresentanteCedula,
                            AlumnoTelefono: self.currentModify.AlumnoTelefono,
                            AlumnoNacimiento: self.currentModify.AlumnoNacimiento,
                            AlumnoTallaCamisa: self.currentModify.AlumnoTallaCamisa,
                            AlumnoTallaPantalon: self.currentModify.AlumnoTallaPantalon,
                            AlumnoTallaZapatos: self.currentModify.AlumnoTallaZapatos,
                            AlumnoEstatura: self.currentModify.AlumnoEstatura,
                            AlumnoPeso: self.currentModify.AlumnoPeso,
                            AlumnoAlergias: self.currentModify.AlumnoAlergias,
                            AlumnoEnfermedades: self.currentModify.AlumnoEnfermedades,
                            AlumnoPlantelProcedencia: self.currentModify.AlumnoPlantelProcedencia,
                            AlumnoPlantelCodigo: self.currentModify.AlumnoPlantelCodigo,
                            AlumnoPlantelLocalidad: self.currentModify.AlumnoPlantelLocalidad,
                            AlumnoCanaima: self.currentModify.AlumnoCanaima,
                            AlumnoCanaimaSerial: self.currentModify.AlumnoCanaimaSerial,
                            AlumnoCanaimaOperatividad: self.currentModify.AlumnoCanaimaOperatividad,
                            AlumnoCanaimaObservaciones: self.currentModify.AlumnoCanaimaObservaciones,
                            AlumnoLateralidad: self.currentModify.AlumnoLateralidad,
                            AlumnoHermanosEstudiantes: self.currentModify.AlumnoHermanosEstudiantes,
                            AlumnoHermanosObservaciones: self.currentModify.AlumnoHermanosObservaciones,
                            AlumnoBeca: self.currentModify.AlumnoBeca,
                            AlumnoBecaNivel: self.currentModify.AlumnoBecaNivel,
                            AlumnoTipoVivienda: self.currentModify.AlumnoTipoVivienda,
                            AlumnoCondicionVivienda: self.currentModify.AlumnoCondicionVivienda,
                            AlumnoCargaFamiliar: self.currentModify.AlumnoCargaFamiliar,
                            AlumnoNecesidades: self.currentModify.AlumnoNecesidades,
                            AlumnoRepresentanteCivil: self.currentModify.AlumnoRepresentanteCivil,
                            AlumnoRepresentanteNacimiento: self.currentModify.AlumnoRepresentanteNacimiento,
                            AlumnoRepresentanteFnacimiento: self.currentModify.AlumnoRepresentanteFnacimiento,
                            AlumnoRepresentanteInstruccion: self.currentModify.AlumnoRepresentanteInstruccion,
                            AlumnoRepresentanteOcupacion: self.currentModify.AlumnoRepresentanteOcupacion,
                            AlumnoRepresentanteCel: self.currentModify.AlumnoRepresentanteCel,
                            AlumnoRepresentanteTelOtro: self.currentModify.AlumnoRepresentanteTelOtro,
                            AlumnoRepresentanteDireccion: self.currentModify.AlumnoRepresentanteDireccion,
                            AlumnoPadreNombre: self.currentModify.AlumnoPadreNombre,
                            AlumnoPadreCedula: self.currentModify.AlumnoPadreCedula,
                            AlumnoPadreCivil: self.currentModify.AlumnoPadreCivil,
                            AlumnoPadreFnacimiento: self.currentModify.AlumnoPadreFnacimiento,
                            AlumnoPadreNacimiento: self.currentModify.AlumnoPadreNacimiento,
                            AlumnoPadreDireccion: self.currentModify.AlumnoPadreDireccion,
                            AlumnoPadreInstruccion: self.currentModify.AlumnoPadreInstruccion,
                            AlumnoPadreOcupacion: self.currentModify.AlumnoPadreOcupacion,
                            AlumnoPadreTel: self.currentModify.AlumnoPadreTel,
                            AlumnoPadreCel: self.currentModify.AlumnoPadreCel,
                            AlumnoPadreTelOtro: self.currentModify.AlumnoPadreTelOtro,
                            AlumnoROtroCedula: self.currentModify.AlumnoROtroCedula,
                            AlumnoROtroNombre: self.currentModify.AlumnoROtroNombre,                            
                            AlumnoROtroParentesco: self.currentModify.AlumnoROtroParentesco,
                            AlumnoROtroCivil:self.currentModify.AlumnoROtroCivil,
                            AlumnoROtroFnacimiento:self.currentModify.AlumnoROtroFnacimiento,
                            AlumnoROtroNacimiento:self.currentModify.AlumnoROtroNacimiento,
                            AlumnoROtroDireccion: self.currentModify.AlumnoROtroDireccion,
                            AlumnoROtroInstruccion:self.currentModify.AlumnoROtroInstruccion,
                            AlumnoROtroOcupacion:self.currentModify.AlumnoROtroOcupacion,
                            AlumnoROtroTel:self.currentModify.AlumnoROtroTel,
                            AlumnoROtroCel:self.currentModify.AlumnoROtroCel,
                            AlumnoROtroTelOtro:self.currentModify.AlumnoROtroTelOtro,
                            AlumnoRepresentanteStatus:self.currentModify.AlumnoRepresentanteStatus,
                            AlumnoPadreStatus:self.currentModify.AlumnoPadreStatus,
                            AlumnoROtroStatus:self.currentModify.AlumnoROtroStatus
                        },
                        async:true,
                        timeout:10000,
                        beforeSend:function(){
                            self.status.loading = true;
                            self.status.ajax = true;
                        },
                        success:function(response){
                            try{
                                if(response.status){
                                    self.status.loading = false;
                                    self.status.ajax = false;
                                    if(self.$route.params.comeFromInscripcion){
                                        self.$router.push({name: 'inscripcion', params:{newStudentRegistered: self.currentModify.AlumnoCedula}});                                        
                                    }else{
                                        self.$router.push({name: 'alumnos', params:{addModify:'1'}});
                                    }
                                }else{
                                    console.log("AgregarAlumno obtuvo un error: "+response.message);
                                    console.log("AgregarAlumno recibió: "+response);    
                                    self.status.loading = false;
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                }
                            } catch (error){
                                console.log("AgregarAlumno obtuvo un error: "+error);
                                console.log("AgregarAlumno recibió: "+response);
                                self.status.loading = false;
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },
                        complete:function(){
                            setTimeout(function(){
                                self.status.loading = false;
                                if(self.status.ajax === true){
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                }
                        },$);
                    }
                    })
                    }
                }else{
                    Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                        }) 
                }
            }
        }
    }
</script>
