<template>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
        <router-link tag="a" to="/dashboard" class="navbar-brand">MPPE  <i class="fas fa-university"></i></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
            <li class="nav-item active d-flex j-center">
                <router-link tag="a" to="/dashboard" class="nav-link">Home <span class="sr-only">(current)</span></router-link>
            </li>
            <li class="nav-item d-flex j-center m-lg-auto">
                <router-link tag="a" to="/dashboard/inscripcion" class="nav-link">INSCRIBIR</router-link>
            </li>
            <li class="nav-item d-flex j-center d-lg-none">
                <router-link tag="a" to="/dashboard/alumnos" class="nav-link">Alumnos</router-link>
            </li>
            <li class="nav-item d-flex j-center d-lg-none">
                <router-link tag="a" to="/dashboard/secciones" class="nav-link">Secciones</router-link>
            </li>
            <li class="nav-item d-flex j-center d-lg-none">
                <router-link tag="a" to="/dashboard/periodos" class="nav-link">Años Escolares</router-link>
            </li>
            <li class="nav-item d-flex j-center d-lg-none">
                <router-link tag="a" to="/dashboard/docentes" class="nav-link">Docentes</router-link>
            </li>
            <li class="nav-item dropdown ml-auto">
                <p class="nav-link dropdown-toggle mb-0 d-flex j-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hola, {{user.DocenteFname}} <i class="fas fa-user-circle fs-2 ml-2"></i>
                </p>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a @click="logoutSession()" class="dropdown-item">Cerrar Sesión</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">{{user.DocenteLname}} {{user.DocenteFname}} {{user.DocenteLLname}}</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
</template>
<script>
    import Swal from 'sweetalert2'  
    export default{
        name:'navigation',
        data(){
            return{
                user:'',
            }
        },
        mounted(){
            this.user = JSON.parse(localStorage.getItem('login_sisacademico'));
        },
        methods:{
            logoutSession(){
                localStorage.removeItem('login_sisacademico');
                this.$router.push('/login');
                Swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Sesión cerrada exitosamente. Vuelve pronto.',
                    showConfirmButton: false,
                    timer: 1500
                });
            },
        }
    }
</script>
