<template>
    <form v-on:submit.prevent="sendAlumno()" id="addWrongClasses" class="p-2 p-sm-4">
        <div class="w-100 card title-page p-3 d-flex j-center mb-3">
            <h4 class="m-0 p-0 w-100 text-left">Registrar Alumno</h4>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Datos del Alumno</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                    <span>Cédula de Identidad </span>
                    <input v-bind:class="classVerifyCedula" :pattern="patterns.cedula" minlength="6" maxlength="20" title="Debe ingresar de 6 a 20 digitos" placeholder="V-XX.XXX.XXX" required type="text" v-model="nuevo.AlumnoCedula" @input="SearchAlumnos()" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-md-4 col-lg-3 mb-3">
                    <span>Primer Nombre</span>
                    <input class="form-control" type="text" minlength="3" maxlength="99" title="Debe tener al menos 3 caracteres" required v-model="nuevo.AlumnoFname" :autofocus="$route.params.comeFromInscripcion != undefined" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Segundo Nombre</span>
                    <input class="form-control" type="text" minlength="3" maxlength="299" title="Debe tener al menos 3 caracteres" v-model="nuevo.AlumnoMname" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Primer Apellido</span>
                    <input class="form-control" type="text" minlength="3" maxlength="99" title="Debe tener al menos 3 caracteres" required v-model="nuevo.AlumnoLname" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Segundo Apellido</span>
                    <input class="form-control" v-model="nuevo.AlumnoLLname" maxlength="299" minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Fecha de Nacimiento</span>
                    <input class="form-control" v-model="nuevo.AlumnoFnacimiento" type="date" required/>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <span>Lugar de Nacimiento</span>
                    <input class="form-control" v-model="nuevo.AlumnoNacimiento" maxlength="49" minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-3">
                    <span>Genero</span>
                    <select class="form-control" v-model="nuevo.AlumnoGenero" required>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Alumno</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-md-6 mb-3">
                    <span>Avenida/Calle</span>
                    <input class="form-control" minlength="3" maxlength="140" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoAddress1" type="text" required/>
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <span>Casa/Edificio/Bloque</span>
                    <input class="form-control" minlength="3" maxlength="140" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoAddress2" type="text" required/>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Ciudad</span>
                    <input class="form-control" minlength="3" maxlength="140" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoCity" type="text" required/>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Estado</span>
                    <input class="form-control" minlength="3" maxlength="140" title="Debe contener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoState" required />
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Codigo Postal</span>
                    <input class="form-control" minlength="4" title="Debe contener 4 caracteres" maxlength="4" type="number" v-model="nuevo.AlumnoZIP" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Tallas</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Camisa</span>
                    <input class="form-control" v-model="nuevo.AlumnoTallaCamisa"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Pantalon</span>
                    <input class="form-control" v-model="nuevo.AlumnoTallaPantalon"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                    <span>Talla de Zapatos</span>
                    <input class="form-control" v-model="nuevo.AlumnoTallaZapatos"  minlength="1" maxlength="19" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                    <span>Estatura</span>
                    <input class="form-control" v-model="nuevo.AlumnoEstatura"  minlength="1" maxlength="50" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-3">
                    <span>Peso</span>
                    <input class="form-control" v-model="nuevo.AlumnoPeso"  minlength="1" maxlength="50" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Perfil Médico</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 mb-3">
                    <span>Alergias</span>
                    <input class="form-control" v-model="nuevo.AlumnoAlergias"  minlength="3" maxlength="299" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <span>Enfermedades</span>
                    <input class="form-control" v-model="nuevo.AlumnoEnfermedades"  minlength="3" maxlength="399" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Historial Académico</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-lg-4 mb-3">
                    <span>Plantel de Procedencia</span>
                    <input class="form-control" v-model="nuevo.AlumnoPlantelProcedencia"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                    <span>Codigo de Plantel</span>
                    <input class="form-control" v-model="nuevo.AlumnoPlantelCodigo"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                    <span>Localidad del Plantel</span>
                    <input class="form-control" v-model="nuevo.AlumnoPlantelLocalidad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Equipo CANAIMA</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Equipo Canaima</span>
                    <select class="form-control" v-model="nuevo.AlumnoCanaima" required>
                        <option value="true">SI</option>
                        <option value="false">NO</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Serial del Equipo</span>
                    <input class="form-control" v-model="nuevo.AlumnoCanaimaSerial"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                    <span>Operatividad del Equipo</span>
                    <input class="form-control" v-model="nuevo.AlumnoCanaimaOperatividad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-12 col-xl-3 mb-3">
                    <span>Observacion</span>
                    <input class="form-control" v-model="nuevo.AlumnoCanaimaObservaciones"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>

            </div>
        </div>
        <div class="row m-0 p-0 w-100 d-flex">
            <div class="col-12 col-md-6 p-0 pr-md-2">
                <div class="w-100 card mb-3">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Beca Escolar</h4>
                    <div class="row m-0 p-0">
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Beca Escolar</span>
                            <select class="form-control" v-model="nuevo.AlumnoBeca" required>
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Nivel de la Beca</span>
                            <input class="form-control" v-model="nuevo.AlumnoBecaNivel"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 pl-md-2 d-flex">
                <div class="w-100 card mb-3">
                    <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Vivienda del Alumno</h4>
                    <div class="row m-0 p-0">
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Tipo de Vivienda</span>
                            <select class="form-control" v-model="nuevo.AlumnoTipoVivienda" required>
                                <option value="Apartamento">Apartamento</option>
                                <option value="Casa">Casa</option>
                                <option value="Residencia">Residencia</option>
                                <option value="Quinta">Quinta</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6 mb-3">
                            <span>Condicion de la Vivienda</span>
                            <select class="form-control" v-model="nuevo.AlumnoCondicionVivienda" required>
                                <option value="P">P</option>
                                <option value="A">A</option>
                                <option value="AC">AC</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Datos Adicionales</h4>
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Carga Familiar</span>
                    <input class="form-control" v-model="nuevo.AlumnoCargaFamiliar"  minlength="1" title="Debe tener al menos 1 caracter" type="text" />
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <span>Hermanos en el Plantel</span>
                    <input class="form-control" v-model="nuevo.AlumnoHermanosEstudiantes"  minlength="1" title="Debe tener al menos 1 caracter" type="text" />
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <span>Observaciones</span>
                    <input class="form-control" v-model="nuevo.AlumnoHermanosObservaciones"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <span>Necesidades Educativas Especiales</span>
                    <input class="form-control" v-model="nuevo.AlumnoNecesidades"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <span>Lateralidad</span>
                    <input class="form-control" v-model="nuevo.AlumnoLateralidad"  minlength="3" title="Debe tener al menos 3 caracteres" type="text" />
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 v-bind:class="titleMother" @click="changeValue('mother')">Datos de la Madre</h4>
            <div class="w-100 m-0 p-0" v-if="nuevo.AlumnoRepresentanteStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'" v-model="nuevo.AlumnoRepresentanteCedula" @input="mayusYa = nuevo.AlumnoRepresentanteCedula.toUpperCase(); nuevo.AlumnoRepresentanteCedula = mayusYa; SearchPadres(nuevo.AlumnoRepresentanteCedula)"  />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Nombre</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'" v-model="nuevo.AlumnoRepresentanteFname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Segundo Nombre</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteMname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Apellido</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'" v-model="nuevo.AlumnoRepresentanteLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Segundo Apellido</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteLLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date" :required="nuevo.AlumnoRepresentanteStatus == 'true'" v-model="nuevo.AlumnoRepresentanteFnacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" v-model="nuevo.AlumnoRepresentanteCivil" :required="nuevo.AlumnoRepresentanteStatus == 'true'">
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoRepresentanteCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoRepresentantePhone" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text" :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoRepresentanteTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección de la Madre</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 mb-3">
                        <span>Avenida/Calle</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoRepresentanteAddress1" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'"/>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <span>Casa/Edificio/Bloque</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoRepresentanteAddress2" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Ciudad</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoRepresentanteCity" type="text" :required="nuevo.AlumnoRepresentanteStatus == 'true'"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Estado</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoRepresentanteState" :required="nuevo.AlumnoRepresentanteStatus == 'true'" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Codigo Postal</span>
                        <input class="form-control" minlength="4" title="Debe contener 4 caracteres" maxlength="4" type="number" v-model="nuevo.AlumnoRepresentanteZIP" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 card mb-3">
            <h4 v-bind:class="titleFather" @click="changeValue('father')">Datos del Padre</h4>
            <div class="w-100 m-0 p-0" v-if="nuevo.AlumnoPadreStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :required="nuevo.AlumnoPadreStatus == 'true'" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text"  v-model="nuevo.AlumnoPadreCedula" @input="mayusYa = nuevo.AlumnoPadreCedula.toUpperCase(); nuevo.AlumnoPadreCedula = mayusYa; SearchPadres(nuevo.AlumnoPadreCedula)"  />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Nombre</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="nuevo.AlumnoPadreFname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Segundo Nombre</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreMname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Apellido</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="nuevo.AlumnoPadreLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Segundo Apellido</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreLLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date"  v-model="nuevo.AlumnoPadreFnacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" v-model="nuevo.AlumnoPadreCivil" >
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoPadreCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoPadreTel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoPadreTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Padre</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 mb-3">
                        <span>Avenida/Calle</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoPadreAddress1" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <span>Casa/Edificio/Bloque</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoPadreAddress2" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Ciudad</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoPadreCity" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Estado</span>
                        <input class="form-control" :required="nuevo.AlumnoPadreStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoPadreState"  />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Codigo Postal</span>
                        <input class="form-control" minlength="4" title="Debe contener 4 caracteres" maxlength="4" type="number" v-model="nuevo.AlumnoPadreZIP" />
                    </div>
                </div>
            </div>
        </div>
         <div class="w-100 card mb-3">
            <h4 v-bind:class="titleOther" @click="changeValue('other')">Datos de otro Representante</h4>
            <div class="w-100 m-0 p-0" v-if="nuevo.AlumnoROtroStatus == 'true'">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Cédula de Identidad</span>
                        <input placeholder="V-XX.XXX.XXX" :required="nuevo.AlumnoROtroStatus == 'true'" :pattern="patterns.cedula" title="Debe ingresar la cedula en el siguiente formato: V-1234567" class="form-control" type="text"  v-model="nuevo.AlumnoROtroCedula" @input="mayusYa = nuevo.AlumnoROtroCedula.toUpperCase(); nuevo.AlumnoROtroCedula = mayusYa; SearchPadres(nuevo.AlumnoROtroCedula)"  />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Nombre</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="nuevo.AlumnoROtroFname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Segundo Nombre</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroMname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                        <span>Primer Apellido</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" minlength="3" title="Debe tener al menos 3 caracteres" type="text"  v-model="nuevo.AlumnoROtroLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Segundo Apellido</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroLLname" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Fecha de Nacimiento</span>
                        <input class="form-control" type="date"  v-model="nuevo.AlumnoROtroFnacimiento" />
                    </div>


                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Lugar de Nacimiento</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroNacimiento" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Estado Civil</span>
                        <select class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" v-model="nuevo.AlumnoROtroCivil" >
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Concubinato">Concubinato</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-3">
                        <span>Nivel de Instruccion</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroInstruccion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-2 mb-3">
                        <span>Ocupación</span>
                        <input class="form-control" minlength="3" title="Debe tener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroOcupacion" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
                        <span>Teléfono Celular</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoROtroCel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Teléfono Casa</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoROtroTel" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-3">
                        <span>Otro Teléfono</span>
                        <input class="form-control" type="text"  :pattern="patterns.telefono" title="Debe introducir el telefono en el siguiente formato: 0416-1234567" placeholder="0416-1234567" v-model="nuevo.AlumnoROtroTelOtro" />
                    </div>
                </div>
                <h4 class="m-0 p-0 w-100 text-left title-page p-3 mb-3">Dirección del Representante</h4>
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 mb-3">
                        <span>Avenida/Calle</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoROtroAddress1" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <span>Casa/Edificio/Bloque</span>
                        <input class="form-control" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoROtroAddress2" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Ciudad</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" v-model="nuevo.AlumnoROtroCity" type="text" />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Estado</span>
                        <input class="form-control" :required="nuevo.AlumnoROtroStatus == 'true'" minlength="3" title="Debe contener al menos 3 caracteres" type="text" v-model="nuevo.AlumnoROtroState"  />
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <span>Codigo Postal</span>
                        <input class="form-control" minlength="4" title="Debe contener 4 caracteres" maxlength="4" type="number" v-model="nuevo.AlumnoROtroZIP" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 p-3 d-flex j-center mb-3">
            <button class="btn btn-success" id="verifyClasses" type="submit" :disabled="status.loading == true"><span v-bind:class="{ 'd-none': status.loading}">REGISTRAR</span><span style="display:none;" v-bind:class="{ 'd-block': status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
        </div>
    </form>
</template>
<script>
    import Swal from 'sweetalert2';
    export default{
        name:'nuevoalumno',
        data(){
            return{
                nuevo:{
                    AlumnoCedula:'',
                    AlumnoFname:'',
                    AlumnoMname:'',
                    AlumnoLname:'',
                    AlumnoLLname:'',
                    AlumnoFnacimiento:'',
                    AlumnoGenero:'',
                    AlumnoAddress1:'',
                    AlumnoAddress2:'',
                    AlumnoCity:'',
                    AlumnoState:'',
                    AlumnoZIP:'',
                    AlumnoRepresentanteCedula:'',
                    AlumnoRepresentanteFname:'',
                    AlumnoRepresentanteMname:'',
                    AlumnoRepresentanteLname:'',
                    AlumnoRepresentanteLLname:'',
                    AlumnoRepresentanteFnacimiento:'',
                    AlumnoRepresentanteNacimiento:'',
                    AlumnoRepresentanteCivil:'',
                    AlumnoRepresentanteInstruccion:'',
                    AlumnoRepresentanteAddress1:'',
                    AlumnoRepresentanteAddress2:'',
                    AlumnoRepresentanteCity:'',
                    AlumnoRepresentanteState:'',
                    AlumnoRepresentanteZIP:'',
                    AlumnoRepresentanteOcupacion:'',
                    AlumnoRepresentanteCel:'',
                    AlumnoRepresentanteTelOtro:'',
                    AlumnoRepresentantePhone:'',
                    AlumnoNacimiento:'',
                    AlumnoTallaCamisa:'',
                    AlumnoTallaPantalon:'',
                    AlumnoTallaZapatos:'',
                    AlumnoEstatura:'',
                    AlumnoPeso:'',
                    AlumnoAlergias:'',
                    AlumnoEnfermedades:'',
                    AlumnoPlantelProcedencia:'',
                    AlumnoPlantelCodigo:'',
                    AlumnoPlantelLocalidad:'',
                    AlumnoCanaima:'',
                    AlumnoCanaimaSerial:'',
                    AlumnoCanaimaObservaciones:'',
                    AlumnoLateralidad:'',
                    AlumnoHermanosEstudiantes:'',
                    AlumnoHermanosObservaciones:'',
                    AlumnoBeca:'',
                    AlumnoBecaNivel:'',
                    AlumnoTipoVivienda:'',
                    AlumnoCondicionVivienda:'',
                    AlumnoCargaFamiliar:'',
                    AlumnoNecesidades:'',
                    AlumnoPadreFname:'',
                    AlumnoPadreLname:'',
                    AlumnoPadreLLname:'',
                    AlumnoPadreMname:'',
                    AlumnoPadreCedula:'',
                    AlumnoPadreCivil:'',
                    AlumnoPadreFnacimiento:'',
                    AlumnoPadreNacimiento:'',
                    AlumnoPadreAddress1:'',
                    AlumnoPadreAddress2:'',
                    AlumnoPadreCity:'',
                    AlumnoPadreState:'',
                    AlumnoPadreZIP:'',
                    AlumnoCanaimaOperatividad:'',
                    AlumnoPadreInstruccion:'',
                    AlumnoPadreOcupacion:'',
                    AlumnoPadreTel:'',
                    AlumnoPadreCel:'',
                    AlumnoPadreTelOtro:'',
                    AlumnoROtroCedula:'',
                    AlumnoROtroFname:'',
                    AlumnoROtroMname:'',
                    AlumnoROtroLname:'',
                    AlumnoROtroLLname:'',
                    AlumnoROtroParentesco:'',
                    AlumnoROtroCivil:'',
                    AlumnoROtroFnacimiento:'',
                    AlumnoROtroNacimiento:'',
                    AlumnoROtroAddress1:'',
                    AlumnoROtroAddress2:'',
                    AlumnoROtroCity:'',
                    AlumnoROtroState:'',
                    AlumnoROtroZIP:'',
                    AlumnoROtroInstruccion:'',
                    AlumnoROtroOcupacion:'',
                    AlumnoROtroTel:'',
                    AlumnoROtroCel:'',
                    AlumnoROtroTelOtro:'',
                    AlumnoRepresentanteStatus:'false',
                    AlumnoROtroStatus:'false',
                    AlumnoPadreStatus:'false',
                },
                alumnos:[],
                alreadyExist:false,
                status:{
                    loading:'',
                    ajax:'',
                },
                patterns:{
                    cedula:'([EV]{1}-[0-9]{6,9})',
                    telefono:'(0[1-9]{3}-[0-9]{7})',
                },
                mayusYa:'',
            }
        },
        computed:{
            classVerifyCedula: function(){
                return{
                    'form-control form-invalid-bg': this.alreadyExist === true,
                    'form-control': this.alreadyExist != true
                }
            },
            titleMother: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.nuevo.AlumnoRepresentanteStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.nuevo.AlumnoRepresentanteStatus == 'false'
                }
            },
            titleFather: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.nuevo.AlumnoPadreStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.nuevo.AlumnoPadreStatus == 'false'
                }
            },
            titleOther: function(){
                return{
                    'm-0 p-0 w-100 text-left title-page p-3 mb-3 cursor-pointer': this.nuevo.AlumnoROtroStatus == 'true',
                    'm-0 p-0 w-100 text-left title-page p-3 cursor-pointer': this.nuevo.AlumnoROtroStatus == 'false'
                }
            }
        },
        mounted(){
            this.LeerAlumnos(); 
            if(this.$route.params.comeFromInscripcion){  
                this.nuevo.AlumnoCedula = this.$route.params.comeFromInscripcion;
            }
            document.getElementById("verifyClasses").addEventListener("click", function(){
                document.getElementById("addWrongClasses").className="form-submitted-validate p-2 p-sm-4";
            });      
        },
        methods:{
            changeValue(typeValue){
                if(typeValue == 'mother'){
                    if(this.nuevo.AlumnoRepresentanteStatus == 'false'){
                        this.nuevo.AlumnoRepresentanteStatus = 'true'
                    }else if(this.nuevo.AlumnoRepresentanteStatus == 'true'){
                        this.nuevo.AlumnoRepresentanteStatus = 'false'
                    }
                }else if(typeValue == 'father'){
                    if(this.nuevo.AlumnoPadreStatus == 'false'){
                        this.nuevo.AlumnoPadreStatus = 'true'
                    }else if(this.nuevo.AlumnoPadreStatus == 'true'){
                        this.nuevo.AlumnoPadreStatus = 'false'
                    }
                }else if(typeValue == 'other'){
                    if(this.nuevo.AlumnoROtroStatus == 'false'){
                        this.nuevo.AlumnoROtroStatus = 'true'
                    }else if(this.nuevo.AlumnoROtroStatus == 'true'){
                        this.nuevo.AlumnoROtroStatus = 'false'
                    }
                }
            },
            SearchAlumnos(){
                var self = this;
                this.alreadyExist = false;
                var upper = self.nuevo.AlumnoCedula.toUpperCase();
                self.nuevo.AlumnoCedula = upper;
                this.alumnos.forEach( function(alumno){
                    if(alumno.AlumnoCedula == self.nuevo.AlumnoCedula){
                        self.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                        })
                    }
                });
            },
            SearchPadres(valueEnter){
                let hijos = [];
                let padreInfo = {
                    "nombre":"",
                };
                var self = this;
                var i = 0;
                do {
                    if(self.alumnos[i].AlumnoRepresentanteCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoRepresentanteNombre};
                    }else if(self.alumnos[i].AlumnoPadreCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoPadreNombre};
                    }else if(self.alumnos[i].AlumnoROtroCedula == valueEnter){
                        hijos.push(self.alumnos[i]);
                        padreInfo = {"nombre":self.alumnos[i].AlumnoROtroNombre};
                    }
                    if(hijos.length > 0 && self.alumnos.length == (i + 1)){
                        Swal.fire({
                            type: 'info',
                            title: 'ALERTA',
                            text: 'La cedula introducida pertenece al representante: '+padreInfo.nombre+' quien es representante de '+hijos.length+' estudiantes. Verifique y prosiga con su inscripción.',
                        })                        
                    }
                    i = i + 1;
                } while (i < (self.alumnos.length + 1));
            },
            LeerAlumnos(){
            var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
               //         self.ajax=true;
                 //       self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                      //          self.loading=false;
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                                console.log("LeerAlumnos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);
                            console.log("LeerAlumnos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
               //             self.ajax=false;
                        },$);
                    }
                })
            },
            sendAlumno(){
                var self = this;
                if(this.alreadyExist == false){
                    if(this.nuevo.AlumnoRepresentanteStatus == 'false' && this.nuevo.AlumnoPadreStatus == 'false' && this.nuevo.AlumnoROtroStatus == 'false'){
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Inserte al menos un representante.',
                        })    
                    }else{
                    $.ajax({
                        url:"/registros/AgregarAlumno",
                        type:"POST",
                        data:{
                            AlumnoFname: self.nuevo.AlumnoFname,
                            AlumnoMname: self.nuevo.AlumnoMname,
                            AlumnoLname: self.nuevo.AlumnoLname,
                            AlumnoLLname: self.nuevo.AlumnoLLname,
                            AlumnoCedula: self.nuevo.AlumnoCedula,                            
                            AlumnoDireccion: self.nuevo.AlumnoAddress1+', '+self.nuevo.AlumnoAddress2+', '+self.nuevo.AlumnoCity+' edo. '+self.nuevo.AlumnoState+'. CP '+self.nuevo.AlumnoZIP,
                            AlumnoGenero: self.nuevo.AlumnoGenero,
                            AlumnoFnacimiento: self.nuevo.AlumnoFnacimiento,
                            AlumnoRepresentanteNombre: self.nuevo.AlumnoRepresentanteFname+' '+self.nuevo.AlumnoRepresentanteMname+' '+self.nuevo.AlumnoRepresentanteLname+' '+self.nuevo.AlumnoRepresentanteLLname,
                            AlumnoRepresentanteCedula: self.nuevo.AlumnoRepresentanteCedula,
                            AlumnoTelefono: self.nuevo.AlumnoRepresentantePhone,
                            AlumnoNacimiento: self.nuevo.AlumnoNacimiento,
                            AlumnoTallaCamisa: self.nuevo.AlumnoTallaCamisa,
                            AlumnoTallaPantalon: self.nuevo.AlumnoTallaPantalon,
                            AlumnoTallaZapatos: self.nuevo.AlumnoTallaZapatos,
                            AlumnoEstatura: self.nuevo.AlumnoEstatura,
                            AlumnoPeso: self.nuevo.AlumnoPeso,
                            AlumnoAlergias: self.nuevo.AlumnoAlergias,
                            AlumnoEnfermedades: self.nuevo.AlumnoEnfermedades,
                            AlumnoPlantelProcedencia: self.nuevo.AlumnoPlantelProcedencia,
                            AlumnoPlantelCodigo: self.nuevo.AlumnoPlantelCodigo,
                            AlumnoPlantelLocalidad: self.nuevo.AlumnoPlantelLocalidad,
                            AlumnoCanaima: self.nuevo.AlumnoCanaima,
                            AlumnoCanaimaSerial: self.nuevo.AlumnoCanaimaSerial,
                            AlumnoCanaimaOperatividad: self.nuevo.AlumnoCanaimaOperatividad,
                            AlumnoCanaimaObservaciones: self.nuevo.AlumnoCanaimaObservaciones,
                            AlumnoLateralidad: self.nuevo.AlumnoLateralidad,
                            AlumnoHermanosEstudiantes: self.nuevo.AlumnoHermanosEstudiantes,
                            AlumnoHermanosObservaciones: self.nuevo.AlumnoHermanosObservaciones,
                            AlumnoBeca: self.nuevo.AlumnoBeca,
                            AlumnoBecaNivel: self.nuevo.AlumnoBecaNivel,
                            AlumnoTipoVivienda: self.nuevo.AlumnoTipoVivienda,
                            AlumnoCondicionVivienda: self.nuevo.AlumnoCondicionVivienda,
                            AlumnoCargaFamiliar: self.nuevo.AlumnoCargaFamiliar,
                            AlumnoNecesidades: self.nuevo.AlumnoNecesidades,
                            AlumnoRepresentanteCivil: self.nuevo.AlumnoRepresentanteCivil,
                            AlumnoRepresentanteNacimiento: self.nuevo.AlumnoRepresentanteNacimiento,
                            AlumnoRepresentanteFnacimiento: self.nuevo.AlumnoRepresentanteFnacimiento,
                            AlumnoRepresentanteInstruccion: self.nuevo.AlumnoRepresentanteInstruccion,
                            AlumnoRepresentanteOcupacion: self.nuevo.AlumnoRepresentanteOcupacion,
                            AlumnoRepresentanteCel: self.nuevo.AlumnoRepresentanteCel,
                            AlumnoRepresentanteTelOtro: self.nuevo.AlumnoRepresentanteTelOtro,
                            AlumnoRepresentanteDireccion: self.nuevo.AlumnoRepresentanteAddress1+', '+self.nuevo.AlumnoRepresentanteAddress2+', '+self.nuevo.AlumnoRepresentanteCity+' edo. '+self.nuevo.AlumnoRepresentanteState+'. CP '+self.nuevo.AlumnoRepresentanteZIP,
                            AlumnoPadreNombre: self.nuevo.AlumnoPadreFname+' '+self.nuevo.AlumnoPadreMname+' '+self.nuevo.AlumnoPadreLname+' '+self.nuevo.AlumnoPadreLLname,
                            AlumnoPadreCedula: self.nuevo.AlumnoPadreCedula,
                            AlumnoPadreCivil: self.nuevo.AlumnoPadreCivil,
                            AlumnoPadreFnacimiento: self.nuevo.AlumnoPadreFnacimiento,
                            AlumnoPadreNacimiento: self.nuevo.AlumnoPadreNacimiento,
                            AlumnoPadreDireccion: self.nuevo.AlumnoPadreAddress1+', '+self.nuevo.AlumnoPadreAddress2+', '+self.nuevo.AlumnoPadreCity+' edo. '+self.nuevo.AlumnoPadreState+'. CP '+self.nuevo.AlumnoPadreZIP,
                            AlumnoPadreInstruccion: self.nuevo.AlumnoPadreInstruccion,
                            AlumnoPadreOcupacion: self.nuevo.AlumnoPadreOcupacion,
                            AlumnoPadreTel: self.nuevo.AlumnoPadreTel,
                            AlumnoPadreCel: self.nuevo.AlumnoPadreCel,
                            AlumnoPadreTelOtro: self.nuevo.AlumnoPadreTelOtro,
                            AlumnoROtroCedula: self.nuevo.AlumnoROtroCedula,
                            AlumnoROtroNombre: self.nuevo.AlumnoROtroFname+' '+self.nuevo.AlumnoROtroMname+' '+self.nuevo.AlumnoROtroLname+' '+self.nuevo.AlumnoROtroLLname,                            
                            AlumnoROtroParentesco: self.nuevo.AlumnoROtroParentesco,
                            AlumnoROtroCivil:self.nuevo.AlumnoROtroCivil,
                            AlumnoROtroFnacimiento:self.nuevo.AlumnoROtroFnacimiento,
                            AlumnoROtroNacimiento:self.nuevo.AlumnoROtroNacimiento,
                            AlumnoROtroDireccion: self.nuevo.AlumnoROtroAddress1+', '+self.nuevo.AlumnoROtroAddress2+', '+self.nuevo.AlumnoROtroCity+' edo. '+self.nuevo.AlumnoROtroState+'. CP '+self.nuevo.AlumnoROtroZIP,
                            AlumnoROtroInstruccion:self.nuevo.AlumnoROtroInstruccion,
                            AlumnoROtroOcupacion:self.nuevo.AlumnoROtroOcupacion,
                            AlumnoROtroTel:self.nuevo.AlumnoROtroTel,
                            AlumnoROtroCel:self.nuevo.AlumnoROtroCel,
                            AlumnoROtroTelOtro:self.nuevo.AlumnoROtroTelOtro,
                            AlumnoRepresentanteStatus:self.nuevo.AlumnoRepresentanteStatus,
                            AlumnoROtroStatus:self.nuevo.AlumnoROtroStatus,
                            AlumnoPadreStatus:self.nuevo.AlumnoPadreStatus
                        },
                        async:true,
                        timeout:10000,
                        beforeSend:function(){
                            self.status.loading = true;
                            self.status.ajax = true;
                        },
                        success:function(response){
                            try{
                                if(response.status){
                                    self.status.loading = false;
                                    self.status.ajax = false;
                                    if(self.$route.params.comeFromInscripcion){
                                        self.$router.push({name: 'inscripcion', params:{newStudentRegistered: self.nuevo.AlumnoCedula}});                                        
                                    }else{
                                        self.$router.push({name: 'alumnos', params:{addSuccess:'1'}});
                                    }
                                }else{
                                    console.log("AgregarAlumno obtuvo un error: "+response.message);
                                    console.log("AgregarAlumno recibió: "+response);    
                                    self.status.loading = false;
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                }
                            } catch (error){
                                console.log("AgregarAlumno obtuvo un error: "+error);
                                console.log("AgregarAlumno recibió: "+response);
                                self.status.loading = false;
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },
                        complete:function(){
                            setTimeout(function(){
                                self.status.loading = false;
                                if(self.status.ajax === true){
                                    Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                }
                        },$);
                    }
                    })
                    }
                }else{
                    Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya existe un alumno con ese número de cedula. Verifique nuevamente.',
                        }) 
                }
            }
        }
    }
</script>
