<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="row m-0 p-0 w-100 container-animations-ow">
            <div class="col-12 col-sm-6 col-md-9 col-lg-10 p-1 mb-3 d-flex wow slideInLeft">
                <div class="w-100 card title-page p-3 d-flex j-center">
                    <h4 class="m-0 p-0 w-100 text-left">Registro de Año Escolar</h4> <span v-if="$route.params.addSuccess === '1'">SUCCESS</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 p-1 mb-3 d-flex ml-auto wow slideInRight">
                <button class="w-100 btn btn-success p-3" data-toggle="modal" data-target="#crearPeriodo"><i class="fas fa-user-plus mr-2"></i>Nuevo</button>
            </div>
        </div> 
        <transition name="fade">
            <div class="w-100 p-1 container-animations-ow" v-if="periodos.length>0">
                <div class="p-0 p-sm-3 card">
                    <table class="table table-hover tabla-responsive">
                        <thead class="wow slideInLeft">
                            <tr class="mb-3">
                                <th class="border-top-0 pt-1">Periodo Académico</th>
                                <th class="border-top-0 pt-1 text-right">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr v-for="periodo in periodos" :key="periodo.PeriodoID" class="wow slideInLeft">
                                <td data-label="Año">{{periodo.PeriodoAnoInicial}} - {{periodo.PeriodoAnoFinal}}</td>
                                <td data-label="Opciones">
                                    <div class="w-100 text-right">
                                        <a class="btn btn-sm btn-info p-2 text-white" data-toggle="modal" data-target="#modificarPeriodo" v-on:click="sendCurrentModify(periodo)">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-sync"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ACTUALIZAR</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==true && 
            periodos.length==0">
                <i class="fas fa-circle-notch fa-spin fa-2x"></i>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==false&&
            periodos.length==0">
                <i class="far fa-frown fa-spin fa-2x"></i>
                <h4 class="text-muted mt-2">No hay periodos registrados</h4>
            </div>
        </transition>
        <div class="modal fade" id="crearPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="ValidarPeriodos()" id="modalCrearPeriodo" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Registrar Año Escolar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Año de Inicio</span>
                                <input v-model="nueva.PeriodoAnoInicial" type="text" :pattern="patterns.year" title="Introduzca solo los 4 digitos del año. EJ: 2019" v-bind:class="classVerifyPeriodos" @input="newstatus.alreadyExist = false" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Año de Finalización</span>
                                <input v-model="nueva.PeriodoAnoFinal" type="text" :pattern="patterns.year" title="Introduzca solo los 4 digitos del año. EJ: 2019" v-bind:class="classVerifyPeriodos" @input="newstatus.alreadyExist = false" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnCrearPeriodo" class="btn btn-info" :disabled="newstatus.loading == true"><span v-bind:class="{ 'd-none': newstatus.loading}">Agregar</span><span style="display:none;" v-bind:class="{ 'd-block': newstatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="modificarPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="ValidarModificacionPeriodo()" id="formModifyPeriodos" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Año Escolar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6">
                                <span>Año de Inicio</span>
                                <input v-model="currentModifyPeriodo.PeriodoAnoInicial" type="text" :pattern="patterns.year" title="Introduzca solo los 4 digitos del año. EJ: 2019" v-bind:class="classModifyPeriodos" @input="modifystatus.alreadyExist = false" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <span>Año de Finalización</span>
                                <input v-model="currentModifyPeriodo.PeriodoAnoFinal" type="text" :pattern="patterns.year" title="Introduzca solo los 4 digitos del año. EJ: 2019" v-bind:class="classModifyPeriodos" @input="modifystatus.alreadyExist = false" />
                            </div>
                        </div>                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnModifyPeriodos" class="btn btn-info" :disabled="modifystatus.loading == true"><span v-bind:class="{ 'd-none': modifystatus.loading}">Modificar</span><span style="display:none;" v-bind:class="{ 'd-block': modifystatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style scoped>
td{
    vertical-align:middle !important;
} 
</style>
<script>
    import Swal from 'sweetalert2'
    export default{
        name:'nuevoperiodo',
        data(){
            return{
                periodos:'',
                ajax:'',
                loading:'',
                currentModifyPeriodo:{
                    PeriodoAnoInicial:'',
                    PeriodoAnoFinal:'',
                },
                nueva:{
                    PeriodoAnoInicial:'',
                    PeriodoAnoFinal:'',
                },
                modifystatus:{
                    loading:false,
                    ajax:false,
                    alreadyExist:false,
                },
                newstatus:{
                    loading:false,
                    ajax:false,
                    alreadyExist:false,
                },
                patterns:{
                    year:'([0-9]{4})',
                }
            }
        },
        computed:{
            classVerifyPeriodos: function(){
                return{
                    'form-control form-invalid-bg': this.newstatus.alreadyExist === true,
                    'form-control': this.newstatus.alreadyExist != true
                }
            },
            classModifyPeriodos: function(){
                return{
                    'form-control form-invalid-bg': this.modifystatus.alreadyExist === true,
                    'form-control': this.modifystatus.alreadyExist != true
                }
            }
        },
        mounted(){
            this.LeerPeriodos();
            if(this.$route.params.comeFromInscripcionPeriodo){
                $('#crearPeriodo').modal('show');
            };
            document.getElementById("btnCrearPeriodo").addEventListener("click", function(){
                document.getElementById("modalCrearPeriodo").className="form-submitted-validate modal-content";
            });
            document.getElementById("btnModifyPeriodos").addEventListener("click", function(){
                document.getElementById("formModifyPeriodos").className="form-submitted-validate modal-content";
            });
        },
        methods:{
            LeerPeriodos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerPeriodos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.periodos=response.values;
                                self.loading=false;
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                        },$);
                    }
                })
            },
            ValidarPeriodos(){
                var self = this;
                this.newstatus.alreadyExist = false;
                var i = 0;
                while(i < self.periodos.length && self.newstatus.alreadyExist == false){
                    if(self.periodos[i].PeriodoAnoInicial == self.nueva.PeriodoAnoInicial && self.periodos[i].PeriodoAnoFinal == self.nueva.PeriodoAnoFinal){
                        self.newstatus.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya esta creado el año escolar '+self.nueva.PeriodoAnoInicial+' - '+self.nueva.PeriodoAnoFinal+'. Verifique los registros.',
                        })
                    }else if(i == (self.periodos.length - 1) && self.newstatus.alreadyExist == false){
                        self.crearPeriodo();
                    }
                    i++;                
                }
                if(self.periodos.length == 0){
                    self.crearPeriodo();
                }
            },
            crearPeriodo(){
                var self=this;
                $.ajax({
                    url:"/registros/agregarPeriodo",
                    type:"POST",
                    data:{
                        PeriodoAnoInicial: self.nueva.PeriodoAnoInicial,
                        PeriodoAnoFinal: self.nueva.PeriodoAnoFinal
                    },
                    async:true,
                    timeout:10000,
                    beforeSend:function(){
                        self.newstatus.loading = true;
                        self.newstatus.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                $('#crearPeriodo').modal('hide');
                                self.newstatus.loading = false;
                                self.newstatus.ajax = false;
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se creó el año escolar con éxito',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                self.LeerPeriodos();
                                self.nueva.PeriodoAnoInicial = '';
                                self.nueva.PeriodoAnoFinal = '';
                            }else{
                                console.log("AgregarPeriodo obtuvo un error: "+response.message);
                                console.log("AgregarPeriodo recibió: "+response);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })   
                                self.newstatus.loading = false;                         }
                        } catch (error){
                            console.log("AgregarPeriodo obtuvo un error: "+error);
                            self.newstatus.loading = false;
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("AgregarPeriodo recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.newstatus.loading = false;
                            if(self.newstatus.ajax === true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            },
            sendCurrentModify(periodo){
                this.currentModifyPeriodo = JSON.parse(JSON.stringify(periodo));
            },
            ValidarModificacionPeriodo(){
                var self = this;
                this.modifystatus.alreadyExist = false;
                var i = 0;
                while(i < self.periodos.length && self.modifystatus.alreadyExist == false){
                    if(self.periodos[i].PeriodoAnoInicial == self.currentModifyPeriodo.PeriodoAnoInicial && self.periodos[i].PeriodoAnoFinal == self.currentModifyPeriodo.PeriodoAnoFinal){
                        self.modifystatus.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya esta creado el año escolar '+self.currentModifyPeriodo.PeriodoAnoInicial+' - '+self.currentModifyPeriodo.PeriodoAnoInicial+'. Verifique los registros.',
                        })
                    }else if(i == (self.periodos.length - 1) && self.modifystatus.alreadyExist == false){
                        self.sendModificacionPeriodo();
                    }
                    i++;                
                }
            },
            sendModificacionPeriodo(){
                var self=this;
                $.ajax({
                    url:"/registros/modificarPeriodos/"+self.currentModifyPeriodo.PeriodoID,
                    type:"POST",
                    data:{
                        PeriodoAnoInicial: self.currentModifyPeriodo.PeriodoAnoInicial,
                        PeriodoAnoFinal: self.currentModifyPeriodo.PeriodoAnoFinal
                    },
                    async:true,
                    timeout:10000,
                    beforeSend:function(){
                        self.modifystatus.loading = true;
                        self.modifystatus.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                $("#modificarPeriodo").modal("hide");
                                self.modifystatus.loading = false;
                                self.modifystatus.ajax = false;
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'El año escolar se actualizó con éxito',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                self.LeerPeriodos();
                            }else{
                                console.log("ModificarPeriodos obtuvo un error: "+response.message);
                                console.log("ModificarPeriodos recibió: "+response);   
                                self.modifystatus.loading = false;
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })                         
                            }
                        } catch (error){
                            console.log("ModificarPeriodos obtuvo un error: "+error);
                            self.modifystatus.loading = false;
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("ModificarPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.modifystatus.loading = false;
                            if(self.modifystatus.ajax === true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            }, 
        }
    }
</script>
