<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="row m-0 p-0 w-100 container-animations-ow">
            <div class="col-12 col-sm-6 col-md-9 col-lg-10 p-1 mb-3 d-flex wow slideInLeft">
                <div class="w-100 card title-page p-3 d-flex j-center">
                    <h4 class="m-0 p-0 w-100 text-left">Secciones disponibles para matricular</h4> <span v-if="$route.params.addSuccess === '1'">SUCCESS</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 p-1 mb-3 d-flex ml-auto wow slideInRight">
                <button class="w-100 btn btn-success p-3" data-toggle="modal" data-target="#crearSeccion"><i class="fas fa-user-plus mr-2"></i>Nuevo</button>
            </div>
        </div>
        <transition name="fade">
            <div class="w-100 p-1 container-animations-ow" v-if="secciones.length>0">
                <div class="p-0 p-sm-3 card">
                    <table class="table table-hover tabla-responsive">
                        <thead class="wow slideInLeft">
                            <tr class="mb-3">
                                <th class="border-top-0 pt-1">Año / Grado</th>
                                <th class="border-top-0 pt-1">Sección</th>
                                <th class="border-top-0 pt-1 text-right">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr v-for="seccion in secciones" :key="seccion.SeccionID" class="wow slideInLeft">
                                <td data-label="Año / Grado">{{seccion.SeccionNivel}} {{seccion.SeccionTipo}}</td>
                                <td data-label="Sección">Sección "{{seccion.SeccionNombre}}"</td>
                                <td data-label="Opciones">
                                    <div class="w-100 text-right">
                                        <a class="btn btn-sm btn-info p-2 text-white" data-toggle="modal" data-target="#modificarSeccion" v-on:click="sendCurrentModify(seccion)">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-sync"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ACTUALIZAR</p>
                                                </div>
                                            </div>
                                        </a>
                                        <button class="btn btn-sm btn-success p-2 text-white" :disabled="search.status.loading == true" v-on:click="nominaSeccion = seccion.SeccionID; LeerPeriodos()">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0"><span v-bind:class="{ 'd-none': search.status.loading}">NÓMINA</span><span style="display:none;" v-bind:class="{ 'd-block': search.status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==true && 
            secciones.length==0">
                <i class="fas fa-circle-notch fa-spin fa-2x"></i>
            </div>
        </transition>
        <transition name="fade">
            <div class="mx-auto text-center m-3" v-if="loading==false&&
            secciones.length==0">
                <i class="far fa-frown fa-spin fa-2x"></i>
                <h4 class="text-muted mt-2">No hay secciones registradas</h4>
            </div>
        </transition>
        <div class="modal fade" id="crearSeccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="ValidarSecciones()" id="modalCrearSeccion" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crear Sección</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-sm-6 m-0 p-0">
                                        <span>Nivel</span>
                                        <select required v-bind:class="classVerifySections" v-model="nueva.SeccionNivel" @change="add.alreadyExist = false">
                                            <option value="1er">1er</option>
                                            <option value="2do">2do</option>
                                            <option value="3er">3er</option>
                                            <option value="4to">4to</option>
                                            <option value="5to">5to</option>
                                            <option value="6to">6to</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 m-0 p-0">
                                        <span>Tipo</span>
                                        <select required v-bind:class="classVerifySections" v-model="nueva.SeccionTipo" @change="add.alreadyExist = false">
                                            <option value="Grado">Grado</option>
                                            <option value="Año">Año</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <span>Letra o Nombre de la Sección</span>
                                <input v-bind:class="classVerifySections" required :pattern="patterns.seccion" @input="add.alreadyExist = false ; var upper = nueva.SeccionNombre.toUpperCase() ; nueva.SeccionNombre = upper" title="Solo puede introducir una palabra que contenga menos de 9 digitos, sin acentos ni caracteres especiales" type="text" v-model="nueva.SeccionNombre"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnCrearSeccion" class="btn btn-info" :disabled="add.status.loading == true"><span v-bind:class="{ 'd-none': add.status.loading}">Crear</span><span style="display:none;" v-bind:class="{ 'd-block': add.status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="modificarSeccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="ValidarModificaciones()" id="formModifySeccion" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Sección</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div> 
                    <div class="modal-body">
                        <div class="row m-0 p-0">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-sm-6 m-0 p-0">
                                        <span>Nivel</span>
                                        <select v-bind:class="classModifySections" @change="modify.alreadyExist = false" required v-model="currentModifySeccion.SeccionNivel">
                                            <option value="1er">1er</option>
                                            <option value="2do">2do</option>
                                            <option value="3er">3er</option>
                                            <option value="4to">4to</option>
                                            <option value="5to">5to</option>
                                            <option value="6to">6to</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 m-0 p-0">
                                        <span>Tipo</span>
                                        <select v-bind:class="classModifySections" @change="modify.alreadyExist = false" required v-model="currentModifySeccion.SeccionTipo">
                                            <option value="Grado">Grado</option>
                                            <option value="Año">Año</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <span>Nombre de la Sección</span>
                                <input v-bind:class="classModifySections" required type="text" :pattern="patterns.seccion" @input="modify.alreadyExist = false ; var uppers = currentModifySeccion.SeccionNombre.toUpperCase() ; currentModifySeccion.SeccionNombre = uppers" title="Solo puede introducir una palabra que contenga menos de 9 digitos, sin acentos ni caracteres especiales" v-model="currentModifySeccion.SeccionNombre"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btnModifySeccion" class="btn btn-info" :disabled="modify.status.loading == true"><span v-bind:class="{ 'd-none': modify.status.loading}">Modificar</span><span style="display:none;" v-bind:class="{ 'd-block': modify.status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="descargarNomina" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="imprimirNomina()"  class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Descargar Nomina</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="periodos.length > 0">Introduzca el año escolar a consultar:</p>
                        <select class="form-control" v-if="periodos.length > 0" required v-model="periodoSeccion">
                            <option v-for="periodo in periodos" :key="periodo.PeriodoID" :value="periodo.PeriodoID">Año Escolar {{periodo.PeriodoAnoInicial}} - {{periodo.PeriodoAnoFinal}}</option>
                        </select>
                        <p v-else>No hay años escolares registrados</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info" :disabled="download.status.loading == true"><span v-bind:class="{ 'd-none': download.status.loading}">Consultar</span><span style="display:none;" v-bind:class="{ 'd-block': download.status.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style scoped>
td{
    vertical-align:middle !important;
} 
</style>
<script>
    import jsPDF from 'jspdf';
    import Swal from 'sweetalert2';
    import 'jspdf-autotable';
    export default{
        name:'nuevoseccion',
        data(){
            return{
                secciones:'',
                ajax:'',
                loading:'',
                alumnos:'',
                nominaSeccion:'',
                periodoSeccion:'',
                currentModifySeccion:{
                    SeccionNivel:'',
                    SeccionTipo:'',
                    SeccionNombre:'',
                },
                periodos:'',
                nueva:{
                    SeccionNivel:'',
                    SeccionTipo:'',
                    SeccionNombre:'',
                },
                inscritos:[],
                printStudents:[],
                printSeccion:'',
                printPeriodo:'',
                search:{
                    status:{
                        loading:false,
                        ajax:false,
                    }
                },
                modify:{
                    status:{
                        loading:false,
                        ajax:false,
                    },
                    alreadyExist:false,
                },
                add:{
                    status:{
                        loading:false,
                        ajax:false,
                    },
                    alreadyExist:false,
                },
                download:{
                    status:{
                        loading:false,
                        ajax:false,
                    }
                },
                lastFase:{
                    ajax:false,
                },
                patterns:{
                    seccion:'([A-Z]{1,9})'
                }
            }
        },
        computed:{
            classVerifySections: function(){
                return{
                    'form-control form-invalid-bg': this.add.alreadyExist === true,
                    'form-control': this.add.alreadyExist != true
                }
            },
            classModifySections: function(){
                return{
                    'form-control form-invalid-bg': this.modify.alreadyExist === true,
                    'form-control': this.modify.alreadyExist != true
                }
            }
        },
        mounted(){
            this.LeerSecciones();
            if(this.$route.params.comeFromInscripcionSeccion){
                $('#crearSeccion').modal('show');
            };
            document.getElementById("btnCrearSeccion").addEventListener("click", function(){
                document.getElementById("modalCrearSeccion").className="form-submitted-validate modal-content";
            });
            document.getElementById("btnModifySeccion").addEventListener("click", function(){
                document.getElementById("formModifySeccion").className="form-submitted-validate modal-content";
            }); 
        },
        methods:{
            LeerAlumnos(matriculados){
                var self=this;
                $.ajax({
                    url:"/registros/leerAlumnos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.download.status.loading = true;
                        self.lastFase.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.alumnos=response.values;
                                self.download.status.loading = false;
                                self.lastFase.ajax = false;
                                matriculados.forEach(function(student){
                                    const alumnosMatriculados = self.alumnos.filter((b)=>{
                                        return b.AlumnoID == student.InscripcionEstudianteID;
                                    });
                                    self.printStudents.push({
                                        AlumnoNombre: alumnosMatriculados[0].AlumnoLname+" "+alumnosMatriculados[0].AlumnoLLname+" "+alumnosMatriculados[0].AlumnoFname+" "+alumnosMatriculados[0].AlumnoMname,
                                        AlumnoCedula: alumnosMatriculados[0].AlumnoCedula,
                                        AlumnoID: student.InscripcionEstudianteID
                                    });
                                });
                                $('#descargarNomina').modal('hide');
                                self.$router.push({name: 'seccion', params:{periodos: self.periodos,periodoSeccion: self.periodoSeccion,secciones: self.secciones,nominaSeccion: self.nominaSeccion,printStudents: self.printStudents}});
                            }else{
                                console.log("LeerAlumnos obtuvo un error: "+response.message);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                console.log("LeerAlumnos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerAlumnos obtuvo un error: "+error);
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("LeerAlumnos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.download.status.loading = false;
                            if(self.lastFase.ajax == true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            },
            LeerPeriodos(){
                var self=this;
                $.ajax({
                    url:"/registros/leerPeriodos",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.search.status.loading = true;
                        self.search.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.search.status.loading = false;
                                self.search.status.ajax = false;
                                $('#descargarNomina').modal('show');
                                if(response.values.length > 0){
                                    self.periodos=response.values;
                                }else{
//
                                }
                            }else{
                                console.log("LeerPeriodos obtuvo un error: "+response.message);
                                self.search.status.loading = false;
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                console.log("LeerPeriodos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerPeriodos obtuvo un error: "+error);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            self.search.status.loading = false;
                            console.log("LeerPeriodos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                        self.search.status.loading = false;
                        if(self.search.status.ajax == true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                        }
                        },$);
                    }
                })
            },
            imprimirNomina(){
                var self=this;
                $.ajax({
                    url:"/registros/leerNominas/"+self.periodoSeccion+"/"+self.nominaSeccion,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.download.status.loading = true;
                        self.download.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.inscritos=response.values;
                                if(self.inscritos.length == 0){
                                    Swal.fire({
                                    type: 'error',
                                    title: 'Nómina Vacia',
                                    text: 'No hay ningun estudiante matriculado en esta sección para cursar dicho periodo.',
                                    })
                                    self.download.status.loading = false;
                                    self.download.status.ajax = false;
                                }else{
                                    self.LeerAlumnos(self.inscritos);
                                    self.download.status.ajax = false;
                                }
                            }else{
                                console.log("LeerSecciones obtuvo un error: "+response.message);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                                console.log("LeerSecciones recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerSecciones obtuvo un error: "+error);
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                            console.log("LeerSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.download.status.loading = false;
                            if(self.download.status.ajax == true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            },
            LeerSecciones(){
                var self=this;
                $.ajax({
                    url:"/registros/leerSecciones",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.ajax=true;
                        self.loading=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.secciones=response.values;
                                self.loading=false;
                            }else{
                                console.log("LeerSecciones obtuvo un error: "+response.message);
                                console.log("LeerSecciones recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerSecciones obtuvo un error: "+error);
                            console.log("LeerSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.ajax=false;
                        },$);
                    }
                })
            },
            ValidarSecciones(){
                var self = this;
                this.add.alreadyExist = false;
                var i = 0;
                while(i < self.secciones.length && self.add.alreadyExist == false){
                    if(self.secciones[i].SeccionNivel == self.nueva.SeccionNivel && self.secciones[i].SeccionTipo == self.nueva.SeccionTipo && self.secciones[i].SeccionNombre == self.nueva.SeccionNombre){
                        self.add.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya esta creada la sección '+self.nueva.SeccionNivel+' '+self.nueva.SeccionTipo+' Sección "'+self.nueva.SeccionNombre+'". Verifique los registros.',
                        })
                    }else if(i == (self.secciones.length - 1) && self.add.alreadyExist == false){
                        self.crearSeccion();
                    }
                    i++;                
                }
                if(self.secciones.length == 0){
                    self.crearSeccion();
                }
            },
            ValidarModificaciones(){
                var self = this;
                this.modify.alreadyExist = false;
                var i = 0;
                while(i < self.secciones.length && self.modify.alreadyExist == false){
                    if(self.secciones[i].SeccionNivel == self.currentModifySeccion.SeccionNivel && self.secciones[i].SeccionTipo == self.currentModifySeccion.SeccionTipo && self.secciones[i].SeccionNombre == self.currentModifySeccion.SeccionNombre){
                        self.modify.alreadyExist = true;
                        Swal.fire({
                            type: 'error',
                            title: 'ERROR',
                            text: 'Ya esta creada la sección '+self.currentModifySeccion.SeccionNivel+' '+self.currentModifySeccion.SeccionTipo+' Sección "'+self.currentModifySeccion.SeccionNombre+'". Verifique los registros.',
                        })
                    }else if(i == (self.secciones.length - 1) && self.modify.alreadyExist == false){
                        self.sendModificacionSeccion();
                    }
                    i++;                
                }
            },
            crearSeccion(){
                var self=this;
                $.ajax({
                    url:"/registros/agregarSeccion",
                    type:"POST",
                    data:{
                        SeccionNivel: self.nueva.SeccionNivel,
                        SeccionTipo: self.nueva.SeccionTipo,
                        SeccionNombre: self.nueva.SeccionNombre,
                    },
                    async:true,
                    timeout:10000,
                    beforeSend: function(){
                        self.add.status.loading = true;
                        self.add.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.add.status.loading = false;
                                self.add.status.ajax = false;
                                $('#crearSeccion').modal('hide');
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se creó la sección exitosamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                self.LeerSecciones();
                                self.nueva.SeccionNivel = '';
                                self.nueva.SeccionTipo = '';
                                self.nueva.SeccionNombre = '';
                                document.getElementById("modalCrearSeccion").className="modal-content";
                            }else{
                                console.log("AgregarSeccion obtuvo un error: "+response.message);
                                console.log("AgregarSeccion recibió: "+response);    
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        } catch (error){
                            console.log("AgregarSeccion obtuvo un error: "+error);
                                                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("AgregarSeccion recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.add.status.loading = false;
                            if(self.add.status.ajax === true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            },
            sendCurrentModify(seccion){
                this.currentModifySeccion = JSON.parse(JSON.stringify(seccion));
            },
/*            sendCurrent(seccion){
                this.current = JSON.parse(JSON.stringify(seccion));
            },
            
            modifyFromModal(){
                this.currentModify = JSON.parse(JSON.stringify(this.current));
                $('#verseccion').modal('hide');
                $('#editarseccion').modal('show');                
            }, */
            sendModificacionSeccion(){
                var self=this;
                $.ajax({
                    url:"/registros/modificarSecciones/"+self.currentModifySeccion.SeccionID,
                    type:"POST",
                    data:{
                        SeccionNivel: self.currentModifySeccion.SeccionNivel,
                        SeccionTipo: self.currentModifySeccion.SeccionTipo,
                        SeccionNombre: self.currentModifySeccion.SeccionNombre
                    },
                    async:true,
                    timeout:10000,
                    beforeSend:function(){
                        self.modify.status.loading = true;
                        self.modify.status.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                $("#modificarSeccion").modal("hide");
                                self.modify.status.ajax = false;
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se modificó la sección exitosamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                self.modify.status.loading = false;
                                self.LeerSecciones();
                            }else{
                                console.log("ModificarSecciones obtuvo un error: "+response.message);
                                console.log("ModificarSecciones recibió: "+response);
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })                            }
                        } catch (error){
                            console.log("ModificarSecciones obtuvo un error: "+error);
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                });
                            console.log("ModificarSecciones recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.modify.status.loading = false;
                            if(self.modify.status.ajax === true){
                                Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            }
                        },$);
                    }
                })
            }, 
        }
    }
</script>
