<template>
    <div class="p-2 p-sm-4 container-animations-ow">
        <div class="row m-0 p-0 w-100 container-animations-ow">
            <div class="col-12 col-sm-6 col-md-9 col-lg-10 p-1 mb-3 d-flex wow slideInLeft">
                <div class="w-100 card title-page p-3 d-flex j-center">
                    <h4 class="m-0 p-0 w-100 text-left">{{printSeccion.SeccionNivel}} {{printSeccion.SeccionTipo}} Sección "{{printSeccion.SeccionNombre}}"" {{printPeriodo.PeriodoAnoInicial}} - {{printPeriodo.PeriodoAnoFinal}}</h4> <span v-if="$route.params.addSuccess === '1'">SUCCESS</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 p-1 mb-3 d-flex ml-auto wow slideInRight">
                <button class="w-100 btn btn-success p-3" @click="imprimirN()"><i class="fas fa-user-plus mr-2"></i>Descargar</button>
            </div>
        </div>
        <transition name="fade">
            <div class="w-100 p-1 container-animations-ow" v-if="estudiantesMatriculados.length>0">
                <div class="p-0 p-sm-3 card">
                    <table class="table table-hover tabla-responsive">
                        <thead class="wow slideInLeft">
                            <tr class="mb-3">
                                <th class="border-top-0 pt-1">Cédula de Identidad</th>
                                <th class="border-top-0 pt-1">Nombre</th>
                                <th class="border-top-0 pt-1 text-right">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr v-for="alumno in estudiantesMatriculados" class="wow slideInLeft" :key="alumno.AlumnoCedula">
                                <td data-label="Cedula">{{alumno.AlumnoCedula}}</td>
                                <td data-label="Nombre">{{alumno.AlumnoNombre}}</td>
                                <td data-label="Opciones">
                                    <div class="w-100 text-right">
                                        <a class="btn btn-sm btn-danger p-2 text-white" data-toggle="modal" data-target="#eliminarInscripcion" @click="deleteStudent = JSON.parse(JSON.stringify(alumno))">
                                            <div class="row m-0 p-1 icon-buttons-lc">
                                                <div class="col-3 p-0">
                                                    <i class="fas fa-trash-alt"></i>
                                                </div>
                                                <div class="col-9 p-0 d-none d-sm-block icon-buttons-text icon-buttons-text1">
                                                    <p class=" mb-0">ELIMINAR</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </transition>
        <div class="modal fade" id="eliminarInscripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <form v-on:submit.prevent="deleteInscripcion()" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">¿Desea eliminar la inscripción de {{deleteStudent.AlumnoNombre}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" :disabled="deleteStatus.loading == true"><span v-bind:class="{ 'd-none': deleteStatus.loading}">Eliminar</span><span style="display:none;" v-bind:class="{ 'd-block': deleteStatus.loading}"><i class="fas fa-circle-notch fa-spin"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import jsPDF from 'jspdf';
    import Swal from 'sweetalert2';
    import 'jspdf-autotable';
export default{
    name:'seccion',
    data(){
        return{
            printPeriodo:'',
            printSeccion:'',
            deleteStudent:'',
            estudiantesMatriculados:[],
            deleteStatus:{
                loading:false,
                ajax:false,
            }
        }
    },
    mounted(){
        var self=this;
        this.estudiantesMatriculados = JSON.parse(JSON.stringify(self.$route.params.printStudents));
        const periodoElegido = self.$route.params.periodos.filter((b)=>{
            return b.PeriodoID == self.$route.params.periodoSeccion;
        })
        self.printPeriodo = periodoElegido[0];
        console.log(periodoElegido)
        const seccionElegida = self.$route.params.secciones.filter((b)=>{
            return b.SeccionID == self.$route.params.nominaSeccion;
        })
        self.printSeccion = seccionElegida[0];
        console.log(seccionElegida);
    },
    methods:{
        deleteInscripcion(){
                var self=this;
                $.ajax({
                    url:"/registros/eliminarInscripcion/"+self.deleteStudent.AlumnoID+"/"+self.$route.params.periodoSeccion,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.deleteStatus.loading = true;
                        self.deleteStatus.ajax = true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                $('#eliminarInscripcion').modal('hide');
                                self.deleteStatus.loading = false;
                                self.deleteStatus.ajax = false;
                                Swal.fire({
                                    position: 'top-end',
                                    type: 'success',
                                    title: 'Se retiró al estudiante exitosamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                const inscripcionEliminada = self.estudiantesMatriculados.filter((b)=>{
                                    return b.AlumnoID != self.deleteStudent.AlumnoID;
                                })
                                self.estudiantesMatriculados = [].concat(inscripcionEliminada);
                                if(self.estudiantesMatriculados.length == 0){
                                    self.$router.push('/dashboard/secciones');
                                }
                            }else{
                                console.log("EliminarInscripcion obtuvo un error: "+response.message);
                                self.deleteStatus.loading = false;
                        Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                                console.log("EliminarInscripcion recibió: "+response);                            }
                        } catch (error){
                            console.log("EliminarInscripcion obtuvo un error: "+error);
                            self.deleteStatus.loading = false;
                        Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                            console.log("EliminarInscripcion recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                        self.deleteStatus.loading = false;
                        if(self.deleteStatus.ajax == true){
                            Swal.fire({
                                type: 'error',
                                title: 'Lo sentimos',
                                text: 'Ocurrió un error. Verifique su conexión a internet.',
                                })
                        }

                        },$);
                    }
                })
        },
        imprimirN(){
            var self = this;
            const doc = new jsPDF();
            doc.setFontSize(10);
            doc.text('República Bolivariana de Venezuela.', 20, 20);
            doc.setFontSize(10);
            doc.text('Ministerio del Poder Popular para la Educación.', 20, 25);
            doc.setFontSize(10);
            doc.text('Unidad Educativa Estatal "Nuestra Señora de la Candelaria.', 20, 30);
            doc.setFontSize(10);
            doc.text('Valera edo. Trujillo.', 20, 35);
            doc.setFontSize(10);
            doc.setFontStyle("bold");
            doc.text('Inscritos en '+self.printSeccion.SeccionNivel+" "+self.printSeccion.SeccionTipo+" "+self.printSeccion.SeccionNombre+" en el año escolar "+self.printPeriodo.PeriodoAnoInicial+" - "+self.printPeriodo.PeriodoAnoFinal, 20, 45);
            doc.autoTable({
                startY: 55,
                theme: 'grid',
                columns:[{
                    header: 'Cedula',
                    dataKey: 'AlumnoCedula'
                    },{
                    header: 'Nombre',
                    dataKey: 'AlumnoNombre'
                    },{
                    header: '1',
                    dataKey: '1'
                    },{
                    header: '2',
                    dataKey: '2'
                    },{
                    header: '3',
                    dataKey: '3'
                    },
                    {
                    header: '4',
                    dataKey: '4'
                    },
                    {
                    header: '70%',
                    dataKey: '70'
                    },
                    {
                    header: '30%',
                    dataKey: '30'
                    },
                    {
                    header: 'DEF',
                    dataKey: 'DEF'
                    }],
                body:self.estudiantesMatriculados,
            });
            doc.save(self.printSeccion.SeccionNivel+"_"+self.printSeccion.SeccionTipo+"_Seccion_"+self.printSeccion.SeccionNombre+"_"+self.printPeriodo.PeriodoAnoInicial+"_"+self.printPeriodo.PeriodoAnoFinal+".pdf");
            Swal.fire({
                position: 'bottom-start',
                type: 'success',
                title: 'Se descargó la nómina de '+self.printSeccion.SeccionNivel+' '+self.printSeccion.SeccionTipo+' '+self.printSeccion.SeccionNombre+' exitosamnte.',
                showConfirmButton: false,
                timer: 1500
            });
        },
    }
}
</script>