<template>
    <div class="w-100 mt-4 m-0 d-flex container-sidebar-ss">
        <div class="w-100 sidebar-icons">
            <router-link tag="p" to="/dashboard/alumnos" class="text-center fs-2 w-sid-icons text-right bg-info mb-0 pb-2"><span class="fs-2  icon-flotante">Alumnos</span><i class="fas fa-user-graduate fs-25 icon-image-fass bg-info"></i></router-link>
        </div>
        <div class="w-100 sidebar-icons">
            <router-link tag="p" to="/dashboard/secciones" class="text-center fs-2 w-sid-icons text-right bg-info pr-15px pb-2"><span class="fs-2  icon-flotante">Secciones</span><i class="fas fa-chalkboard fs-25 icon-image-fass bg-info"></i></router-link>
        </div>
        <div class="w-100 sidebar-icons">
            <router-link tag="p" to="/dashboard/periodos" class="text-center fs-2 w-sid-icons text-right bg-info pb-2"><span class="fs-2  icon-flotante">Año Escolar</span><i class="fas fa-calendar-alt fs-25 icon-image-fass bg-info"></i></router-link>
        </div>
        <div class="w-100 sidebar-icons mt-auto mb-5">
            <router-link tag="div" to="/dashboard/docentes" class="text-center fs-2 w-sid-icons text-right bg-info pb-2s"><span class="fs-2  icon-flotante">Docentes</span><i class="fas fa-user-tie fs-25 icon-image-fass bg-info"></i></router-link>
        </div>
     <!--   <div class="w-100 sidebar-icons">
            <p class="text-center fs-2 w-sid-icons text-right">PAPELERA <i class="fas fa-trash fs-2 ml-3"></i></p>
        </div> -->
    </div>
</template>
<style scoped>
.sidebar-icons{
    height:70px;
}
.container-sidebar-ss{
    flex-direction:column;
    flex-wrap:wrap;
    align-content:flex-start;
    height:calc(100vh - 80px);
    position:fixed;
    z-index:1;
    width:100px !important;
}
.w-sid-icons{
    position:absolute;
    right:0;
    -webkit-transition: all 1s; 
    transition: all 1s;
    white-space:nowrap;
    padding-right:25px;
    z-index:1;
    cursor:pointer;
    color: rgba(255,255,255,.5);
}
.pr-15px{
    padding-right:15px !important;
}
.icon-flotante{
    margin-right:50px;
}
.w-sid-icons:hover{
    transform: translate(calc(100% - 80px),0);
    -webkit-transform: translate(calc(100% - 80px),0);
    padding-right:10%;
    color:white !important;
}
.fs-25{
    font-size:3rem;
}
.icon-image-fass{
    -webkit-transition: all 1s; 
    transition: all 1s;   
    padding:0.5rem;
}
.w-sid-icons:hover ~ .icon-image-fass{
    transform:scale(2);
    transform:scale(2);
    border-radius:15px;
}
.w-sid-icons:hover > .icon-image-fass{
    transform:scale(2);
    transform:scale(2);
    border-radius:15px;
}
</style>